[2020-03-28 00:57] opurcell opened #592 "Clarification on Sundials variable step size option"
Hi,

In the documentation it states that: "Internally, CVODE features an adaptive timestep. However, unless variableStep is specified in the call to simulate(), the output will contain evenly spaced intervals." Does this mean that even if you don't use "variableStep = True", CVODE will still use a variable step but just interpolate (etc) to generate an output that is evenly spaced? Or does it caus

[2020-03-28 01:59] hsauro commented on #592
Yes CVODE uses smaller steps sizes in between the output intervals.
Variable step size is to help with output where you want a lot of steps at
the beginning but only few output steps near the end where the dynamics
aren't changing much. Internally COVDE will still do whatever it has to do
to minimize any errors.

Matthias Konig has used this feature a lot.

Herbert Sauro

On Fri, Mar 27, 2020 at 5

[2020-03-28 21:27] opurcell commented on #592
I see, that makes sense.

Thanks very much,

Oli

[2020-03-28 21:27] #592 closed, assigned to nobody

[2020-04-01 20:57] luciansmith opened #593 "No llvm 3.5 local version"
The docs at https://github.com/sys-bio/roadrunner/wiki/Building-from-Source claim to have a specially-fixed version of LLVM 3.5.2, but the download link to
http://students.washington.edu/andrewhu/llvm-edit-3.5.2.zip doesn't work.  Presumably, this is because roadrunner doesn't use 3.5.2 at all, and instead uses 6.0.1.  The bit about 3.5.2 should be removed.

[2020-04-01 21:22] luciansmith opened #594 "Precompiled llvm debug tar broken"
From https://github.com/sys-bio/roadrunner/wiki/Building-from-Source, there is a link to http://students.washington.edu/andrewhu/llvm-debug.tar.gz which is broken:  it seems to have been cut off and is smaller than it should have been.

I get the error:
[...]
llvm/bin/llvm-nm.exe
llvm/bin/llvm-objcopy.exe

gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in ar

[2020-04-01 21:24] luciansmith opened #595 "Provide .zip files instead of .7z files for Windows files"
Windows now comes with unzip features built into the OS.  As such, it doesn't make sense to provide .7z (7-zip) files, or, really, the .tar.gz files for Windows downloads.  Just provide the .zip's

(From https://github.com/sys-bio/roadrunner/wiki/Building-from-Source )

[2020-04-01 21:28] hsauro commented on #595
Agreed

Herbert

On Wed, Apr 1, 2020 at 2:24 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-04-01 22:38] matthiaskoenig opened #596 "Save and reload compiled roadrunner models"
Hi all,
I often have the problem that it takes very long to load models. Often much longer (10-100x) then actual simulating the model when the model become very large. This results in very long wait times for simulations to finish, because the model must be loaded first.

See for instance the attached model example which takes ~15 seconds to load, with subsequent simulation < 1s. I.e. I have to wa

[2020-04-01 23:04] hsauro commented on #596
You should be able to do this now with the latest version.

Andrew, what the API calls to save and load a binary snapshot?

Herbert

On Wed, Apr 1, 2020 at 3:41 PM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-04-01 23:05] andrewbriand commented on #596
The relevant two functions are indeed in libroadrunner 1.6.0, see https://libroadrunner.readthedocs.io/en/latest/api_reference.html#RoadRunner.RoadRunner.saveState.

Best,

Andrew

[2020-04-02 23:22] luciansmith commented on #593
Didn't realize I could edit this directly:  fixed.

[2020-04-02 23:22] #593 closed, assigned to nobody

[2020-04-02 23:22] luciansmith commented on #593
(Also fixed a subsequent mention of 3.5.2)

[2020-04-03 09:20] matthiaskoenig commented on #596
Thanks for the information.

Unfortunately, this is not what I am talking about. I still have to load the model in every core before being able to load the state!
I.e. to be able to use this I have to do:
[code]

[2020-04-03 10:14] matthiaskoenig commented on #596
Here an example to show the problem in parallelization in python. Everything in python which is truely parallel uses multiprocessing. To send data to the cores the data must be pickled. PySwigObjects cannot be pickled. As a consequence the SBML must be send to the cores. As a consequence every core must parse the model.

Here a minimal example with `ray` same issue with simple `multiprocessing` or

[2020-04-03 10:43] matthiaskoenig commented on #596
This issue is also related/the solution to #469, i.e. not allowing to have a copy/clone of a model. And to #260. The key underlying problem is that model objects cannot be serialized in python.
I.e. trying to pickle a roadrunner instance will fail (all parallelization using multi-processing is pickling the objects to send them to the different processes)

[code]
[code]

or copying
[code]
[code]

B

[2020-04-03 18:03] hsauro commented on #596
Correct you can't pickle roadrunner objects.

I think I see what you're saying, our savestate function doesn't save the
model itself just the state and that has to be loaded separately which is
what takes a long time

A binary save of the runnable model probably wouldn't be possible since
it's represented in machine code but it might be possible to save the model
before it gets rendered into machi

[2020-04-03 19:11] andrewbriand commented on #596
The saveState function *does* save the model, i.e. you do not have to load from an SBML file before calling loadState. I apologize for this being unclear in the documentation.

To load a save state without an SBML, you can do the following:

r = roadrunner.RoadRunner() #with no parameters
r.loadState("saveState.save")

[2020-04-03 23:47] luciansmith opened #598 "libroadrunner's cmake ignores LIBSBML_INCLUDE_DIR"
When libroadrunner's CMake system looks for libsbml includes, it uses 'THIRD_PARTY_INSTALL_FOLDER'.  It has a user-defined variable LIBSBML_INCLUDE_DIR but doesn't actually use it; it instead uses THIRD_PARTY_INSTALL_FOLDER/include/.

(Also, it uses THIRD_PARTY_INSTALL_FOLDER/include/sbml/, which it shouldn't:  most (maybe all?) of the SBML includes are of the form "#include <sbml/file.h>" , which

[2020-04-03 23:55] luciansmith opened #599 "The CMake system doesn't update LIBSBML_EXTRA_LIBS"
If you run CMake, you can set values for the iconv, zip, and bzip libraries by hand.  However, if you do so, the LIBSBML_EXTRA_LIBS doesn't go back and fill them in appropriately, and you end up with it equalling "ICONV_LIBRARY;BZ2_LIBRARY;ZLIB_LIBRARY" instead of filling itself in with the actual values of those three CMake variables.

It would be better, instead, to use the three library values

[2020-04-05 08:56] matthiaskoenig commented on #596
Thanks. This solves my issue.
The possibility to load the state in an empty model is important information missing in the documentation.

See performance with state loading below.
[code]

[2020-04-05 08:56] #596 closed, assigned to nobody

[2020-04-05 08:57] matthiaskoenig commented on #260
This can be easily solved by saving and loading the state (see discussion in #596)

[2020-04-05 08:57] #260 closed

[2020-04-05 08:58] matthiaskoenig commented on #469
This can be easily solved by saving and loading the state (see discussion in #596)

[2020-04-05 08:58] #469 closed, assigned to nobody

[2020-04-05 13:05] matthiaskoenig opened #600 "Support changing boundaryCondition for species (model change)"
A very common change I have to do in simulation experiments is changing the `boundaryCondition` flag of species. I.e. species should be treated as a boundary species for a certain part of the simulation and be clamped to constant value or a driving function for other parts of a simulation (`boundaryCondition=True`); or in other parts being floating species (`boundaryCondition=False`). A good examp

[2020-04-05 13:49] matthiaskoenig opened #601 "Add Reaction or AssignmentRule with symbol "time" in formula fails"
Adding reactions which use symbol `time` fail.
To reproduce use a model and assign a kinetic law which depends on time.
[code]
results in
[code]
Same problem with AssignmentRules.
[code]
`time` is a valid symbol in formulas.

[2020-04-05 18:32] hsauro commented on #601
Andrew, Steve, any comments on this?

Herbert

[2020-04-05 20:06] luciansmith commented on #601
Matthias, do you happen to know if 'time in an assignment rule or kinetic law' is in the test suite somewhere?  If not, it should go in.  If you don't know offhand, I can do the search myself; just thought you might possibly know.

[2020-04-06 05:07] hsauro commented on #601
Hi Herbert,

Sorry, but I don't have anything useful to add. I haven't actually run
roadrunner yet, but have been focusing on developing a build script that
will simplify compiling. So far, my script works on Mac, should work on
Linux, and works about halfway through on Windows. With luck, I can get the
second half to work on Windows tomorrow.

-Steve

On Sun, Apr 5, 2020 at 11:29 AM Herbert M Sau

[2020-04-09 18:59] luciansmith commented on #460
For the record: the new versions of the lines:
Math.h line 141:
      bool operator()(const Vector &A, const Vector &B) const {
Math.h line 389:
      bool operator()(const Matrix &A, const Matrix &B) const {
CostAllocator.h line 93:
      bool operator()(const PoolEntry* a, const PoolEntry* b) const {

[2020-04-10 10:10] matthiaskoenig commented on #601
@luciansmith I have no idea if this is in the test suite, but most likely should be. Roadrunner is supporting assignment rules with `time` on loaded models, it just does not work when adding such assignment rules via the model change api after model loading.

[2020-04-10 13:51] luciansmith commented on #601
Oh!  I had missed that the problem was only when adding something.  Thanks!

[2020-04-10 16:09] hsauro commented on #601
That’s correct, so it might be to hard to fix it.

[2020-04-13 23:03] luciansmith opened #602 "Build system doesn't allow you to not have bzip or zip"
bzip and zip are optional add-ins to libsbml; if they're present, they can be included, but they can be safely ignored.  It's possible to build libroadrunner-deps such that libsbml is built without either or both.  But it is not possible to build libroadrunner itself without one or both--it will complain and quit if either is absent.

[2020-04-15 18:46] luciansmith opened #603 "Investigate why ubuntu build seemed to require rtti to be on in llvm"
When compiling libroadrunner on Ubuntu, I was unable to compile libroadrunner without turning on rtti in llvm.  This was not required on Windows, nor was it required for other people compiling on the mac and even other linuxes, so this is mysterious, and needs some investigation.

[2020-04-21 21:25] luciansmith opened #604 "Reject SWIG 4+"
Our SWIG bindings are incompatible with SWIG 4, and only work with SWIG 3.  We can put in a check in the build system to fail if the SWIG version is too high.

[2020-04-21 21:29] hsauro commented on #604
Specify swing 3.0.12, accounting to Andy that's the minimum we should use
for supporting github modules (if I remember right).

Herbert

On Tue, Apr 21, 2020 at 2:25 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-04-24 21:52] evilnose commented on #564
I've pushed some changes to `ast-distrib` that fixes the distribution issue. As it took me quite a while to find the cause, I'll post a comment here in case someone encounters a similar problem in the future.

The issue is due to the difference between `engine` and `random`. `engine` is a Uniform Random Bit Generator (URBG), whose result is passed to distributions like `uniform_real` and `exponent

[2020-04-25 11:16] matthiaskoenig commented on #582
Could we have python3.8 support?

Current operating systems ship with python 3.8 by default (e.g. the Ubuntu 20.04 release from this week, latest MacOS, anaconda). I.e. most users with current operating systems cannot easily use libroadrunner via python.
This already created issues in some courses I taught last semester because we have to set up virtual environments for the students for them to be

[2020-04-27 16:12] hsauro commented on #582
This is something we could do.

Herbert

On Sat, Apr 25, 2020 at 4:17 AM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-04-27 17:10] hsauro opened #610 "Bug in assignment rules?"
There seems to be a bug in handling assignment rules when there is a single reaction, see script below:

      import tellurium as te

    r = te.loada("""
      // Bug: fails to update reaction rate if the species in the reaction rate
      // is computed from an assignment rule and there is only ONE reaction.
      // If there are two reactions it works

      # Inject sine wave into model

[2020-04-29 16:36] luciansmith commented on #528
This was fixed with https://github.com/sys-bio/roadrunner/commit/26deb2fce059d5cfe23ba81c42e42575f7a1c3be  The only remaining issue is that there didn't seem to be anything wrong with the function in question: throwing if you don't find the index should be perfectly fine.  But in this case, it clearly wasn't, and this might indicate a bug in VS and/or LLVM.  But it's not an issue for roadrunner an

[2020-04-29 16:36] #528 closed, assigned to luciansmith

[2020-04-29 17:32] luciansmith opened #611 "Fix the warnings"
Roadrunner now builds with a few hundred warnings, most of which have presumably accumulated over the years as compilers get more sophisticated and complain about new things.  We need to go through and fix them all, for several reasons:

* When there are that many warnings, developers ignore all of them, even when they might have indicated an actual problem.
* It implies that the codebase is slopp

[2020-05-01 04:43] evilnose commented on #610
Hi, just to clarify: what should be the expected behavior when a variable is both in an assignment rule and a reaction?

I'm asking because I tried to replicate this in SBML but I'm getting complaints that "Xo" cannot both be in an assignment rule and a reaction. I could also be missing something since it was not an exact replicate.

Gary.

[2020-05-01 04:57] luciansmith commented on #610
Xo has to be a boundary species in that case.  In the SBML file, you set the species to be 'boundaryCondition=true'; in Antimony you write "$Xo" in the reaction.
[onerxn_asnt.zip](https://github.com/sys-bio/roadrunner/files/4562542/onerxn_asnt.zip)

[2020-05-01 19:00] #575 closed, assigned to andrewbriand

[2020-05-01 19:00] #576 closed, assigned to andrewbriand

[2020-05-01 23:22] luciansmith commented on #610
Here are some simple models that demonstrate the problem.
[rxn_bug_vs_working.zip](https://github.com/sys-bio/roadrunner/files/4566609/rxn_bug_vs_working.zip)

[2020-05-04 17:05] luciansmith commented on #564
This fix is now merged into develop with https://github.com/sys-bio/roadrunner/pull/561

[2020-05-04 17:05] #564 closed, assigned to nobody

[2020-05-04 17:05] luciansmith commented on #530
Went ahead and added support for all the 'distrib' distributions, plus truncation.  https://github.com/sys-bio/roadrunner/pull/561

[2020-05-04 17:05] #530 closed, assigned to nobody

[2020-05-04 17:06] luciansmith commented on #89
Now incorporated into develop with https://github.com/sys-bio/roadrunner/pull/561

[2020-05-04 17:06] #89 closed

[2020-05-04 17:26] luciansmith commented on #476
I'm trying to clean up old issues/branches, and I can't quite tell:  there's a 'fix-476' branch which it looks like you used to investigate this bug, but was the underlying issue with the ASTNodes fixed in develop instead?

[2020-05-04 18:27] #574 closed, assigned to andrewbriand

[2020-05-04 20:20] hsauro commented on #476
We need to ask Andrew about this one.

H

On Mon, May 4, 2020 at 10:27 AM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-05-04 22:06] luciansmith commented on #573
So, it turns out that 789 and 791 are invalid SBML L3v1, but in L3v2, event assignments can actually be empty.   Fixed this with https://github.com/sys-bio/roadrunner/commit/3ec05e2e5cf7520753343b6f539a878a1ff844ea
The 'corrupt function' issue was already fixed.  So at this point, all five should be readable by the 'develop' branch.

[2020-05-04 22:06] #573 closed, assigned to andrewbriand

[2020-05-04 22:35] luciansmith commented on #581
Was this fixed?  There's a https://github.com/sys-bio/roadrunner/tree/issue-581 branch, but it's not been merged into develop.

[2020-05-04 22:40] luciansmith commented on #550
The state-saving branch has been merged into develop, so I'm closing this issue.  If people want simulation pausing, we should open a new issue for that.

[2020-05-04 22:40] #550 closed, assigned to andrewbriand

[2020-05-04 22:46] luciansmith commented on #529
Is this issue resolved?  https://github.com/sys-bio/roadrunner/pull/555 merged the 'absolute-tolerances' branch a while back, and it's now in develop.

[2020-05-04 22:56] hsauro commented on #581
Pass it by Jin xu, she might know. Cced on this

[2020-05-04 23:14] matthiaskoenig commented on #529
With the latest pip release I still have the issue. But did not try the develop version yet. I wanted to try the distrib features and will check the tolerances issue also.

[2020-05-04 23:16] hsauro commented on #581
Prof. Sauro and Lucian,

I have never heard about this branch. But when I compiled the dll file
recently by ‘git clone https://github.com/sys-bio/libroadrunner-deps.git'
and ‘git clone https://github.com/sys-bio/roadrunner.git', the bad sbml has
never happened again. Hope this helps.

Sincerely,

Jin

On Mon, May 4, 2020 at 3:55 PM Herbert M Sauro <hsauro@uw.edu> wrote:

[2020-05-04 23:20] luciansmith commented on #529
Great!  Everything should now be merged into 'develop'.  Thank you!

[2020-05-04 23:23] hsauro commented on #581
Great!  Do you have the code that used to fail?  I'll add it as a test.

-Lucian

[2020-05-04 23:28] hsauro commented on #529
I thought the tolerances work had already been deployed but perhaps not.

Herbert

On Mon, May 4, 2020 at 4:20 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-05-04 23:28] hsauro commented on #581
If I remember right, it was generating missing modifiers in the SBML, is
that right Jin?

Herbert

On Mon, May 4, 2020 at 4:23 PM Lucian Smith <lucianoelsmitho@gmail.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-05-04 23:32] hsauro commented on #581
Prof. Sauro,
Yes, something was missing in the generated SBML file.
Hi Lucian,
I do not have the 'previous version' of roadrunner. If my memory is
correct, it was Andrew Briand who fixed this problem. He might help more.
Sincerely,
Jin

On Mon, May 4, 2020 at 4:26 PM Herbert M Sauro <hsauro@uw.edu> wrote:

[2020-05-04 23:43] matthiaskoenig commented on #530
@luciansmith This is great news. Thanks so much, was waiting for this.

[2020-05-04 23:56] luciansmith commented on #581
OK, given that the branch has no changes from develop, and that Jin has has no problems recently, I'm going to assume that the branch was merged and tests added appropriately.

[2020-05-04 23:56] #581 closed, assigned to andrewbriand

[2020-05-05 00:48] hsauro commented on #581
We can always reopen if the bugs comes back.

[2020-05-06 10:18] matthiaskoenig opened #612 "Incorrect handling of amounts and concentrations in `getCurrentSBML`"
There seems to be a major bug with amounts and concentrations when using `getCurrentSBML` (reported below). I noticed the same strange behavior when trying to copy state manully between models by using `getCurrentSBML`.

This definitely looks like a bug in the handling of amount and concentration of SBML species.SBML species have a flag `hasOnlySubstanceUnits` which indicates if the species is in

[2020-05-06 10:55] matthiaskoenig commented on #612
Probably a duplicate of #572

[2020-05-06 16:22] hsauro commented on #612
This should be fixed asap.

Herbert

On Wed, May 6, 2020 at 3:56 AM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-05-06 17:33] luciansmith commented on #612
I think I found it; checking now...

[2020-05-06 20:21] #612 closed, assigned to nobody

[2020-05-06 20:23] luciansmith commented on #612
This is now fixed in develop!

[2020-05-07 09:00] matthiaskoenig commented on #612
Great news. @luciansmith could you check if this fixes also #572 and close the issue also. I am very sure this is the same bug.

[2020-05-07 17:15] luciansmith commented on #572
After the previous fix, we now get:

    sbml
    <tesbml.libsbml.Species; proxy of <Swig Object of type 'Species *' at 0x000001E25484B4B0> >
    initial concentration:  5.0
    initial amount:  nan
    --------------------------------------------------------------------------------
    roadrunner
    <tesbml.libsbml.Species; proxy of <Swig Object of type 'Species *' at 0x000001E25484B480> >
    i

[2020-05-07 20:37] luciansmith opened #613 "Require CMake 3.12"
CMake 3.12 includes far-reaching changes in how CMake finds Python.  These changes will be required for changes that Andy is making to the build system, so should be incorporated now so that people are ready later.

[2020-05-07 21:43] #613 closed, assigned to nobody

[2020-05-07 23:51] matthiaskoenig commented on #572
This works for me. Thanks.

[2020-05-07 23:51] #572 closed, assigned to nobody

[2020-05-09 19:55] debashish05 opened #614 "libsbml.dll is not creating while building from source"
When we build libroadrunner-deps from source, no libsbml.dll file is creating in roadrunner/site-package/roadrunner/. It won't be any problem if we are working with roadrunner only. But when we work with rrplugins (auto2000 for bifurcation analysis) and try to import rrplugins, "from rrplugins import * ", It gives runtime error "can't find telplugins_c_api library".

To solve this issue I used lib

[2020-05-09 20:04] hsauro commented on #614
That looks like a dll import issue, ie there is a missing dll.

[2020-05-09 20:06] debashish05 commented on #614
Yes there is a missing dll

[2020-05-09 20:11] debashish05 commented on #614
Just noticed that libsbml.dll is creating under roadrunner/bin/ and it is working fine if we manually copy that libsbml.dll file to the location site-package/roadrunner. It is working fine with the tellurium version as well.

[2020-05-18 20:52] evilnose opened #616 "Potential optimization of LLVMExecutableModel::getReactionRates()"
The previous optimizations in LLVMExecutableModel::getReactionRates() attempt to not re-calculate reaction rates when they are updated. However, they fail to account for assignmentRules of boundary variables and would not re-calculate when in fact some variables have changed (see #610). Additionally the bug was present in reaction rates with only time as a variable. Therefore these optimizations a

[2020-05-19 20:29] #610 closed, assigned to luciansmith, evilnose

[2020-05-19 21:57] evilnose commented on #505
Closed as roadrunner now supports 3.7. Updated issue in #582

[2020-05-19 21:57] #505 closed, assigned to nobody

[2020-05-20 23:33] #366 closed, assigned to 0u812

[2020-05-21 21:59] #583 closed, assigned to andrewbriand

[2020-05-22 20:50] evilnose commented on #577
It looks like the limit to output is governed by the config variable MAX_OUTPUT_ROWS, e.g. to set

[code]

Currently it shows as a warning, though the typo is still there. Should I increase/remove the limit?

[2020-05-22 22:46] hsauro commented on #577
It does and I never liked that there was a limit. I suppose it was put here
because roadrunner declares an array of the right size and over 20,000 uses
up too much memory?

I've cc this to Kiri he might have an answer.

Herbert

On Fri, May 22, 2020 at 1:51 PM Gary Geng <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio

[2020-05-23 03:19] kirichoi commented on #577
I believe it is an arbitrary limit to make sure the output is not too big. I don't think 20000 has any meaning behind it.

[2020-05-23 03:40] hsauro commented on #577
The stochastic side of roadrunner probably needs a rework. A better
strategy would be to set up a call back system so that instead of results
being stored they are routed through the call back, the user can then
decide what to do with the data.

For know increase the default limit to 40,000 and fix the typo. I can add a
github issue to remind us to revisit this another time. Unless Gary you
want t

[2020-05-23 05:36] evilnose commented on #577
Sure, I will take a look and try to improve it.

[2020-05-23 08:36] matthiaskoenig commented on #577
Perhaps a setting on the integrator would be nice which would allow users
to increase the limit if they reach it.

On Sat, May 23, 2020 at 7:36 AM Gary Geng <notifications@github.com> wrote:

--
Matthias König, PhD.
Junior Group Leader LiSyM - Systems Medicine of the Liver
Humboldt Universität zu Berlin, Institute of Biology, Institute for
Theoretical Biology
  https://livermetabolism.com
konigmat

[2020-05-24 21:54] evilnose commented on #577
I can add a setting for all integrators, e.g.
```r.setIntegratorSettings('gillespie', 'override_max_output_rows', 100000```
would allow the simulation to output 100,000 rows instead of the default 40,000 (and a negative value would indicate use default). Would that work?

And to clarify the Gillespie callback, is the idea for the user to pass a function that is called every fixed number of time st

[2020-05-25 19:33] evilnose commented on #445
Hi Kiri, may I close this?

[2020-05-26 03:56] kirichoi commented on #445
I think rk45 solver cannot handle assignment rules properly. I don't think this is a priority anymore but should be investigated sometime.

[2020-05-26 06:45] matthiaskoenig commented on #445
If there is an issue it should be picked up by the SBML test suite. I.e. in the continious integration testing the SBML TestSuite should be run with the various integrators, i.e.
- run all deterministic tests with all deterministic integrators
- run all stochastic tests with all stochastic integrators

[2020-05-26 18:48] hsauro commented on #577
That would work.

Correct, the user would have to pass a function that would be called each
time there is a data point. Not sure how this might work from python
however.

The reason is to save memory. An alternative is to have an option to write
the data out to a file instead of it being stored. That might be easier to
do. The user can then load the data afterwards for subsequent analysis.

Herber

[2020-05-26 20:36] evilnose commented on #577
Got it. Say then we add an option for user to save output to a file. Would it be helpful for all integrators to have that option, or is just the stochastic one enough?

Gary.

[2020-05-26 20:52] hsauro commented on #577
I think it would be helpful to have such functionality for all integrators.

H

On Tue, May 26, 2020 at 1:40 PM Gary Geng <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-05-26 21:14] evilnose commented on #577
OK, then I think the most natural syntax would be to add it as an key-value argument to `simulate()`, i.e.
```r.simulate(0, 40, output_file="result")```
To do that I'll have to modify `SimulateOptions`, but the comment on top of the class says "This class is frozen, no new features". Does that mean I shouldn't modify it?

Alternatively I can add the option as integrator settings, but I feel that i

[2020-05-26 21:34] hsauro commented on #577
That change would make sense. Do you know who added the statement that the
class is frozen? If so we should ask them why.

H

On Tue, May 26, 2020 at 2:16 PM Gary Geng <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-05-26 21:41] evilnose commented on #577
git blame says it was @0u812 . Hi Kyle, do you remember why SimulateOptions in rrRoadRunnerOptions.h is frozen?

[2020-05-27 00:52] hsauro commented on #445
I agree, rk45 should be tested against the test suite to see where it
stands.

On Mon, May 25, 2020 at 11:45 PM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-05-27 19:15] luciansmith opened #617 "Distrib models won't run in debug mode"
llvm complains about the functions used for distrib, a la:

        Global is external, but doesn't have external or weak linkage!
        double (i8*, double, double)* @rr_distrib_uniform

This is due to a check run in an 'assert', which doesn't fire in release mode.  And the functions are clearly actually defined, as in release mode, they fire and everything works fine.  So we need to find a way

[2020-05-28 17:51] luciansmith commented on #617
Posted this question to https://llvm.discourse.group/t/how-to-tell-the-llvm-6-jit-executionengine-that-a-function-exists/1147

In the meantime, I commented out the assert from llvm, which lets things work normally.  This is not  a long-term solution, however.

[2020-05-29 23:47] #604 closed, assigned to nobody

[2020-06-01 21:50] evilnose commented on #601
resolved by https://github.com/sys-bio/roadrunner/commit/b0d54c23e52cf10652ed14e045db474b84763398

[2020-06-01 21:50] #601 closed, assigned to nobody

[2020-06-02 00:09] 0u812 commented on #577
Hi Gary, sorry for the delay. The basic idea is to shift away from simulateOptions since it’s not user-facing. It was an old method for specifying the simulation start/end time, and integrator options. Now those parameters are either passed to the simulate function itself or set in the integrator, e.g. RoadRunner(...).integrator.absolute_tolerance = ...

[2020-06-02 00:28] 0u812 commented on #577
The idea was to obsolete simulateOptions and eventually get rid of it. I think that message was just to warn people not to add things to the class because they would eventually go away. However, it would take a lot of refactoring to completely remove it from the code.
For this change, you could modify the signature of the [RoadRunner C++ simulate method](https://github.com/sys-bio/roadrunner/blob/

[2020-06-02 19:41] evilnose commented on #577
No problem Kyle. That makes sense - thanks for explaining.

I actually have a working version of the output_file with SimulateOptions, so I think I will go with that for now. I'll add an issue to refactor it along with the rest of the arguments in the future, since it is probably easier to do it all in one go.

[2020-06-03 19:46] #577 closed, assigned to nobody

[2020-06-03 19:46] #584 closed, assigned to andrewbriand

[2020-06-03 21:36] evilnose opened #621 "setValue() and Python setter produce different results"
See below, with BIOMD 48

[code]

[2020-06-04 13:19] OleksiiR commented on #582
Dear all, just wanted to confirm that package for python3.8 is strongly needed. Installing libroadrunner on systems having python3.8 by default is indeed a problem.

[2020-06-04 21:44] hsauro commented on #582
We looking at this build at the moment.

Herbert Sauro

On Thu, Jun 4, 2020 at 6:20 AM OleksiiR <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-06-04 23:34] matthiaskoenig commented on #582
@OleksiiR Workaround for now is to create a python virtual environment or conda environment with python 3.7 and install roadrunner within the environment. This should only take a few minutes to setup. If you need any help with that please let us know. Then I can post some instructions here.

[2020-06-11 21:01] luciansmith opened #625 "Update NumPy API to not use deprecated elements"
A few things we use from the NumPy API have been deprecated.  I changed the obvious things, but there is still an issue where if you create a new NumPy array, it gives you a 'PyObject' but where you use it, you need a 'PyArrayObject'.  There doesn't seem to be a lot of information on this change online, but I did see one place that converted between the two with a 'reinterpret_cast', i.e.:

[2020-06-11 22:49] luciansmith commented on #611
Fixed with https://github.com/sys-bio/roadrunner/commit/80475524eb7449ad691cc0417b46227c0981b315

[2020-06-11 22:49] #611 closed, assigned to nobody

[2020-06-11 22:56] luciansmith commented on #552
Added a rule to CMakeLists.txt to reject SWIG 4.0+

[2020-06-11 22:56] #552 closed, assigned to nobody

[2020-06-14 22:40] hsauro opened #626 "Run a memory leak check on the lastest libroadrunner"
Run a memory leak check on the latest libroadrunner before we do a new release. If you're not sure how to do it, ask Andy, he did it last. not sure if Gary is on this list?

[2020-06-18 18:30] luciansmith opened #627 "Decide whether to warn or throw error when uninitialized parameter present"
In testing SBML test suite models, some of them have algebraic rules that determine the values of global variables.  Roadrunner is content to ignore the algebraic rules, but when it finds the variable, it panics.  In LLVMModelSymbols.cpp:

                Log(Logger::LOG_WARNING) << "Global parameter, \'"
                        << param->getId() << "\' missing value and missing init "

[2020-06-19 18:14] luciansmith opened #629 "Fix uninitialized jumps"
Running roadrunner through valgrind revealed a variety of uses of uninitialized values.  These need to be set in the constructors.

[2020-06-21 02:28] evilnose commented on #621
addressed by 7f8540c

[2020-06-21 02:28] #621 closed, assigned to evilnose

[2020-06-21 03:31] evilnose commented on #578
It looks like the roadrunner docs on this are up-to-date, but the tellurium one is [not](https://tellurium.readthedocs.io/en/latest/tellurium_methods.html#stochastic-simulation).
I just need to delete two lines of code -- should I make a PR over there?

[2020-06-22 18:55] luciansmith commented on #629
Many of these were in clapack, which was fixed with https://github.com/sys-bio/libroadrunner-deps/commit/b4d642a1eab04dcde6b18d16d2eb0d20bde50249

A few more fixed with https://github.com/sys-bio/roadrunner/commit/8f71930252c9ff19323a25cf822400b40c490196

[2020-06-22 22:55] luciansmith commented on #578
This is slightly odd--if I remember correctly, there was some functionality added to roadrunner's python bindings *with Tellurium* itself, meaning that the roadrunner docs are accurate if all you have is roadrunner, and the tellurium docs are accurate if all you have tellurium.

While interesting, this seems like a terrible interface to me--I would rather see any new roadrunner functionality added

[2020-06-22 23:09] hsauro commented on #578
I think you’re right that the functionality, where possible should be moved
from tellurium to roadrunner.

What examples do you have?

Ps I notice I can’t get a rate law from roadrunner for a give reaction. I
can add one but can get one back. Currently I’m getting the sbml,
converting into to antimony then extracting the ratelaw that way. I guess I
could load into libsbml but then I have to rememb

[2020-06-22 23:27] luciansmith commented on #578
Well, the immediate example is that the gillespie function was given a 'seed' argument in Tellurium that doesn't exist in vanilla roadrunner.  That seems like a simple enough feature to test the approach with.

[2020-06-23 20:56] hsauro opened #632 "Add getKineticLaw to match the setKineticLaw"
Add getKineticLaw to match the setKineticLaw in the roadrunner api

[2020-06-23 20:57] hsauro opened #633 "Add a clone method to libroadrunner"
libroadrunner can save and load a model state to a file.

Use this kind of capability to create a clone method to clone a roadrunner instance.

[2020-06-24 00:44] luciansmith commented on #632
Done with https://github.com/sys-bio/roadrunner/commit/77cea40428fe4d2dede6321454899309c07f7955

[2020-06-24 00:44] #632 closed, assigned to luciansmith

[2020-06-25 00:12] luciansmith commented on #629
And with a few other passes through valgrind, there are no other uninitialized jumps left.

[2020-06-25 00:12] #629 closed, assigned to luciansmith

[2020-06-25 00:15] luciansmith commented on #614
This can be fixed with CMake--I'll do that.

[2020-06-26 00:28] luciansmith commented on #633
Just checked in a change that will allow:

rr = roadrunner.RoadRunner("C:/Users/Lucian/Desktop/libroadrunner-develop/herb.xml")
rr2 = roadrunner.RoadRunner(rr)

In other words, the RoadRunner constructor can now take a RoadRunner object as an argument to create a clone of it.

Will this work?

[2020-06-26 00:40] hsauro commented on #633
Yes that should work.

H

On Thu, Jun 25, 2020 at 5:29 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-06-26 12:35] debashish05 opened #641 "RRPlugins cmake not able to find LIBXML2_INCLUDE_DIR and have to explicitly provide the path"
While building rrplugins there is a cmake script that finds libxml2 (files https://github.com/sys-bio/rrplugins/blob/master/cmake/Modules/FindLibXml2.cmake). But it is unable to find the files since the include files are not copying in the install folder. The files are https://github.com/sys-bio/libroadrunner-deps/tree/master/third_party/dependencies/libsbml/include/libxml. And rrplugins is not ab

[2020-06-26 17:01] luciansmith commented on #641
My feeling is that roadrunner shouldn't re-install libxml2 in its own install folder.  Instead, rrplugins should look in the roadrunner-deps install folder, and/or use the system installation (especially for non-Windows systems).

In our current suggested setup, you would find the include path in INSTALL_FOLDER/roadrunner-deps/include/

[2020-06-26 17:02] luciansmith commented on #633
Fixed with https://github.com/sys-bio/roadrunner/commit/9dc566297b94fb0b90314da648e0b5573d57d9a6

[2020-06-26 17:02] #633 closed, assigned to luciansmith

[2020-06-26 18:09] debashish05 commented on #641
Actually roadrunner is not installing anything. Non-llvm dependency is installing. And roadrunner-deps install folder is same as the roadrunner. There is no folder called roadrunner-deps. There is roadrunner/includ/ which contains all 3rd party dependencies. I think I am missing something.

[2020-06-26 23:02] luciansmith opened #643 "Handle non-named variable stoichiometries"
A SpeciesReference *may* have an ID, but in L2, it may also have a StoichiometryMath.  If it has the latter but not the former, this means that we have a variable in the model that has no ID.

This turns out to be a problem, since at some point, we assume that only named things are variable, and don't check for unnamed-but-variable species references.  This results in failing the SBML test suite f

[2020-06-27 00:39] hsauro commented on #643
If it doesn't affect the end-user, which by the sounds of it, it doesn't,
just take the least disruptive to the software, eg number 2 doesn't sound
too good but one sounds like a good option.

Herbert

On Fri, Jun 26, 2020 at 4:02 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books

[2020-06-30 15:49] luciansmith commented on #476
The c/v bug is now fixed such that 1198 now runs through without crashing, but it is still numerically off from the expected results.

[2020-07-06 13:42] Karrenbelt opened #651 "Include ncurses with rr release on linux"
I setup an empty virtual environment using python3.7 and installed libroadrunner, but I get an error on import.
I'm using Ubuntu 19.10

➜  test git:(master) ✗ python3.7 -m venv venv
➜  test git:(master) ✗ source venv/bin/activate
(venv) ➜  test git:(master) ✗ pip install libroadrunner
Collecting libroadrunner
  Using cached https://files.pythonhosted.org/packages/36/b4/dbddd02810a1d5898bdb18ecffa9

[2020-07-06 19:22] hsauro opened #652 "Bug when computing jacobian on a simple model"
import tellurium as te
import roadrunner

r = te.loada("""
      x' = -k1*x

      x = 10; k1 = 0.1
""")

r.getFullJacobian()

Yields the following error

  File "<ipython-input-7-dc8941af2002>", line 1, in <module>
    r.getFullJacobian()

  File "C:\Tellurium-Winpython-3.7\python-3.7.4.amd64\lib\site-packages\roadrunner\roadrunner.py", line 2847, in getFullJacobian
    return _roadrunner.RoadRun

[2020-07-06 19:47] hsauro opened #653 "Provide example in docs on how to use r.model.setFloatingSpeciesConcentrations"
I couldn't figure out how to use the method:

r.model.setFloatingSpeciesConcentrations

either that or it doesn't work.

r.model.setFloatingSpeciesConcentrations(np.array([1]))
Traceback (most recent call last):

  File "<ipython-input-40-ba48518db726>", line 1, in <module>
    r.model.setFloatingSpeciesConcentrations(np.array([1]))

  File "C:\Tellurium-Winpython-3.7\python-3.7.4.amd64\lib\site-p

[2020-07-06 21:27] matthiaskoenig commented on #651
Hi @Karrenbelt,

this is a common error I see on clean linux machines. Roadrunner requires the `libncurses` library installed on the system. This is not packaged as part of libroadrunner. Installing `libncurses` will solve the issue.
See for instance https://www.cyberciti.biz/faq/linux-install-ncurses-library-headers-on-debian-ubuntu-centos-fedora/

@hsauro @luciansmith Any chance this can be pack

[2020-07-06 22:52] hsauro commented on #651
Yes agree, we heard about his also from another group this morning.

Herbert

On Mon, Jul 6, 2020 at 2:27 PM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-07-09 04:58] luciansmith commented on #627
Herbert says:  definitely throw an error.

[2020-07-16 21:20] evilnose commented on #653
For the model
[code]
it seems that roadrunner does not consider "x" to be a floating species but rather a global parameter. Therefore there are no floating species at all.

I think that one would need to make "x" part of a reaction to make it a species? In any case one can also do

[code]

The error message is a bit opaque, though. What about "attempted to access floating species id at index 0, bu

[2020-07-16 21:40] hsauro commented on #653
We'll have to think about this a bit more. Let's wait until Lucian gets
back.

[2020-07-17 11:13] matthiaskoenig commented on #653
The current behavior makes sense, but should be documented.
I.e. if a RateRule is added to a model the changing variable (state
variable) should be a parameter by default.
Only if the user assigns a different object type to the RateRule variable
it should be a different type such as species or compartment.

# parameter rate rule
x' = -k1*x
x = 10; k1 = 0.1

# species rate rule
species x
x' = -k1*x

[2020-07-17 12:03] matthiaskoenig opened #654 "libroadrunner 2.0.0 crashes with old state files in python"
I just updated some workflows to libroadrunner 2.0.0 but see crashes with old state files in python.
I.e. if one uses a libroadrunner state file created with 1.6.1 version 2.0.0 crashes.

[code]
There should be a check if the state file is supported and and error be raised, but not a complete crash of the python interpreter. This would allow me to check if a state file is incompatible with the cur

[2020-07-17 22:42] evilnose commented on #230
Hello, I'm looking to clean up this old issue. I loaded the given model in C, and `getAvailableSteadyStateSymbols` seems to work fine (i.e. returned a nested list like the one shown above). If I'm getting this right, the issue must have been resolved?

[2020-07-17 22:51] hsauro commented on #230
Close it..

[2020-07-17 22:51] #230 closed

[2020-07-20 15:45] evilnose commented on #516
It looks like `getEventIds` calls `getIds`, in which the code for adding Event IDs were commented out in [this commit](https://github.com/sys-bio/roadrunner/commit/b6b97a5a95871de4e8f2c209fc02a04cfd764db3), which fixes #440 (LS EDIT: not 444) .

Should this be the desired behavior of `getIds()`? Right now I could either un-comment the code that adds the Event IDs and thus revert the previous commi

[2020-07-20 23:09] matthiaskoenig commented on #654
Nothing to fix here. I found some workarounds using a combination of file hash and roadrunner version to ensure that state files are tagged with the roadrunner version.

[2020-07-22 17:58] evilnose commented on #251
The reason seems to be that `getScaledFluxControlCoefficientMatrix()` divides each element of the unscaled matrix by a reaction rate, but one of the reaction rates is zero, i.e.

[code]
One of the reactions `bB` has a rate of zero, since its rate is proportional to `B - B_ext`, which is zero. Is it the expected behavior to fail here? I'm not sure if the correct scaling is done.

On a related note,

[2020-07-22 18:24] hsauro commented on #251
Yes, it should throw a division by zero, it there also anyway for it to
report the bad reaction that has a rate of zero?

Herbert

On Wed, Jul 22, 2020 at 10:59 AM Gary Geng <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-07-22 20:01] evilnose commented on #251
Yes, I can get the ID of the reaction and display it. Should I do the same for `getCC()` for when the amount of the variable is 0?

[2020-07-22 20:12] hsauro commented on #251
Yes that would be useful.

H

On Wed, Jul 22, 2020 at 1:03 PM Gary Geng <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-07-24 18:43] langmm opened #656 "PyPI Release for MacOS"
I was just wondering if there are any plans to release libroadrunner 2.0.0 on PyPI for Mac? I noticed some differences in answer tests for a package using libroadrunner between Mac and Linux/Windows after the recent update to 2.0.0 and then noticed that libroadrunner hasn't put out a release on PyPI for Mac since 1.5.4. Is the intention to no longer produce Mac releases on PyPI? - Thanks

[2020-07-24 18:52] hsauro commented on #656
There are definitely planning to do that. We did do a preliminary release
for the Mac but it doesn't install correctly on the last Mac OS so we're
looking into that now. Hopefully we have something a week or two.

Herbert Sauro

On Fri, Jul 24, 2020 at 11:44 AM Meagan Lang <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-

[2020-07-24 18:55] hsauro commented on #656
Yup!  I am actually working on this as we speak.  I actually have some
wheel files for Catalina, but for the actual release, we want to use an
earlier version of MacOS so as to be more compatible for a variety of users.

-Lucian

On Fri, Jul 24, 2020 at 11:48 AM Herbert M Sauro <hsauro@uw.edu> wrote:

[2020-07-24 20:52] luciansmith commented on #516
I think we should say that 'getIds' returns the IDs of everything in the model with mathematical meaning.  Since events do not, I would say to solve it using your second option: modify the function to call `symbols->getEventIds` directly.

[2020-07-24 21:10] luciansmith commented on #653
I also think we should update the error message.  Something like "attempted to access floating species id at index 0, but there are 0 floating species" might work, but the problem is that thinking in zero-indexed values is not very natural for a biologist:

"Attempted to access floating species at index 1 but there is 1 floating species."

looks like roadrunner is at fault, and only computer scien

[2020-07-24 21:13] luciansmith commented on #653
@matthiaskoenig : is there a place in the documentation that you think should be updated?  I'm not sure where the best point would be.

[2020-07-25 10:44] matthiaskoenig commented on #653
@luciansmith This is clearly a model building issue which is part of antimony. So I would document this within the tellurium antimony documention.
I.e. add a section in
https://tellurium.readthedocs.io/en/latest/antimony.html#examples
which describes RateRules, for instance along the lines of

---

# RateRules
Rate rules allow to define changes in species, parameters or compartments over time by p

[2020-07-26 19:22] hsauro opened #657 "'Unknown exception' issued when parameter is not initialized"
Try this model

r = te.loada("""
   J1: S1 -> S2; k0 + k1*S1
   J2: S2 -> S3; k2*S2

   S1 = 1; S2 = 0; S3 = 0;
   k1 = 0; k2 = 0;
   k1 = 0.45; k2 = 0.15;
""")

and you get  (I presume its because k0 hasn't been initialized,) Is this related to previous questions you've ben asking? Perhaps it's fixed in the code but not yet released?

Traceback (most recent call last):

  File "D:\Documents\Summe

[2020-07-27 18:07] evilnose commented on #657
Yes, I think it's because `k0` is not initialized. I've fixed the error message in [this](https://github.com/sys-bio/roadrunner/pull/655) open PR, and once it's merged the error should say

"RuntimeError: Global parameter 'k0' missing value and missing init assignment and assignment rule!"

[2020-07-27 18:54] hsauro commented on #657
That’s better.

[2020-08-07 01:53] luciansmith commented on #656
OK!  I now have versions of roadrunner and the other tellurium dependencies up at the test.pypi site.  After we do some more testing, I'll upload these wheels to the main pypi site, and all you should need is 'pip install tellurium' (or 'pip install libroadrunner' if that's all you need.)  If you would like to try it out now, this is what you'll need:

[code]

[2020-08-14 20:43] evilnose commented on #657
The mentioned PR was merged.

[2020-08-14 20:43] #657 closed, assigned to luciansmith, evilnose

[2020-08-14 20:46] evilnose commented on #653
Addressed in tellurium PR [#462](https://github.com/sys-bio/tellurium/pull/462).

[2020-08-14 20:46] #653 closed, assigned to luciansmith, evilnose

[2020-08-14 20:48] evilnose commented on #627
Addressed in #655.

[2020-08-14 20:48] #627 closed, assigned to nobody

[2020-08-14 20:52] evilnose commented on #566
Resolved in #655.

[2020-08-14 20:52] #566 closed, assigned to andrewbriand

[2020-08-18 18:31] #643 closed, assigned to luciansmith

[2020-08-18 18:33] luciansmith commented on #643
With this fix, we now pass 12 more test suite tests.

[2020-08-18 22:04] #520 closed, assigned to mengfy0718

[2020-08-18 22:05] #377 closed, assigned to nobody

[2020-08-18 22:06] #475 closed, assigned to nobody

[2020-08-19 20:31] luciansmith commented on #363
It's possible to get the Antimony string from Tellurium directly; will that work for this?

[2020-08-19 21:12] luciansmith commented on #284
I am going to claim that the event tests in the SBML test suite itself are sufficient.

[2020-08-19 21:12] #284 closed

[2020-08-19 21:14] luciansmith commented on #281
I think this is probably best handled as a model checking step, which is not really roadrunner's purview, but instead belongs to something like km_test.  I've filed an issue over there (https://github.com/sys-bio/km_test/issues/9) and am closing this for now, but do re-open if you disagree.

[2020-08-19 21:14] #281 closed

[2020-08-19 21:16] luciansmith commented on #259
I spent a fair amount of time removing the warnings from roadrunner to the point where most platforms now issue no warnings, or at least much fewer than they used to.

[2020-08-19 21:16] #259 closed

[2020-08-20 05:38] luciansmith commented on #292
Fixed with https://github.com/sys-bio/roadrunner/pull/668

[2020-08-20 05:38] #292 closed

[2020-08-20 05:38] luciansmith commented on #294
Fixed with https://github.com/sys-bio/roadrunner/pull/668

[2020-08-20 05:38] #294 closed

[2020-08-20 05:38] luciansmith commented on #297
Fixed with https://github.com/sys-bio/roadrunner/pull/668

[2020-08-20 05:38] #297 closed

[2020-08-20 05:42] luciansmith commented on #201
These tests are now in the SBML Test Suite itself.  We don't pass all of them yet, but the tests are there.

[2020-08-20 05:42] #201 closed

[2020-08-21 00:35] luciansmith commented on #654
It looks like this is due to an exit(1) call from LLVM.  This seems like a less than ideal feature of a library; I've now created our own fork of llvm so that we can change this and a couple other things that needed changing.

[2020-08-21 09:54] CiaranWelsh opened #669 "Idea for SBMLFactory class in roadrunner tests."
I had a thought about how we could tidy up the dependency of tests on external files in roadrunner. At the moment we need to have lots of `*.xml` files which get used by various tests. This isn't necessarily a problem, but I can think of several reasons why is not optimal. The most obvious is that the tests depend on external files so if they get accidently deleted they will break. More subtly, ov

[2020-08-21 15:50] luciansmith commented on #669
I've actually often found it useful to have the files themselves available:  if I'm testing a new thing or if an old test breaks, having the file there means that I can use it directly in tellurium/antimony to check it out in other contexts.

[2020-08-21 16:56] CiaranWelsh commented on #669
No problem, it was just an idea - I tend to try and have all data for tests inside code, rather than auxillary files - but I admit there could be pragmatic reasons not to. Feel free to close the issue if you think the "sbml-in-files" approach is better.

[2020-08-23 16:04] luciansmith commented on #669
I appreciate the idea!  I'll leave it open a bit to ruminate on, and we might do something along these lines in the end after all.

[2020-08-29 14:48] CiaranWelsh opened #671 "Automate the packaging of roadrunner distributions"
I've recently learnt that it is possible to automate the packing of software using CMake and CPack and that it is in fact quite easy. You basically set some variables inside cmake, then do `include(CPack)` which will create a `CPackConfig.cmake` file in your binary tree. Then on the command line you can do:

[code]
other generators include `WIX` for a .msi installer, `DEB` for debian, `TGZ` for ta

[2020-09-08 20:55] luciansmith opened #673 "Consolidate C/C++ testing to a single framework"
Currently, there are several different testing schemes in the roadrunner source, and only one or two are run with Travis, meaning that many are old and may or may not actually continue to pass.

Everything needs to be consolidated to a single scheme, so that they can be maintained and actually run in Travis.

After discussion with the rest of the team, 'googletest' was chosen as the target framewo

[2020-09-09 00:03] luciansmith opened #675 "Warnings and Notices stacking in Spyder"
Herbert got roadrunner into a configuration where it was warning him about things it hadn't warned him about before, and then every time he ran it, the warning list would be *added to* instead of having been cleared when displayed.  If we can reproduce what was going on, this needs to be fixed.

[2020-09-09 01:30] hsauro opened #676 "roadrunner.conf not found on windows systems"
It could be the case that the roadrunner configuration system has never quite worked on windows. In particular the roadrunner.conf file appears to be missing on three installations I checked.

Why time is available this should be investigated.

Check with Andy for details.

[2020-09-11 21:27] CiaranWelsh opened #677 "Can we change the `RoadRunner::regenerate` method to have public visibility?"
It would be useful for users to be able to regenerate a model when it suits them, rather than being confined to having to do it in a method call to `addSomething`.

[2020-09-11 21:59] hsauro commented on #677
Sounds ok.

H

On Fri, Sep 11, 2020 at 2:28 PM Ciaran Welsh <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-09-28 20:35] #677 closed, assigned to nobody

[2020-09-29 09:19] CiaranWelsh opened #681 "Container-overflow issue in rr::Solver::addSetting if you have previously used a regex on output of libsbml::SBML_formulaToString"
I've been using google's address sanitizer with RoadRunner and encountered something very strange. I've distilled the problem to a minimal example.

[code]
With address sanitizer linked in I get the following.
<img width="1237" alt="Screenshot 2020-09-29 at 10 02 00" src="https://user-images.githubusercontent.com/19502680/94537823-2b6fb800-023b-11eb-90a3-6293d917bbf3.png">

I then put some print s

[2020-09-29 18:30] hsauro opened #682 "roadrunner crash on simple model"
Run this model and roadrunner crashes with an unknown exception:

Running:

[('tellurium', '2.1.6'),
 ('roadrunner', '2.0.0'),
 ('antimony', '2.12.0.3'),
 ('libsbml', '5.18.1'),
 ('libsedml', '0.4.52'),
 ('phrasedml', '1.0.10'),
 ('pySBOL', '2.3.2')]

import tellurium as te
import roadrunner

r = te.loada("""
    A -> B; v;
    2 B -> A; v;
""")

runfile('D:/Documents/Tellurium/ISGSB_2020/untitled

[2020-09-29 18:34] hsauro opened #683 "AttrtibuteError in tellurium nullspace call"
Calling nullspace on telluirum crashes, preosumable the numpy call should be

numpy.linalg.svd  and not numpy.svd (confirmed by changing my local copy)

import tellurium as te
import roadrunner

r = te.loada("""
    A -> B; v;
    2 B -> A; v;

    v = 1;
""")

te.utils.matrix.nullspace (r.getFullStoichiometryMatrix())

Traceback (most recent call last):

  File "<ipython-input-85-d7d80ad2d6ca>",

[2020-10-01 06:31] kirichoi commented on #675
I have reproduced this issue and it seems like it only happens on Spyder 4.1.4 and onwards. Potentially due to some 'fixes' they made. `roadrunner.Config.setValue(roadrunner.Config.ROADRUNNER_DISABLE_WARNINGS, 3)` can be used as a temporary workaround, but I think we need to check our logging system. Do we want these warnings to be printed? If yes, we should check why the console is printing warni

[2020-10-02 17:12] seanebum opened #684 "'gillespie' algorithm simulation time not changing correctly"
When changing the simulation timespan, gillespie algorithm does not seem to change appropriately.

For example, using the [Vilar Oscillator from SBML L2V3](https://www.ebi.ac.uk/biomodels/BIOMD0000000035#Files):
Calling ```r.simulate(0, 20, 101)``` with default settings generates this plot:

![image](https://user-images.githubusercontent.com/22843486/94949971-d38db700-04af-11eb-8681-ed9a36a4becd.p

[2020-10-02 19:00] hsauro commented on #684
If I use r.setIntegrator (0, 20, 101) followed by simulate I do get what
you get. However, if I used r.gilelspie(0, 20, 101) instead (see below) I
get the right results.

There must be something subtly different between the two approaches which
will need to be investigated. For now, use r.giillespie()

Also what version are you using, type:

te.getVersionInfo()

import tellurium as te
import roadr

[2020-10-03 00:57] hsauro opened #685 "RuntimeError: Unknown exception should issue a better error message"
In the current version of roadrunner (2.1.6?), the following model causes

RuntimeError: Unknown exception

Whenever the error is it should issue a better error message
[code]

[2020-10-05 16:51] seanebum commented on #684
Awesome, thanks for that!  This is perfect.

[2020-10-05 16:56] seanebum commented on #684
oh! And I was not using tellurium, I was loading the sbml model directly in roadrunner using:
`r = roadrunner.RoadRunner('https://www.ebi.ac.uk/biomodels/model/download/BIOMD0000000035.2?filename=BIOMD0000000035_url.xml')`

[2020-10-15 22:07] luciansmith commented on #675
I filed a bug report with spyder for this issue:  https://github.com/spyder-ide/spyder/issues/13991

It should be straightforward to disable warnings by default, though.  But if someone turns them on, we don't want them to stack like this.

[2020-10-22 15:54] luciansmith commented on #675
Update:  the 'stacking' behavior is indeed a spyder bug, and they're fixing it!  So yay.

Also, I'm lowering the default reporting level to 'error' for python (instead of 'notice'), since in Spyder, you get all the messages at the end of the run *after* the output, so you have to scroll up to see what you actually want.  However, errors still seem like they'd be useful information.

[2020-10-22 22:54] luciansmith commented on #652
Gary actually updated the error message for this in July.  Here's what it says:

[code]

Is that sufficient?

[2020-10-22 23:28] luciansmith commented on #685
This should now give you the message:

[code]

Will that work?

[2020-10-22 23:30] luciansmith commented on #682
This turns out to be a duplicate of https://github.com/sys-bio/roadrunner/issues/685 : the 'v' parameter is uninitialized, and roadrunner refuses to proceed.

[2020-10-22 23:30] #682 closed, assigned to luciansmith

[2020-10-22 23:32] luciansmith commented on #683
Fixed in Tellurium.

[2020-10-22 23:32] #683 closed, assigned to luciansmith

[2020-10-22 23:35] luciansmith commented on #673
Done!

[2020-10-22 23:35] #673 closed, assigned to nobody

[2020-10-22 23:38] luciansmith commented on #656
The MacOS releases are indeed now on PyPi.

[2020-10-22 23:38] #656 closed, assigned to nobody

[2020-10-22 23:41] luciansmith commented on #654
This is now fixed for linux and Windows, but still fails on MacOS.

[2020-10-22 23:42] luciansmith commented on #626
Done!

[2020-10-22 23:42] #626 closed, assigned to luciansmith

[2020-10-23 16:16] hsauro commented on #652
There is a Jacobian with respect to the rate rules, it’s just that
roadrunner is not computing it. In the  long term we should be merging the
rate rules and odes from reactions so that the complete Jacobian can be
computed. For now the message is ok but maybe next year we can revisit the
fix this properly.

[2020-10-23 17:06] luciansmith commented on #685
(I had posted this in the wrong place, but Hebert agreed there that this would work.  Closing.)

[2020-10-23 17:06] #685 closed, assigned to hsauro

[2020-10-26 15:07] CiaranWelsh opened #701 "Exporting a RoadRunner pointer from C++ to Python and then passing it to roadrunner v2.0.1 from pip."
I have a question about whether its possible to create a roadrunner instance in C++, export the roadrunner pointer to python via C and then give this pointer to the roadrunner official release so the various methods can be used.

The reason I am asking is because I've created a module for randomly generating roadrunner models. I'm mid way through generating a C/ctypes API so they can be called fro

[2020-10-26 22:22] hsauro opened #702 "According to Lilly this crashes roadrunner"
According to Lilly this crashes roadrunner
[code]

[2020-10-26 22:57] luciansmith commented on #702
This shouldn't crash, but the problem seems to come down to using a dollar sign in the 'addSpecies' function.  The string must be a legal SBML ID.  If you want it to be a boundary species, that's what the subsequent arguments are for.

[2020-10-27 22:26] luciansmith commented on #702
Fixed with https://github.com/sys-bio/roadrunner/commit/b79261c64e14acab0b7f2bfcdae83665cfa58a0b

[2020-10-27 22:26] #702 closed, assigned to luciansmith

[2020-10-28 02:14] luciansmith commented on #675
Default warning level changed in https://github.com/sys-bio/roadrunner/pull/705/commits/8645fdedac8e4e12af7529cf19065e24715f2773

Once Spyder is fixed, we can close this.

[2020-10-30 03:36] luciansmith commented on #684
OK!  I found the obvious bug here:  basically, the gillespie algorithm was not doing a good job of figuring out what to do when variable_step_size was on (which it is by default), and when and end time and the number of steps was set:  basically, it would run until *either* the requested number of steps were taken *or* the requested end time was found.

The solution is for roadrunner/tellurium to

[2020-11-02 09:06] matthiaskoenig opened #707 "Roadrunner breaks with distrib uncertainties"
Hi all,
when having models with uncertainties in SBML distrib roadrunner breaks.
The uncertainties are only advanced annotations so should be ignored by roadrunner, but not break  model compilation with LLVM.

Minimal example attached:
[simvastatin_liver.zip](https://github.com/sys-bio/roadrunner/files/5473779/simvastatin_liver.zip)
[code]
Results in
[code]
Best Matthias

[2020-11-02 09:10] matthiaskoenig commented on #707
Sorry attached the wrong model version. Here the one with uncertainties
[simvastatin_liver_uncertainty.zip](https://github.com/sys-bio/roadrunner/files/5473800/simvastatin_liver_uncertainty.zip)

[2020-11-02 15:15] luciansmith commented on #707
I have seen this too, as a bug in llvm, though I found it with actually-used distributions, not ones from annotations.

Try using https://github.com/sys-bio/llvm-6.x to see if it goes away (I removed the assert in question from our version of the source code), or try compiling llvm in release mode, which will also ignore the asserts.

If it still fails, let me know!

[2020-11-02 22:50] luciansmith commented on #684
This has been fixed with https://github.com/sys-bio/roadrunner/pull/708, including adding the ability to set the maximum number of steps.

[2020-11-04 11:55] #701 closed, assigned to nobody

[2020-11-04 11:56] #669 closed, assigned to nobody

[2020-11-05 00:44] matthiaskoenig opened #710 "How to recalculate InitialAssignments after model changes?"
Hi all,

I have the following problem: I have InitialAssignments which calculate values via initial assignments based on other values in the model, e.g. an initialAmount of a species `A1` which is calculated from a parameter `D` via `D*2`.
I now want to change parameters in the model (here `D`) and reevalutate all InitialAssignments with the new parameters. As I understand the SBML specification t

[2020-11-06 23:45] luciansmith commented on #707
OK, more information:

* The various distribution functions are created for llvm if roadrunner finds the 'distrib' package being used at all.  I don't think this is worth changing, as the most common use-case will be using the distrib package to implement distrib functions.
* The problem is indeed an assert in llvm.  Unfortunately, I can't figure out what it is that causes it, but I did discover t

[2020-11-08 23:14] matthiaskoenig commented on #707
Hi Lucian,
Thanks so much for the work. The distrib flattening is something I definitely need. In my workflow I checked that the model is valid without distrib and added the distrib information only afterwards.

I am using the roadrunner python package on Linux installed with pip (Ubuntu 20.04)
[code]
The LLVM should the LLVM which was used to compile the package. As I understand it these packages

[2020-11-10 01:51] luciansmith commented on #710
Roadrunner assumes that any manipulation of the model is post-time-zero manipulation, and that it therefore does not affect any initial values.

It looks like you might be right about being able to do something with the SelectionRecords, but to me, the method that makes the most sense it to use the "init(var)" keyword.  If you want to change the initial value of something, you *don't* use the r.s1

[2020-11-10 08:51] matthiaskoenig commented on #710
Hi Lucian,
thanks for the info. Yes, init allows to set values.
What I want to do is something else ;) I want to re-evaluate the AST-node math in the InitialAssignments, i.e. the formulas of the objects defined in the ListOfInitialAssignments.

Often you have a lot of logic in the InitialAssignment which ensure correct model behavior and initialisation.
E.g. you want to set the initial value of th

[2020-11-10 09:02] matthiaskoenig commented on #710
Sorry, to clarify. As I understand `resetAll` it has side effects which are not what I want. The documentation states it resets all parameters to the values when the model was loaded (this is most likely incorrect and threw me off):

This is most likely a documentation issue and should be clarified. I.e. the real thing `resetAll` does (or should do) is

This would solve my issue.

[2020-11-10 09:46] matthiaskoenig commented on #710
See here the problem with the example model:
[initial_assignment.zip](https://github.com/sys-bio/roadrunner/files/5516295/initial_assignment.zip)
[code]
Results in
[code]
You can see the init change of D is applied, but the InitialAssignment of `init(A1) = 2 * D =4` is not applied in the second simulation! A1 is still 10?
So how can I change D and get the initialAssignment depending on D applied ?

[2020-11-10 10:04] matthiaskoenig commented on #710
Sorry for the spam. So most likely the thing I want is something in the direction of
[code]
[code]

But unfortunately I have no idea if this is correct and works for complex cases (i.e. dependency trees of initial assignments with parameters, volumes, species, ... in the dependency tree). My experience with the SelectionRecords is that they have a ton of side effects I don't understand.

In my opi

[2020-11-10 10:15] matthiaskoenig commented on #710
Last update on this. There is one problematic case which must be handled cleanly.
It is basically if one wants to set an initial value for something which has an initial assignment rule. In such cases the set `init` value has precedence and a warning should be given that the corresponding InitialAssignment rule is not applied.

In the example above:
`init(A1) = 20`
should give a warning stating:
[

[2020-11-10 11:11] matthiaskoenig opened #711 "Not possible to set initialValues on species with `boundaryCondition=True`"
I want to set the initialValue on a species with `boundaryCondition=True`. This gives an error in roadrunner.
In the example I have one species A1 with `boundaryCondition=False` and a species A2 with`boundaryCondition=True`
[boundary_condition.zip](https://github.com/sys-bio/roadrunner/files/5516719/boundary_condition.zip)
[code]
Returns
[code]
This seems to be a bug. How can I set the initialValu

[2020-11-13 05:07] luciansmith commented on #710
You are correct that while my example worked, other examples like yours do not, for unclear reasons.  I'm working on this (and the related bug you reported) and will report back if I make any progress!

[2020-11-13 08:32] matthiaskoenig commented on #710
Hi Lucian,
this is great. This is definitely a major problem with roadrunner and creates a lot of problems in my simulation experiments (SED-ML on top of roadrunner).

Just to comment. This is a duplicate of https://github.com/sys-bio/roadrunner/issues/328 which I opened 4 years ago ;)
I just dropped InitialAssignments from all my models for the last years. But now I have to exchange legacy models

[2020-12-11 00:02] luciansmith opened #715 "Get Python tests working in Azure"
Since we moved away from Travis, the python tests have not been run, and they (of course) broke.  They are now fixed again, but they have to run in Azure.  Any platform would be fine; I don't think they need to run in all of them.

[2020-12-11 01:25] luciansmith opened #717 "Update Azure's libroadrunner-deps"
I had to change libroadrunner-deps in order to get everything to work--if you can pull those changes into azure, I think that'll start working again, too.

[2020-12-11 04:19] luciansmith commented on #715
Nope, different tests failed on linux for me than windows, so we better run them everywhere.

[2020-12-11 09:20] CiaranWelsh commented on #717
To clarify, do you mean that we need a release for the changes you have made in libroadrunner-deps?

[2020-12-11 14:54] luciansmith commented on #717
In Azure, I think you use a precompiled version of libroadrunner-deps?  It's that precompiled thing that we need a new version of, and to have Azure point to that.

[2020-12-11 15:13] CiaranWelsh commented on #717
Yes, we need to make another binary release of libroadrunner-deps, which is just a zip of the install tree. I'm in the process of working out how to automate this process on azure so we don't have to do it manually on each OS. However, I didn't get past the [build errors](https://github.com/sys-bio/libroadrunner-deps/issues/12) so I'm learning with a smaller toy project.

[2020-12-13 21:27] hsauro opened #718 "typo in error message"
While running a large simulation I go this message:

Simulation returned more points than max output rows specified. Try incresing the number of maximum output rows or minimum step size.

The message is not the problem but the typo in the 11th word: 'incresing" should be "increasing"

[2020-12-15 00:12] luciansmith commented on #718
Looks like I found this, too--it should be fixed in 2.0.3.

[2020-12-15 00:12] #718 closed, assigned to luciansmith

[2020-12-15 17:48] hsauro opened #719 "simulate() default points = 51, is that right, shouldn't it be 50?"
simulate() default points = 51, is that right, shouldn't it be 50?

[2020-12-15 18:02] luciansmith commented on #719
We could make whatever defaults we want, but if you want the output to exactly hit 1, 1.1, 1.2, etc., you want 51 points, aka 50 steps.

[2020-12-15 19:16] hsauro commented on #719
But we don't specify steps, the third argument is the number of points.

H

On Tue, Dec 15, 2020 at 10:07 AM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-12-15 19:28] luciansmith commented on #719
Correct.

If we change the default to 50 points, there will be 49 steps taken, and the time points will be:

[[        0],
  [ 0.102041],
  [ 0.204082],
  [ 0.306122],
  [ 0.408163],
  [ 0.510204],
  [ 0.612245],
  [ 0.714286],
  [ 0.816327],
  [ 0.918367],
  [  1.02041],
  [  1.12245],
  [  1.22449],
  [  1.32653],
  [  1.42857],
  [  1.53061],
  [  1.63265],
  [  1.73469],
  [  1.83673],
  [  1.

[2020-12-16 15:24] CiaranWelsh commented on #717
As of e1be6c46234e3f8996cd56bc13f23741b2bc3868 we have a CI system that always uses the libroadrunner-deps build artifact directly from its own azure pipelines script.  Then means that whenever we push to the dependency project, we should also check to see if it breaks the main roadrunner project.

[2020-12-16 15:24] #717 closed, assigned to CiaranWelsh

[2020-12-16 15:27] CiaranWelsh commented on #715
These are working as of e1be6c46234e3f8996cd56bc13f23741b2bc3868. However, on occasion one of the tests (I don't know which) fails, but clicking "rerun failed build" in azure usually fixes the issue. This has happened once on mac and once of linux. Therefore, I leave this issue open for the time being.

[2020-12-16 15:28] CiaranWelsh commented on #671
An alternative solution involving azure-pipelines to automatically produce distributions has instead been implemented in e1be6c46234e3f8996cd56bc13f23741b2bc3868

[2020-12-16 15:28] #671 closed, assigned to nobody

[2020-12-16 15:38] CiaranWelsh commented on #582
Lucian is currently working on the official release and my understanding is that it is very nearly ready. However if you want a pre-release version of roadrunner on python 3.8 you may get them directly from [here](https://dev.azure.com/TheRoadrunnerProject/roadrunner/_build/results?buildId=397&view=artifacts&pathAsName=false&type=publishedArtifacts). Download the pip wheel for your OS (provided it

[2020-12-16 18:31] luciansmith commented on #582
Oh, we got python 3.8 pip packages installed for the previous release as well as this one.  Feel free to re-open this if there is a problem, but otherwise, I'm closing this for now.

[2020-12-16 18:31] #582 closed, assigned to nobody

[2020-12-18 04:47] kirichoi opened #720 "Clean up documentations"
Roadrunner readthedocs has been restored but I see a lot of incomplete/missing pages...

[2020-12-23 02:12] kirichoi opened #722 "Weird roadrunner/reset issue"
I have encountered a very odd issue when accessing the output of libroadrunner. Let's say I have a very simple model and I want to simulate it twice with different settings:
[code]
Everything looks okay until I try to access `m1` through the console from which I get this:

[code]
Any thoughts?

[2020-12-23 02:25] kirichoi commented on #722
I suspect this is some sort of assignment issue which is understandable but was not present before. For example, this works perfectly fine:
[code]

[2020-12-24 00:18] hsauro commented on #722
Are you sure this didn’t happen in previous versions? I suspect not since
I’ve never seen any thing like this.

[2020-12-24 00:19] hsauro commented on #722
That’s not good. I’ll have to try it myself.

[2020-12-24 00:20] hsauro commented on #722
Could you make it an issue so we don’t forgot. I assume this won’t be
worked on until next year.

[2020-12-24 01:06] kirichoi commented on #722
I can confirm that in previous versions of roadrunner, this was not the case. Using libroadrunner 1.5.4 yields expected results when trying to call variable `m1`:
[code]
This feels a lot like an example of one of those variable reference oddities in Python.

[2020-12-24 01:26] hsauro commented on #722
Agreed, this is a bad bug. We won't make an official announcement until we
can figure out what is wrong.

[2021-01-08 03:55] luciansmith commented on #722
This is now fixed with https://github.com/sys-bio/roadrunner/commit/45aa2265e3b1502a27d0523a022635d87c8cfb4a  Thanks for pointing it out--I had seen a problem with the linux python bindings for the rk45 tests, but erroneously thought that was the only problem.

For the record, the bug was that I inadvertently set the 'copy_results' simulation option to 'false', meaning that any time we created a p

[2021-01-08 03:55] #722 closed, assigned to nobody

[2021-01-19 20:52] luciansmith opened #725 "Incorrect warning about not reaching end point"
From Herbert:
'''
import tellurium as te
r = te.loada('''
const S1, S4
S1 -> S2; k1*S1/(1 + S3/0.01)
S2 -> S3; k2*S2
S3 -> S4; k3*S3
k1 = 2; k2 = 0.24; k3 = 0.52
S1 = 1; S2 = 0; S3 = 0; S4 = 0
''')
m = r.simulate (0, 30, 1000, ['S2', 'S3'])
r.plot()
'''

Produces:

/usr/local/lib/python3.6/dist-packages/roadrunner/roadrunner.py:3944: UserWarning:

Simulation requested end point (30) not reached, b

[2021-01-19 21:00] hsauro commented on #725
I can confirm it also happens on windows. Same cut off message.

H

On Tue, Jan 19, 2021 at 12:53 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2021-01-19 22:25] luciansmith commented on #725
Fixed!

[2021-01-19 22:25] #725 closed, assigned to nobody

[2021-01-21 23:40] matthiaskoenig opened #726 "Unpin numpy version in python packages"
In the latestest roadrunner 2.0.4 release the numpy version in the python packages is pinned to `0.19.3`. As a consequence libroadrunner does not work with other libraries requiring other/higher numpy versions.
E.g. I get the conflicts:

[code]
Libraries should never be pinned to exact version if not absolutely necessary.
Change `numpy==1.19.3` to `numpy>=1.19.3` for roadrunner.

[2021-01-21 23:59] luciansmith commented on #726
I had to pin it to 1.19.3 because 1.19.4 is broken on Windows due to a Windows bug that is in the process of being fixed, but is not fixed yet.

1.19.5 (which was only released a week or so ago) apparently works on Windows, but if I require 1.19.5 (or greater), installation hangs while it tries to figure out all the other compatibility issues.

[2021-01-22 08:42] matthiaskoenig commented on #726
Makes sense. Just don't forget to unpin this ;)
I relaxed my dependencies to `numpy>=1.19.3` for now as a workaround.

[2021-01-22 12:39] matthiaskoenig commented on #725
Also affecting me. Thanks for the fix. It would be great to have a bugfix release with this. I am running thousands of simulations, so getting 1000s of messages
[code]
Which slow down simulations and makes my other log/debug messages unreadable (I am not seeing important messages because of this message spam ;).

[2021-01-22 17:02] luciansmith commented on #725
Yup; 2.0.5 is now out and includes this fix.

(Because this affects the Python itself, if you need to fix it yourself, you can--just delete the code; it's only a warning anyway.)

[2021-01-29 21:04] CiaranWelsh commented on #720
The C API docs for example used to have things like:

[code]

[2021-02-01 12:47] CiaranWelsh commented on #720
There used to be two separate documentation systems, doxygen and sphinx for the rr docs. There actually still is, but while revamping the rr buildsystem I consolidated the content (using [this](https://devblogs.microsoft.com/cppblog/clear-functional-c-documentation-with-sphinx-breathe-doxygen-cmake/) tutorial and [breathe](https://breathe.readthedocs.io/en/latest/)) so that we only have documentat

[2021-02-05 17:59] efm46 opened #729 "Unable to install lib roadrunner on MacOS (Big Sur V-11.2)"
Hello,

I an writing to let you know I cannot install libroadrunner for my Mac. I just got this Mac to use for PyBNF, which calls on libroadrunner for SBML.

I am using modern python (python3) and I had to use the following command to attempt to install libroadrunner,
command: sudo -H python3 -m pip install libroadrunner

However I get the following error: ERROR: Could not find a version that sati

[2021-02-05 18:10] efm46 commented on #729
<img width="701" alt="Screen Shot 2021-02-05 at 11 03 07 AM" src="https://user-images.githubusercontent.com/67076934/107071867-99f0f380-67a2-11eb-992a-44a08cbb57c1.png">

Here is a screenshot of my terminal as well. Thanks!

[2021-02-05 18:34] luciansmith commented on #729
Is Big Sur not backwards compatible any more?  If so, that would explain the problem--we've been releasing libroadrunner for MacOS 10.9, because that's been forward compatible with everything up until now.

Can you check to see if you can install numpy?  If not, then Big Sur is indeed the problem.  Because numpy also only provides macos10.9 binaries (as far as I can tell), we'll need to wait for a

[2021-02-05 18:56] efm46 commented on #729
Yea I'm not too sure. I went ahead and installed numpy using sudo, and it installed successfully. I'm not sure where it would say 10.9 exactly, but when it installed numpy it created this wheel (Created wheel for numpy: filename=numpy-1.20.0-cp38-cp38-macosx_10_14_6_arm64.whl).

I tried installing roadrunner again after installing numpy and I still got the same error.

[2021-02-07 06:26] efm46 commented on #729
Hello again,

I tried installing anaconda's distribution of python3 to make sure I had all the necessary packages. After installation of anaconda I was able to install libroadrunner. Thanks for the help!

[2021-02-07 06:29] luciansmith commented on #729
I'm glad it worked!  And it looks like numpy has indeed created a macos10.14 version; maybe they're worried about Big Sur, too.  I'll keep an eye on it, but I'm glad to know it worked for you in the end.

[2021-02-07 06:29] #729 closed, assigned to nobody

[2021-02-12 10:22] matthiaskoenig opened #732 "Support simulate with a vector of timepoints"
I often need simulation results at specific output points which are not equidistantly spaced. Main example are parameter fittings with data points at arbitrary time points.
To be able to calculate residuals I have to either
- run roadrunner with a high number of points and do an interpolation afterwards to get the simulation results at the requested timepoints. This can result in many timepoints a

[2021-02-23 23:22] #726 closed, assigned to nobody

[2021-02-23 23:30] CiaranWelsh opened #737 "Update github releases"
The last time it was done was in august and I think we've had a few release since.

[2021-02-25 16:49] CiaranWelsh opened #739 "Roadmap for compiling roadrunner with C++20"
I've managed to get roadrunner compiled with C++20. Its not currently working in Azure, but this is a complication that will go away if/when we merge into develop branch. (The problem is regarding the main roadrunner pipeline is downloading the wrong dependnecy package from the libroadruner-deps pipeline. Ive tested manually on linux and windows.)

The following has been implemented on branch:

[2021-02-25 17:09] hsauro commented on #739
I’ll let you and Lucian decide on a merge.

[2021-02-25 18:11] luciansmith commented on #739
The libsbml issue is being worked on:

https://github.com/sbmlteam/libsbml/issues/36
https://github.com/sbmlteam/deviser/issues/51

My inclination is to not fork libsbml, but instead contribute to a branch
if we need to, so that branch can be folded into the core more easily.
Remember that if we have a problem with libsbml, that means that everyone
potentially has the same problem, and it's a comm

[2021-02-25 20:32] CiaranWelsh commented on #739
I agree with not going off on our own but not that we shouldn't have our own fork of sbml. Forking, making experimental changes and then sending a pull request is pretty much the standard way for contributing to other projects. On the other hand, I wasn't aware that sbml was autogenerated code. In this case, I'm not confident enough on how to make these fixes anyway.

Its good to see people are al

[2021-02-25 20:57] luciansmith commented on #739
I know creating forks and pushing and pulling all over the place is standard, but I kind of hate it.  I feel like it's a hack that sort of works for large cumbersome projects where you can't solve the problem properly.  In this case, I'm literally on the SBML team and have write access to the source code; if we have a fix I should create a branch and check it in directly.  I'm not saying we should

[2021-02-25 22:04] CiaranWelsh commented on #739
Understood. On the sbml, the fix I have is a bit of a hack and really shouldn't be pushed to the main sbml repository. But there weren't that many problems to be honest - maybe naive of me but it doesn't seem that it should take too much effort to implement a proper fix. (Famous last words :D).

On the c++20, I wasn't thinking of doing anything that would prevent backwards compatibility with compi

[2021-02-25 22:04] #739 closed, assigned to CiaranWelsh

[2021-02-26 10:23] matthiaskoenig commented on #739
Just to chip in.
I highly support Lucian here. Please contribute the fixes directly to libsbml. Otherwise there are many downstream issues.
A good example is the fork of libsbml for tellurium (tesbml) which created more issues then solutions in the long run.

[2021-02-27 03:09] danolson1 opened #741 "getIds() missing positional argument description in documentation"
In the documentation, the [getIds() method](https://libroadrunner.readthedocs.io/en/latest/PythonAPIReference/cls_RoadRunner.html?highlight=getids#RoadRunner.getIds) does not take any positional arguments.

When I try to use the method, I get an error
"TypeError: getIds() missing 1 required positional argument: 'types'"

I would assume this method should be called without arguments, so this may be

[2021-02-27 03:28] hsauro commented on #741
We’ll have a check on that, it’ not a method I think I’ve personally used
often.

[2021-03-03 09:41] CiaranWelsh commented on #741
Here's the code that this method is referring to:
[code]
Based on your error message I gather that the C++ signature is being propagated into Python, which raises the question - how are we supposed to pass in a C style "Out" parameter? Moreover, looking at the signature for `impl->model->getIds(types, ids)`, it seems the first argument is actually hexadecimal:

[code]

This looks to me as though a

[2021-03-03 09:49] CiaranWelsh commented on #720
Done in #734, at least to a degree - there is always going to be stuff to do in the documentation to "clean it up". Closing for now, please open again if you think there is still major stuff to do.

[2021-03-03 09:49] #720 closed, assigned to nobody

[2021-03-03 09:50] #715 closed, assigned to CiaranWelsh

[2021-03-03 14:05] CiaranWelsh opened #742 "Refactor the `Log` macro in `rrLogger.h` to `rrLog` for the sake of googlemock?"
The issue is that `googlemock` framework also defines a macro called `Log` so there is a namespace clash.

In short, [googlemock](https://chromium.googlesource.com/external/github.com/google/googletest/+/refs/tags/release-1.8.0/googlemock/docs/ForDummies.md) enhances our ability to write unit tests that are completly independent of external code or data.

The alternative is of course not using goo

[2021-03-03 17:30] danolson1 commented on #741
My original problem was that I was trying to set a parameter on a model
imported from COPASI, and that parameter was not accessible. I have a
workaround for this.

However, as part of the troubleshooting process, I was trying to get a list
of all of the accessible parameter values. If getIds() is not the right way
to do this, that's fine, but I think there should be some way to do this.

-Dan

On

[2021-03-03 17:43] CiaranWelsh commented on #741
Indeed there is. Please take a look at the following methods:

[code]

[2021-03-03 19:16] hsauro commented on #741
Note these methods only work for global parameters. Copasi hides parameters
by making them local, one needs to promote the parameter first, eg by
converting to antimony. There is also a libsbml method that does it.

Herbert

On Wed, Mar 3, 2021 at 9:44 AM Ciaran Welsh <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.o

[2021-03-03 19:32] #681 closed, assigned to nobody

[2021-03-03 20:42] danolson1 commented on #741
Ok. I think I tried the getGlobalParameterIds(), didn't see what I was
looking for and tried the getIds() instead, thinking that this might give
me access to local parameters. I understand now that local parameters are
not accessible, but wanted to give you feedback for the benefit of other
users who may encounter the same problem.

Maybe the simplest thing would be to update the documentation to

[2021-03-04 09:59] #737 closed, assigned to nobody

[2021-03-04 09:59] #742 closed, assigned to nobody

[2021-03-10 18:18] luciansmith commented on #739
Just to note:  this is now fixed in libsbml by Sarah, so all we now need to do is update our pointers to the libsbml code.

[2021-03-26 21:22] matthiaskoenig commented on #732
@luciansmith Besides the speedups this would also simplify things for me in the SED-ML parameter fitting implementation. Let me know if you need more information or input on this issue.

[2021-03-26 22:04] CiaranWelsh commented on #732
This is actually quite easy to implement. Consider the following:

[code]

Which is nice since it only solves integrates `n` times for `n` time points (unless there's something more going on under the hood which I'm missing).

So our options are:
    1) Write an overload in `rrRoadrRunner::simulate(std::vector<double> times)` (or a new name, as suggested)
    2) Expose CVODEIntegrator to Python so

[2021-03-26 22:09] hsauro commented on #732
Lucian said he'd implement this feature.

[2021-03-26 22:13] CiaranWelsh commented on #732
No problem - thought I'd chime in since I used the above strategy for presimulation of steady states.

[2021-03-26 22:21] matthiaskoenig opened #743 "Allow to pickle ExecutableModelObjects for multiprocessing"
I opened this before as part of the discussion in https://github.com/sys-bio/roadrunner/issues/596

A key limitation for using multiprocessing in python with roadrunner is that roadrunner model objects cannot be serialized in python. I.e. trying to pickle a roadrunner instance will fail (all parallelization using multi-processing is pickling the objects to send them to the different processes)

[c

[2021-03-26 22:23] matthiaskoenig commented on #732
This looks basically what I would expect from the underlying implementation. I.e. run one-step integrations from point to point.

[2021-04-17 19:14] hsauro opened #744 "Incorrect docs on addSpecies?"
AddSpecies in the documentation shows 5 arguments:

https://libroadrunner.readthedocs.io/en/latest/PythonAPIReference/cls_RoadRunner.html?highlight=addspecies#RoadRunner.RoadRunner.addSpecies

RoadRunner.addSpecies(sid, compartment, initValue, substanceUnits, forceRegenerate)

but when I try to use it with the example given

r.addSpecies("s1", "c1", 5.0, "concentration", False)

I get the error:

[2021-04-17 19:44] hsauro opened #745 "AddSpecies units argument not working?"
After thinking more about this I'm not sure what is going on because the addSpecies call only allows one to specify the amount of a species?

My use case is compartment volume = 1 and I want to add a species and set it's concentration.

Help on addSpecies gives (i.e r.addSpecies?):

r.addSpecies(
    sid,
    compartment,
    initAmount=0.0,
    hasOnlySubstanceUnits=False,
    boundaryCondition=F

[2021-04-17 19:51] hsauro opened #746 "Need a method to regenerate a model when usng the direct API for adding a model"
The direct API for adding a model has methods like:

r.addSpecies("s1", "c1", 5.0, True, False, "concentration", False)

where the last argument is the forceRegenerate flag. This is used to stop roadrunner from recompiling the model everytime a small change is made. The idea is that for the last method you call you set the flag to True. Every method has such a flag.

However there is no method to

[2021-04-17 23:05] hsauro opened #747 "roadrunner instances should be pickelable"
roadrunner instances should be pickelable. This would allow roadrunner to be used with the multuprocessing package and make roadrunner run more easily parallizable.

Use roadrunner methods saveState and loadState to override pickle system.

This is also a request from Matthias.

[2021-04-18 09:19] matthiaskoenig commented on #747
Duplicate of #743. Some additional information in the other issue.

[2021-04-18 20:06] hsauro opened #748 "Memory leak in Antimony"
I've been running a large number of roadrunenr instances by generating the SBML from Antimony then loading the SBML. I've discovered there is a significant memory leak in Antimony such that I end up using 10s of Gb of memory and on rate occasions the entire spyder IDE just vanishes I think due to an out of memroy error.  I'm using 20,000 models at a time and are generated on the fly in antimony fo

[2021-04-18 20:07] hsauro commented on #748
Moved to antimony project

[2021-04-18 20:07] #748 closed, assigned to luciansmith

[2021-04-19 05:42] hsauro opened #749 "getFullEigenValues crashes if there are no floating species"
The following script will cause a kernel restart. Bug bin getFullEigenvalues(), should test for no floating species.

import tellurium as te
import roadrunner

# This model only has boundary species
r = te.loada("""
      $S1 -> $S2; k1*S1;
      S1 = 10; k1 = 0.1
""")

p = r.getFullEigenValues()

[2021-04-19 17:42] hsauro opened #751 "The following model causes getFullEigenValues to freeze the python kernel"
The following model:

import tellurium as te

r = te.loada('''
  // Compartments and Species:
  compartment c1, c2;
  species s1 in c1, s2 in c1, s3 in c1, s4 in c1, s6 in c1, $s0 in c1, $s5 in c1;
  species $s7 in c1;

  // Reactions:
  r0: $s7 + s6 => s2 + s6; s7*s6*k0;
  r1: s3 + s3 => s6 + s4; s3*s3*k1;
  r2: $s0 + s4 => s4 + s3; s0*s4*k2;
  r3: s4 + s1 => s4 + s2; s4*s1*k3;
  r4: $s0 => s2 +

[2021-04-22 03:35] hsauro commented on #749
Fixed in branch hms

[2021-04-22 03:35] #749 closed, assigned to luciansmith, CiaranWelsh

[2021-04-22 04:17] hsauro commented on #751
Fixed in hms. Test for numerical suspicious concentrations (>1E100) before attempting to compute elastiicitues. If ther are throw runtime exception.

[2021-04-22 04:17] #751 closed, assigned to luciansmith, CiaranWelsh

[2021-04-22 04:34] hsauro commented on #746
Added new method regenerateModel()

[2021-04-22 04:34] #746 closed, assigned to luciansmith

[2021-04-22 15:37] CiaranWelsh commented on #743
I've made a little progress with this today on a MWE.

[code]
implementation
[code]
When I build this with swig interface file

[code]

I get

[code]

Adding

[code]
Is enough to allow pickling the `_picklable_swig.CPPObjectForPickling`

[code]

Alternative use case also seems to work:
[code]

So, generalizing this concept to roadrunner should give us a picklable roadrunner object. We simply need

[2021-04-22 16:14] matthiaskoenig commented on #743
@CiaranWelsh This is perfect. If this works in multiprocessing all my use cases are covered. In general all serialization can fall back to pickle in python so with this interface everything should be covered. Thanks, this is great.

[2021-04-22 19:47] hsauro opened #752 "This sbml model causes the python kernel to restart"
If I try to load the following model (it has no parameters but does have reactions with parameters, therefore the sbml is not valid) it restarts my python kernel. Github Issues won't let me upload the file so here is the string.

All I do is: r = te.loadSBMLModel(sbmlstr)

<?xml version="1.0" encoding="UTF-8"?>
<sbml xmlns="http://www.sbml.org/sbml/level3/version2/core" level="3" version="2">
  <m

[2021-04-22 19:55] hsauro commented on #752
Update, nothing to do with parameters, there is something else wrogn with the XML file. Antimony reports:

antimony.getLastError()
Out[6]: 'Unable to read SBML string due to errors encountered when parsing the file.  Error(s) from libSBML:\n\nline 3: (01023 [Error]) XML declaration not permitted in this location.\n\n'

[2021-04-22 20:02] hsauro commented on #752
Further investigation by Lucian reveals that there is was an empty ine at the start of the xml string which libsbml doesn't like. Resolution, we need to trap this error in roadrunner before it causes problems.

[2021-04-23 20:59] #745 closed, assigned to luciansmith

[2021-04-25 20:30] matthiaskoenig opened #753 "Add selection syntax for getting species values as defined in SBML definition [amount/species]"
Currently it is not possible to access or set the values of species as defined in the SBML.
I.e. amounts for species with the `hasOnlySubstanceUnits=True` and concentrations for `hasOnlySubstanceUnits=False`. This makes it complicated to compare results of roadrunner with other simulators.
There should be a simple syntax to set/get values in the native definition, e.g. by adding special brackets s

[2021-04-25 22:44] matthiaskoenig opened #754 "Roadrunner must raise RuntimeError for csymbol delay (unsupported MathML symbols)"
Roadrunner gives incorrect results for SBML models with delays.
E.g. [BIOMD0000000024.zip](https://github.com/sys-bio/roadrunner/files/6373357/BIOMD0000000024.zip)

Despite not supporting delays numerical results are returned. The correct behavior would be to raise a RuntimeError that models with csymbol `delay` are not supported.

Copasi handles this better and raises errors
[code]

Even better w

[2021-04-27 08:43] kirichoi opened #756 "SBML model without parameters and kinetic laws crash Python kernel"
Hi all,

I have been fiddling with libsbml-layout creating an sbml file with only the layout information (and thus not possible to simulate), which, according to sbml validator, is a valid sbml file. I understand roadrunner not handling these types of sbml files but upon attempting to load, the entire kernel crashes instead of printing out error messages. Any thoughts?

[layout1.txt](https://githu

[2021-04-27 12:25] matthiaskoenig opened #757 "Make new python release"
Would it be possible to make a new release to include the bugfix from 5th February
https://github.com/sys-bio/roadrunner/pull/728

The current version is just completely spaming my logs, resulting in the following
[code]

Best Matthias

[2021-04-27 12:42] CiaranWelsh commented on #757
I don't have much of a say on relase dates etc. but you can always download the latest development version and use that in the mean time. We put a lot of effort into making sure the develop branch always passes the tests so although some of the newer features might be less stable, they are likley to be "quite" stable.

You can download the latest pip wheel from here: https://dev.azure.com/TheRoadr

[2021-04-27 19:20] hsauro commented on #757
We could do a new release as this 'feature' will affect others.

Can we create at least a new pip installer?

Herbert

On Tue, Apr 27, 2021 at 5:42 AM Ciaran Welsh ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-04-27 19:21] hsauro commented on #756
I had a kernel crash at the weekend but that was due to a blank line at the
start of the SBML. Check you don't have a blank line in your file.

H

On Tue, Apr 27, 2021 at 1:43 AM Kiri Choi ***@***.***> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-04-27 19:57] matthiaskoenig commented on #757
@Ciaran Welsh ***@***.***>
Thanks this works for me.

Just as general information. One needs to update also the pinned numpy
version from 1.19.3 to 1.20.2 for the new version to work. Otherwise one
gets
[code]

The main problem here are my students of which some have no informatics
background (biologists). I can expect them to install conda and install a
package there, but downloading wheels for t

[2021-04-27 19:59] matthiaskoenig commented on #757
@Ciaran Welsh
Thanks this works for me.

Just as general information. One needs to update also the pinned numpy version from 1.19.3 to 1.20.2 for the new version to work. Otherwise one gets
[code]
The main problem here are my students of which some have no informatics background (biologists). I can expect them to install conda and install a package there, but downloading wheels for their platform

[2021-04-27 20:42] CiaranWelsh opened #758 "Update numpy"
As per the comment in #757, our pinned version of numpy needs updating.

[2021-04-27 20:48] CiaranWelsh commented on #757
Okay, I understand. This was just a temporary solution in case you wanted to get ahead of the crowd.... I've created a new issue to deal with updating numpy. We can easily make a minor release with what we have in the develop branch. @luciansmith would you like to make the release? I'm happy to do it but I do not have the roadrunner pypi credentials.

[2021-04-27 21:04] luciansmith commented on #758
Done!  We actually had to fix this in tellurium, not roadrunner, though rr was also updated.

[2021-04-27 21:06] luciansmith commented on #757
While I'm happy to do so, we should make it so you do have credentials.  I'll see what I can do...

[2021-04-27 21:34] luciansmith commented on #758
That... broke everything.  @CiaranWelsh , can you look into this?  Maybe Mattias was just wrong about it requiring that version of numpy?

[2021-04-28 03:04] kirichoi commented on #756
I don't think the file have blank lines. I can load and validate this file on libsbml without a problem. Because this files has no parameters, concentrations, etc. I don't expect for roadrunner to be able to run anything, but I think it should at least capture the error instead of crashing the kernel. I think the problem you had is related. Somewhere down the `RoadRunner::load`, the exception hand

[2021-04-28 03:43] hsauro commented on #756
Agreed, that error handling is probably not working right. Could someone
try Kiri's model to see what they get?

H

On Tue, Apr 27, 2021 at 8:05 PM Kiri Choi ***@***.***> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-04-28 15:52] matthiaskoenig commented on #758
For me the roadrunner many linux py37 wheel worked with 1.20.2 but not
1.19.3. Perhaps the wheels are build with different versions of numpy.
This was reproducible. I.e changing versions broke or fixed roadrunner.

On Tue, Apr 27, 2021, 23:34 Lucian Smith ***@***.***> wrote:

[2021-04-28 17:44] CiaranWelsh commented on #758
No, this wasn't the cause of the failed build. The problem is that I updated libsbml and poco in the dependencies but haven't merged the corresponding fixes to the main roadrunner repo yet. (The roadrunner azure simply grabs the newest sucessful build from the dependencies azure).

In short, I've done a lot, but this is taking a little longer than I anticipated. I gave the tests a bit of a makeove

[2021-05-04 00:16] #744 closed, assigned to luciansmith

[2021-05-04 17:12] hsauro opened #761 "stop error messages from leaking out after trapped by exception handler"
Consider the script below where the model doesn't have a steady state. The script successfuly catches the error and prints out "Error in ss" but then goes on to print the actual error message. Why is the error message being printed out even though the error was dealt with in the excpetion handler? Why is this an issue? When simulating thousands of models the screen will likely fill up with unneces

[2021-05-04 17:14] hsauro opened #762 "Stop errors leaking from r.simulate"
The model below was generated artifically and we want to know if it can be simulated. My thousands of thse might be generated.  Running the model will generate the error messsage:

Error: CVODE Error: CV_CONV_FAILURE, Module: CVODE, Function: CVode, Message: At t = 1.73895 and h = 3.4908e-09, the corrector convergence test failed repeatedly or with |h| = hmin.
Error: ??0IntegratorException@rr@@QEA

[2021-05-11 08:33] CiaranWelsh commented on #762
This *might be a side effect of having temporarily commented out the logger in `roadrunner.i`, which is back in the latest develop build. I converted your example to "pure" roadrunner:

[code]

The actual error message is being managed by the following

[code]
It could be argued that both logging and throwing the error is overkill anywa - one option is to remove the log messages from error classes

[2021-05-11 08:42] CiaranWelsh commented on #758
Lucians fix from 2 weeks ago should be absorbed into develop now.

[2021-05-11 08:42] #758 closed, assigned to CiaranWelsh

[2021-05-11 16:40] hsauro commented on #762
I would remove them and see if you can still catch the exceptions. I
think the user should be in control of all error messages from roadrunner,
they can either catch them or not.

H

On Tue, May 11, 2021 at 1:33 AM Ciaran Welsh ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-05-12 10:13] CiaranWelsh opened #905 "Tellurium crashes Python when it tries to load a broken sbml"
When tellurium tries to load a broken sbml, Python crashes and burns. We should handle this class of errors properly:

Steps to reproduce:

[code]

[code]

[2021-05-12 16:32] CiaranWelsh commented on #762
Removing the logging messages will have no effect on the exception handling class. I'll go ahead and remove them.

[2021-05-12 21:52] hsauro commented on #762
ok good.
H

On Wed, May 12, 2021 at 9:34 AM Ciaran Welsh ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-05-14 10:37] CiaranWelsh commented on #761
I've confirmed manually that the error messages are no longer leaking in the latest [build](https://dev.azure.com/TheRoadrunnerProject/roadrunner/_build/results?buildId=711&view=artifacts&pathAsName=false&type=publishedArtifacts). Since this is a duplucate of #762 I'll close.

[2021-05-14 10:37] #761 closed, assigned to luciansmith, CiaranWelsh

[2021-05-14 10:39] CiaranWelsh commented on #762
Implemented in #766 . Checkout the latest [build](https://dev.azure.com/TheRoadrunnerProject/roadrunner/_build/results?buildId=711&view=artifacts&pathAsName=false&type=publishedArtifacts).

Keeping this issue open for the time being - just incase I've missed something.

[2021-05-14 14:21] CiaranWelsh commented on #756
I've traced the crash to `EvalVolitileStoichCodeGen.cpp` line `103/104` :
[code]
`sm` is null, triggering the assertion. Changing this to

[code]
in #767 seems to be okay with [respect to the tests](https://dev.azure.com/TheRoadrunnerProject/roadrunner/_build/results?buildId=714&view=results) so I'll merge the fix and close the issue.

[2021-05-14 14:56] #756 closed, assigned to CiaranWelsh

[2021-05-14 15:01] CiaranWelsh commented on #752
Implemented in #768

[2021-05-14 15:04] hsauro commented on #761
Phew.....they were driving me crazy.

On Fri, May 14, 2021 at 3:38 AM Ciaran Welsh ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-05-14 17:03] #752 closed, assigned to luciansmith

[2021-05-18 07:59] shoepfl opened #773 "access violation in bifurcation analysis"
I tried to perfom a bifurcation analysis with rrplugins as described in the documentation of libroadrunner.

However I get the following error:
OSError: exception: access violation reading 0x0000000000000000

I also tried it with an example SBML file but gut the same error. I am working on an windows machine with anaconda but also tried it on jupyter hub on a linux cluster where the kernel was dis

[2021-05-19 21:13] luciansmith opened #779 "Clean up new warnings"
There are a lot of new warnings when building roadrunner, mostly due to the Poco switch; it would be nice to get them all cleared out again.

[2021-05-27 18:47] luciansmith opened #781 "Return complex numbers for eigenvalues"
The documentation for the eigenvalue functions (getFullEigenValues, getReducedEigenValues, etc.) claim that they return a n by 2 matrix, with the first column containing the real values and the second column containing the imaginary values.

In C++, this is sort of true:  you actually get a vector of the libstruct 'Complex' type.  However, in Python, as far as I can tell, you just get the real val

[2021-05-28 10:02] CiaranWelsh commented on #779
Many of the warnings are due to llvm6 being compiled on c++17, some might be Poco. I looked into one or two of them and they seemed benign.

[2021-05-28 10:08] CiaranWelsh commented on #781
Yep, that looks like a bug. I suspect the wrong typemap is being applied in roadrunner.i. For testing, it might be easier to modify "python_api_tests.py" rather than playing around with rrtest's. I'm happy to tackle this one after I've finished expanding unit tests (or if its urgent I can do it sooner).

[2021-05-28 23:15] luciansmith commented on #781
OK!  Investigating this, it turns out that if the imaginary part of every eigenvalue was '0', it would convert the values to reals instead of complex!  I emailed you and Herbert about this; I'd like to change it to always return complex values.

[2021-05-28 23:31] hsauro commented on #781
See my last personal email, I confirm your prognosis and solution.

Herbert

On Fri, May 28, 2021 at 4:16 PM Lucian Smith ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-06-09 09:41] CiaranWelsh commented on #757
Just a note - we are now using an experimental release of roadrunner to try and catch problems before we release properly. See https://pypi.org/project/libroadrunner-experimental/ for the latest,

[2021-06-16 02:04] hsauro opened #787 "r.getSteadyStateValues() does not raise an exception when it should"
There is something very peculiar going on with this script.  The model has no steady-state, S2 goes to infinity, this is expected.  A call to r.steadyState() raises an exception to indicate this, but r.getSteadyStateValues() does not  when it should. This means there is a difference between how r.steadyState() does things compared to r.getSteadyStateValues(). This odd behavior happens in previous

[2021-07-12 20:44] luciansmith opened #789 "Let users reset species default values"
If the value of a species is not set, roadrunner gives it a default value of 0.  Other simulators like Copasi give them a default value of 1!

There's no great way to resolve this, since a lot of extant roadrunner/tellurium models and examples rely on our existing default.  So probably the best solution is:

* Create a new user setting, and give it the default value of 'no default':  make sure tha

[2021-07-12 23:00] matthiaskoenig commented on #789
These are invalid (underspecified) models if the species are used to calculate any depending math. Not sure it is a good idea to give any value beside `NaN` in roadrunner, because it hides obvious problems in the model.

[2021-07-12 23:18] luciansmith commented on #789
Yes, that's what I want the new default to be.  However, roadrunner has provided defaults for years (as have other simulators) so it will cause problems if we suddenly remove that feature.

[2021-07-12 23:20] hsauro commented on #789
If I don't set a species concentration I assume it is zero. Imagine having
a 100 species, you'd have to assign each one to zero.

H

On Mon, Jul 12, 2021 at 4:02 PM Matthias König ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-07-12 23:26] matthiaskoenig commented on #789
@hsauro
But this is not a problem of roadrunner, but of the tool creating the SBML model (assumingly antimony?).
So the default should be 0 in antimony thereby creating valid models.

[2021-07-12 23:27] hsauro commented on #789
Yes right, default for zero. To respond to Matthias, it would be a real
pain to be forced to initialize every species. A GUI can initialize fields
automatically but we can't do that.

On Mon, Jul 12, 2021 at 4:19 PM Lucian Smith ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-07-12 23:32] luciansmith commented on #789
Providing defaults is something that I've considered adding to antimony in the past, but haven't ever done.  Wherever it was added, it wouldn't be too difficult to do.

[2021-07-13 00:12] hsauro commented on #789
Maybe we should add directives to antimony or expand the language in some
way?

H

On Mon, Jul 12, 2021 at 4:33 PM Lucian Smith ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-07-16 09:29] matthiaskoenig commented on #743
Can this be merged in develop please? Or is this already in the develop build?

[2021-07-16 09:31] matthiaskoenig commented on #732
@luciansmith and @CiaranWelsh As mentioned above not complicated at all. I would need this for parameter fitting. It would be great if this could be supported.

[2021-07-16 14:48] luciansmith opened #792 "Add tests for new functions"
https://github.com/sys-bio/roadrunner/pull/782

[2021-07-16 16:01] CiaranWelsh commented on #743
Hi Mathias, sorry no - as ever it was more complicated to implement this in RoadRunner and it remains unfinished. I'll get back to this as soon as I can.

Ciaran

[2021-07-16 16:14] matthiaskoenig commented on #743
@CiaranWelsh thanks.

[2021-07-16 18:52] hsauro commented on #743
I'd like to get back to this as well. It might be easier than we think,
since we have the save and load state methods. This is something I'd like
to get into the next paper on roadrunner.

Herbert

On Fri, Jul 16, 2021 at 9:15 AM Matthias König ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.ana

[2021-07-16 18:52] hsauro commented on #732
Agreed this is something we should do.

Once Ciaran has finished adding the time dependent sensitivity
functionality and Lucian is done with the sedml work we should return to
this and the pickley request.

[2021-07-19 11:44] matthiaskoenig commented on #743
Yes, this should be very easy. The hard part is done with the state handling. This just requires some additional wrapping on the swig level.

[2021-07-19 13:12] CiaranWelsh commented on #743
So although roadrunner already provides its own state saving api, this format is not the same as that used for pickle - at least I presume its not. Therefore we need a way to convert a "roadrunner saved state file", which I belive is binary anyway, to pickle format - whatever that looks like. We may be able to do this with the Python C API.

[2021-07-19 16:54] matthiaskoenig commented on #743
I think you can use whatever binary format. Main thing you have to implement is
`__getstate__` and `__setstate__` on the `RoadRunner` swig object which would use the `setState` and `getState` methods and ensure the methods are working. I googled a bit and your solution above looks like the right thing.

[2021-07-20 10:55] matthiaskoenig opened #793 "`getHasOnlySubstanceUnits` missing from Python interface"
Only the setHasOnlySubstanceUnits not the getHasOnlySubstanceUnits is exposed in python on the RoadRunner object. I think the getter is missing form the swig interface.
See also comments in https://github.com/sys-bio/roadrunner/pull/782

@luciansmith Would it be possible to fix this smaller issue in the Swig interface (i.e. expose the `getHasOnlySubstanceUnits` method)?  Then I could implement the

[2021-07-21 16:15] CiaranWelsh commented on #793
Lucian only added this method recently, which means it won't be in the publically available Python API's until the next release - unless of course you get the most recent binaries/pip wheels from the [develop branch on azure](https://dev.azure.com/TheRoadrunnerProject/roadrunner/_build/results?buildId=770&view=artifacts&pathAsName=false&type=publishedArtifacts).

[2021-07-21 16:30] CiaranWelsh opened #794 "rrtest files are not being executed from the C++ test suite"
Looking at the file `D:\roadrunner\roadrunner\test\c_api_rrtests\RRTestFileTests.cpp` and the method `CApiRRTests::checkRRTest` you can see all the `iniSections` are looped over. Since the first section in the rrtest files is always `sbml` and we immediately `break` after, the rest of the loop is always skipped. This means that these tests have not actually be run in some time (at least on the C++

[2021-07-25 21:11] matthiaskoenig commented on #793
Yes, I tried this with the latest azure develop builts, but only saw the setter not the getter.

[2021-07-26 09:05] CiaranWelsh commented on #793
hmm that's odd, since I have the following in my branch - and this is content merged from develop:

[code]

If you just sit tight for another few days, I'll be merging the sensitivity branch (cvodes-2) into develop which has the above - so presumably resolves this issue.

Ciaran

[2021-07-26 12:59] matthiaskoenig commented on #793
Sounds great. Thanks

On Mon, Jul 26, 2021, 12:06 Ciaran Welsh ***@***.***> wrote:

[2021-08-03 23:56] hsauro opened #796 "Issue on Mac OS numpy"
Mac OS  Big Sur
Installing Telluriumn
Python had a newer numpy, asked to downgrade to a lower numpy

[('tellurium', '2.2.0'),
 ('roadrunner', '2.0.5'),
 ('rrplugins', '2.0.4'),
 ('antimony', '2.12.0'),
 ('libsbml', '5.18.0'),
 ('libsedml', '2.0.15'),
 ('phrasedml', '1.1.1')]

Traceback (most recent call last):
  File /var/folders/s2/28x1v8z176bgkg89mdzsr72r0000gn/T/ipykernel_21918/146626175.py", l

[2021-08-04 00:03] luciansmith commented on #796
Yup, this is an old issue that has been fixed in the source, but hasn't been released yet.

[2021-08-16 08:59] matthiaskoenig commented on #757
Sorry, never came back to you on this. The experimental release solves is perfect.
Thanks. Closing this.

[2021-08-16 08:59] #757 closed, assigned to nobody

[2021-08-18 17:59] hsauro opened #800 "Doc string on steady state solver approx_tolerane is suspect"
Consider the following:

import tellurium as te

r = te.loada("""
J1: $Xo -> S1; Vm1/Km10*(Xo-S1/Keq1)/(1 + Xo/Km10 + S1/Km11);
J2: S1 -> S2; Vm2/Km20*(S1-S2/Keq2)/(1 + S1/Km20 + S2/Km21);
J3: S2 -> $X1; Vm3/Km30*(S2-X1/Keq3)/(1 + S2/Km30 + X1/Km31);

Vm1 = 5.36; Vm2 = 7.72; Vm3 = 2.40
Km10 = 6.67; Km11 = 4.51; Km20 = 4.70
Km21 = 6.53; Km30 = 3.25; Km31 = 5.02
Keq1 = 8.42; Keq2 = 9.70; Keq3 = 2.38

[2021-08-18 18:02] hsauro opened #801 "Setting tolerance for newton steady-state doesn't seem to do anything"
Consider:

import tellurium as te

r = te.loada("""
J1: $Xo -> S1; Vm1/Km10*(Xo-S1/Keq1)/(1 + Xo/Km10 + S1/Km11);
J2: S1 -> S2; Vm2/Km20*(S1-S2/Keq2)/(1 + S1/Km20 + S2/Km21);
J3: S2 -> $X1; Vm3/Km30*(S2-X1/Keq3)/(1 + S2/Km30 + X1/Km31);

Vm1 = 5.36; Vm2 = 7.72; Vm3 = 2.40
Km10 = 6.67; Km11 = 4.51; Km20 = 4.70
Km21 = 6.53; Km30 = 3.25; Km31 = 5.02
Keq1 = 8.42; Keq2 = 9.70; Keq3 = 2.38
Xo = 1.00; X1

[2021-08-18 18:29] hsauro opened #802 "Specifiy output list in timeSeriesSensitivities"
How does a user specify the variables it wants returned by timeSeriesSensitivities?

With simulate can can use something like

m = r.simulate (0, 10, 100, ['S1', 'S2'])

[2021-08-18 18:32] hsauro opened #803 "How to plotting timeSeriesSensitivities data"
timeSeriesSensitivities returns a bunch of data:

time, sens, rownames, colnames = r.timeSeriesSensitivities(0, 10, 11)

what is the best way to plot this? Is there a helper function a user can use to plot the data, eg

plotts (['k1'], ['S1'])

or

plots (['k1'], ['J1'])

[2021-08-18 18:33] hsauro opened #804 "How does a user get the reaction rates (flux) time series sensitivities?"
How does a user get the flux time series sensitivities?

[2021-08-20 16:02] BenNordick commented on #773
This happens to me on every platform I have tried as long as there is more than one rate rule. Interestingly, adding a boundary species (even one that doesn't do anything) seems to work around the problem: I add a rate rule that turns the fake boundary species into one of my floating species, give this rate rule a constant rate of zero, and set the fake boundary species' concentration to zero.

[2021-08-23 14:53] jonrkarr opened #806 "Links to Python documentation are broken"
The link in http://libroadrunner.org/documentation-2/ to http://sys-bio.github.io/roadrunner/python_docs/index.html (in "Advanced [Python interface] with equivalent functionality") is broken. It seems the docs have moved to https://sys-bio.github.io/roadrunner/docs-build/PythonAPIReference/api_reference.html.

In fact, there are several broken links to http://sys-bio.github.io/roadrunner/python_do

[2021-08-23 14:54] jonrkarr commented on #806
Links to C and C++ documentation are also broken
http://sys-bio.github.io/roadrunner/cpp_api_docs/
http://sys-bio.github.io/roadrunner/c_api_docs/

[2021-08-23 14:56] jonrkarr opened #807 "Link to COBIO is broken"
Link to http://sysb.io/ in http://libroadrunner.org/tools-that-use-libroadrunner/

[2021-08-23 15:07] jonrkarr opened #808 "Remove unimplemented integrator options"
Some of the Gillespie integrator options are not implemented. This makes the documentation misleading. These should be removed
- initial_time_step
- maximum_time_step

See https://github.com/sys-bio/roadrunner/blob/e1be6c46234e3f8996cd56bc13f23741b2bc3868/source/GillespieIntegrator.cpp#L198

[2021-08-25 18:13] shoepfl commented on #773
Thank you for your response. I tried to add a boundary species as you described but sadly get still the same error. Do you have a minimal example for which i can test my system? Thank you in advance

[2021-08-25 18:32] BenNordick commented on #773
I'm using the Tellurium library for Python with an [Antimony](https://tellurium.readthedocs.io/en/latest/antimony.html) model. With rrplugins 2.0.4 in Python 3.8.5 on 64-bit Ubuntu 20.04, this segfaults...

[code]

...but changing the model string to include a boundary species works:

[code]

[2021-08-25 18:58] luciansmith commented on #773
Obviously, the program shouldn't crash in general, though I'm glad there's a workaround that seems to work at least some of the time.  I'm investigating now, and will let you know what I discover.

[2021-08-25 19:06] luciansmith opened #809 "Get plugin tests working on Mac/Linux"
Something about the way the libraries are linked causes the plugin tests to fail on mac and linux.  Some progress was made by stripping unnecessary libraries from being linked to the plugin libraries, but problems remain.

I believe the basic problem is that some support libraries (including poco and the plugins basic library that includes telConstants.h) are linked to both the plugins c api libra

[2021-08-25 19:53] luciansmith commented on #809
Here's the result of running 'valgrind' on a stripped-down test where the only thing it does is create a PluginManager that looks in a single directory and loads the only plugin there, the 'hello' plugin:

[plugapi.log](https://github.com/sys-bio/roadrunner/files/7049542/plugapi.log)

(Also, the 'load' function in the PluginManager has has all of the logging functions commented out, so that we don

[2021-08-26 06:38] shoepfl commented on #773
@BenNordick thank you very much - this works for me as well. I rewrote my model in Antimony and included the boundary species as you described and this worked around the problem.

@luciansmith thank you for having a look into it

[2021-08-27 21:21] TDLemonNovecento commented on #905
I was not able to import ".sbml" files in general, neither via the "te.loads" nor via the official "te.loadSBMLModel". The files are direct exports from matlab, and function properly. I can also extract ODEs from the model (after a quickfix by importing $import tellurium as te in one of the files), but not import the model. It just crashes the python program without error. Only after removing the

[2021-08-27 22:28] hsauro commented on #905
Do you have an example sbml you can't load? I did experience once an
error where if there is a blank line at the start of the sbml file libsbml
will crash.

Herbert Sauro

On Fri, Aug 27, 2021 at 2:21 PM TDLemonNovecento ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-08-27 23:25] CiaranWelsh commented on #905
@hsauro pretty sure I fixed the blank line problem by chomping leading and trailing whites pace. Could only be in the experimental release though.

[2021-08-30 19:17] luciansmith opened #811 "resetAll doesn't"
The 'resetAll' command is not resetting everything as it should.  You can see this with the following simple program:

[code]

The resulting two plots are different from each other, and the initial states are:

[code]

The 'resetToOrigin' function works as expected.  In this case, 'resetAll' should behave the same, as none of the initial states have been changed.

[2021-08-31 16:30] luciansmith commented on #711
This is now possible!  https://github.com/sys-bio/roadrunner/pull/812

The 'resetAll' function still needs work (https://github.com/sys-bio/roadrunner/issues/811) but getting and setting the initial value of a boundary species is now implemented.  This turned out to be a fundamental omission in the bowels of the code:  space was reserved for these values, but the host of functions necessary to get

[2021-08-31 16:30] #711 closed, assigned to nobody

[2021-08-31 19:49] TDLemonNovecento commented on #905
Okay I found a package which shows errors with this file as well:
ERROR:sbmlutils.validation:E3: SBML identifier consistency (core, L395, code)
[Error] Duplicate 'id' attribute value

This seems to be the issue, I removed all duplicates, now it doesn't crash anymore :D

[2021-08-31 20:12] luciansmith commented on #905
This could indeed be the problem with your model, yes:  all 'id' values among most SBML elements must be unique.

You could send your model to the SBML online validator at

http://constraint.caltech.edu:8888/validator_servlet/index.jsp

which should give you more information about *which* ids are duplicated.

This is also, to be clear, a bug in Tellurium/roadrunner:  it shouldn't crash when given

[2021-08-31 20:14] TDLemonNovecento commented on #905
Perfect, thanks for the link!

[2021-09-02 16:12] #570 closed, assigned to nobody

[2021-09-02 16:21] luciansmith opened #813 "Better docs for setSteadyStateSolver"
The docs and the error message should tell you what your options are.

[2021-09-02 16:43] CiaranWelsh opened #814 "Add getSteadyStateSolverNames method etc."
Add methods for getting names of integrators, steady state solvers and sensitivity solvers

[2021-09-02 16:54] CiaranWelsh opened #815 "Add seed to constructor of Gillespie in Python"

[2021-09-02 16:54] CiaranWelsh opened #816 "Implement time series sensitivity plots in Python"

[2021-09-02 21:40] jonrkarr opened #817 "`rr::ExecutableModel::set*Values(int,int const *,int,double const *)` methods don't work from Python"
The [Python API documentation](http://sys-bio.github.io/roadrunner/docs-build/PythonAPIReference/cls_ExecutableModel.html?highlight=setglobalparametervalues#RoadRunner.ExecutableModel.setGlobalParameterValues) shows methods for setting species concentrations, parameter values, etc. These functions don't work as illustrated from Python.

For example (copied from the documentation)
[code]

results i

[2021-09-02 23:00] hsauro commented on #817
I think I've seen something like this before. I've a feeling it's an error
in the docs.

Lucian, do you know what the correct arguments are?

[2021-09-02 23:04] luciansmith commented on #817
Well, setting individual elements continues to work (as noted); we just need to figure out what broke setting element by vector.

[2021-09-02 23:07] jonrkarr commented on #817
Eventually I figured out I can use dictionary-style attributes on executable model objects instead.

Setting individual elements doesn't work. I couldn't figure out how to satisfy the interface from Python. I tried a variety of things including using NumPy as the documentation suggests and the ctypes module.

Vector setting seemed like it probably works, but there's validation that prevents that f

[2021-09-02 23:12] luciansmith commented on #817
Setting individual elements works by calling 'rr.setValue("S1", 5)'  You can also do rr["S1"] = 5 or even (when legal) rr.S1 = 5.

[2021-09-02 23:15] jonrkarr commented on #817
Yes, that style of setting elements works.

[2021-09-02 23:22] luciansmith commented on #817
What didn't work for you for 'setting individual elements'?  Those three methods are the ones I know of.

[2021-09-02 23:24] jonrkarr commented on #817
For example, `setGlobalParameterValues` doesn't work with length-1 arrays.

[2021-09-02 23:29] luciansmith commented on #817
Ah, OK.  So it's still the vector setting that's the problem.

[2021-09-02 23:32] jonrkarr commented on #817
Sorry, if that was confusing. RoadRunner has yet another set of functions that I would think of a (dense) "vector" setting, where the values of all of the components (of a given type) can be set at once.

[2021-09-02 23:35] luciansmith commented on #817
Got it:  so it's the plural functions setValues and set[TYPE]Values that both are currently broken, and don't work regardless of vector length.

[2021-09-03 00:07] jonrkarr commented on #817
`set[TYPE]Values` didn't work for me. I didn't try `setValues`.

The alternative function signatures for dense array input seemed to work, with the caveat that they can't be used when some variables are read only.

[2021-09-04 00:54] luciansmith commented on #710
@matthiaskoenig : I am working on a solution to this!  I am pretty close, but want to make sure what I'm implementing will work for you.

The basic idea of how you would do it would be to set new initial values, then reset everything:

[code]
Will that work?

Since we can only reset categories of elements, I can't make it so that if you change the *current* value of one parameter, and want to reca

[2021-09-07 21:58] matthiaskoenig commented on #710
@luciansmith Perfect. This works for me.
Thanks for looking at this.

[2021-09-08 00:03] luciansmith opened #819 "Reset RATEs don't always honor Initial Assignments"
The basic problem is that internally, the list of initial values for a species (both floating and boundary) behave slightly differently from the lists of initial values for a compartment or parameter.  The species list seems to use initial values for other species and not current values, even when the initial values are not being reset.  In contrast, the compartment/parameters lists seem to use cu

[2021-09-08 23:12] luciansmith commented on #811
To completely fix this, both roadrunner and tellurium need to be updated, because tellurium overwrites roadrunner's 'resetAll' function with the old incorrect version.  To do this by hand, delete the 'resetToOrigin' and 'resetAll' functions from tellurium/tellurium/roadrunner/extended_roadrunner.py

However, with that, it's now fixed, with https://github.com/sys-bio/roadrunner/pull/818 !

[2021-09-08 23:12] #811 closed, assigned to nobody

[2021-09-08 23:14] luciansmith commented on #710
To completely fix this, both roadrunner and tellurium need to be updated, because tellurium overwrites roadrunner's 'resetAll' function with the old incorrect version.  To do this by hand, delete the 'resetToOrigin' and 'resetAll' functions from tellurium/tellurium/roadrunner/extended_roadrunner.py

However, with that, it's now fixed, with https://github.com/sys-bio/roadrunner/pull/818 and will be

[2021-09-08 23:14] #710 closed, assigned to nobody

[2021-09-08 23:18] luciansmith commented on #580
With https://github.com/sys-bio/roadrunner/pull/818 this now works as expected!

[2021-09-08 23:18] #580 closed, assigned to nobody

[2021-09-08 23:20] luciansmith commented on #328
With https://github.com/sys-bio/roadrunner/pull/818 this is now fixed!

[2021-09-08 23:20] #328 closed

[2021-09-08 23:49] luciansmith opened #820 "addSpecies broken"
The 'addSpecies' function is broken though the 'addCompartment' is not:

[code]

[2021-09-08 23:53] luciansmith commented on #820
@CiaranWelsh : This is broken in libroadrunner-experimental, but works in the (very old now) libroadrunner.  Could it have to do with Swig updates?

[2021-09-09 06:44] CiaranWelsh commented on #820
That’s right - I believe @hsauro changed these to addSpeciesAmount and addSpeciesConcentrations.

[2021-09-09 06:49] CiaranWelsh commented on #820
…though perhaps in this case it would be better to change it back to addSpecies (open closed principle) but add a keyword argument that defaults to concentrations for the sake of backwards compatibility?

[2021-09-09 12:22] matthiaskoenig commented on #328
Thanks so much. Can test this as soon as a new libroadrunner-experimental
release is out ;)

On Thu, Sep 9, 2021 at 1:20 AM Lucian Smith ***@***.***>
wrote:

--
Matthias König, PhD.
Junior Group Leader LiSyM - Systems Medicine of the Liver
Humboldt Universität zu Berlin, Institute of Biology, Institute for
Theoretical Biology
  https://livermetabolism.com
***@***.***
https://twitter.com/konigmatt

[2021-09-09 15:27] luciansmith commented on #820
Ah, that makes sense, and yes, now that I've been messing with the .i files I should be able to change it to that version.  Thanks!

[2021-09-09 17:34] luciansmith commented on #820
Fixed with https://github.com/sys-bio/roadrunner/pull/822

(However, I didn't add any tests.  I'll make a separate issue for that.)

[2021-09-09 17:34] #820 closed, assigned to luciansmith, CiaranWelsh

[2021-09-09 17:36] luciansmith opened #823 "Add python tests for python-only functions."
Anything wrapped in a non-standard way in roadrunner.i needs to be tested in Python.  This includes all the 'reset' functions and the 'edit the SBML model' functions at least, but probably also includes more.

We want to avoid the situation where 'addSpecies' used to work, but then broke because the underlying function was changed.

[2021-09-09 17:43] luciansmith commented on #579
I'm going to close this issue--the 'reset' functions recently got a big overhaul and hopefully will work more intuitively going forward (with the next release of roadrunner).

Also, just to note:  the 'init(x)' functionality works for all model variables and parameters (not just floating species), and are applied whenever 'x' is reset.  This is because the user can change anything at any time, and

[2021-09-09 17:43] #579 closed, assigned to nobody

[2021-09-09 17:47] luciansmith commented on #250
With the overhaul of the reset functions, the 'reset' function now has the following documentation.  Closing this issue, though I'm happy to take more suggestions here!

-----------

By default, reset all floating species concentrations and all variables changed by rate rules to their CURRENT init(X) values.

It is possible to change the behavior of this function by providing a list of "or'ed" Sel

[2021-09-09 17:47] #250 closed

[2021-09-09 20:01] #773 closed, assigned to luciansmith

[2021-09-09 20:06] luciansmith commented on #773
This is now fixed with https://github.com/sys-bio/roadrunner/pull/824/commits/4275c32a373a3dca3dfaa2fe03abeeb4d0dc988b

Also, I can report that the roadrunner bug was entirely due to there not being any boundary species in the model, so the workaround will work fine, and will not change the results of the analysis.  Thank you for the report!

[2021-09-09 21:14] luciansmith commented on #819
Update:  it seems to matter that C1 (the thing under control of an event) is the species:

[code]

(Also returns '5'.)

[2021-09-09 21:18] luciansmith commented on #793
It looks like this is working for me as well, now that everything is merged again.  Closing; will be in next release.

[2021-09-09 21:18] #793 closed, assigned to nobody

[2021-09-10 16:17] #781 closed, assigned to nobody

[2021-09-14 23:18] luciansmith opened #828 "Azure tests don't notice failed python tests."
If you look at

https://dev.azure.com/TheRoadrunnerProject/255e6ce3-64bc-4a95-a8c8-2a25dc15a90e/_apis/build/builds/887/logs/112

you'll see that the 'resetAll' test failed, but Azure didn't notice, and marked the build as a success.

[2021-09-15 13:31] CiaranWelsh commented on #828
I've resolved this by running the `tester.py` from a `unittest` wrapper. I force merged the fix into develop so that now the develop branch is correctly failing, and needs fixing.

[2021-09-15 13:33] #828 closed, assigned to CiaranWelsh

[2021-09-15 13:39] CiaranWelsh opened #830 "Fix develop branch: resetAll and reset conserved moieties"
As per #828 azure tests failed to report some of the Python tests which allowed a bug to enter the develop branch. The problem with azure has been fixed with #829 which was force merged so that the develop branch now correctly fails. We now need to fix the develop branch where some of the reset functions fail from Python.

[2021-09-15 13:46] CiaranWelsh commented on #823
I generally use either [python_api_tests.py](https://github.com/sys-bio/roadrunner/blob/develop/wrappers/Python/roadrunner/testing/python_api_tests.py) for this or have. been creating new dedicated Python test files such as [AutomaticMoietyConservationAnalysisTests.py](https://github.com/sys-bio/roadrunner/blob/develop/test/sundials-tests/SundialsSteadyStateTests/AutomaticMoietyConservationAnalysi

[2021-09-15 14:11] CiaranWelsh commented on #800
To explain a related question you had a while ago - why is sundials so much less accurate than nleq1/2? Well the answer I've realised that it might not be. Sundials uses two different tolerances [func_norm_tol](https://github.com/sys-bio/roadrunner/blob/8881cade35571ae8042abd985aea7c55d712480a/source/KinsolSteadyStateSolver.cpp#L173) and [scaled_step_tol](https://github.com/sys-bio/roadrunner/blob

[2021-09-15 14:16] CiaranWelsh commented on #800
The doc string that we have on the [c++ end](https://github.com/sys-bio/roadrunner/blob/f8017b50514e9a7caf94e9feb6987a6730ecfc1e/source/SteadyStateSolver.cpp#L70) for approx options are:

[code]

[2021-09-15 14:45] CiaranWelsh commented on #800
It looks like `help(solver.approx_tolerance)` is returning the documentation for `help(float)`, aka `print(help(solver.approx_tolerance) == help(float))` returns `True`. Did this behaviour work previously?

[2021-09-15 14:52] CiaranWelsh commented on #801
The two settings you want are `func_norm_tol` and `scaled_step_tol`, as per #800 [here](https://github.com/sys-bio/roadrunner/issues/800#issuecomment-920055327). Take a look at the docs for [kinsol](https://computing.llnl.gov/sites/default/files/kin_guide.pdf), specifically, look for the section called `Nonlinear iteration stopping criteria` under `mathematical considerations`.

[2021-09-15 14:57] CiaranWelsh commented on #816
Closing because of duplicate #803

[2021-09-15 14:57] #816 closed, assigned to nobody

[2021-09-15 15:34] luciansmith commented on #828
Thank you!

I have the 'resetAll' tests fixed (in the wrong branch, but enh.) and just have one test left to fix.

[2021-09-15 20:14] luciansmith commented on #830
Fixed!

[2021-09-15 20:14] #830 closed, assigned to luciansmith

[2021-09-15 23:57] luciansmith commented on #732
This is now done with https://github.com/sys-bio/roadrunner/pull/827 !  There's a new 'times' argument for the 'simulate' function, that you can use instead of start/end/duration.

[2021-09-15 23:57] #732 closed, assigned to luciansmith

[2021-09-16 04:07] luciansmith opened #833 "Can't set integrator from rrtests"
For some reason, when the rrtests try to set the integrator to 'rk4' or 'rk45' in C++, it fails because there are zero registered integrators (as far as I can tell).  For now, I just disabled those test sections, but it would be nice to figure out why and fix this.  I *think* the integrator factory mechanism was set up by Ciaran, so I'm assigning this to him for now.

The tests can be re-enabled i

[2021-09-16 04:08] luciansmith commented on #794
Mostly fixed with https://github.com/sys-bio/roadrunner/pull/832

[2021-09-16 04:08] #794 closed, assigned to nobody

[2021-09-16 04:09] luciansmith opened #834 "Implement model editing RRTests in C++"
There are a variety of model editing tests that were added to the .rrtest format and implemented in Python.  Those implementations didn't reach C++, though, and could be moved over there as well.

[2021-09-16 07:14] matthiaskoenig commented on #732
@luciansmith This is amazing, makes so many things so much easier.
We finally need in person COMBINE or HARMONY again so I can invite you for dinner ;)

[2021-09-16 15:40] luciansmith opened #836 "Implement 'times' option for simulate as new C/C++ functions."
'times' is now an optional argument in Python; we should add similar functions for C and C++.

[2021-09-16 15:41] #787 closed, assigned to CiaranWelsh

[2021-09-16 15:42] #684 closed, assigned to luciansmith

[2021-09-16 17:19] hsauro commented on #325
This will require some extra thought, for now add an exception handler around getFloatingSpeciesAmountRates and warn the user that S' (rate of change symbol) for dependent variables when there are conserved moieties is not supported. Workaround is for a user to ask for the independent variables (si) and compute the dependent (sd) rates of change from dsd/dt = L dsi/dt (see equation 7 of metabolic

[2021-09-16 17:23] #251 closed

[2021-09-16 19:33] luciansmith commented on #325
Exception added:  you now get the message:

"No rate available for floating species S2: if conserved moieties are enabled, this species may be defined by an implied assignment rule instead, and its rate cannot be determined."

Will that work?

[2021-09-16 21:29] luciansmith commented on #326
Given that S2 has no rate associated with it, since conserved moieties are on, I think this isn't a bug so much as it is a bad error message.  This is now what you get when you run that program:

RuntimeError: No rate available for floating species S2: if conserved moieties are enabled, this species may be defined by an implied assignment rule instead, and its rate cannot be determined.

[2021-09-16 21:48] luciansmith commented on #823
So, it turns out the problem here was more that the rrtests weren't being checked than that there weren't tests--both 'addSpecies' and 'resetAll' (and others) were being tested; we just didn't notice them failing before.  This is now fixed!

[2021-09-16 21:48] #823 closed, assigned to nobody

[2021-09-16 23:33] luciansmith commented on #516
Looks like this works--the following python script functions as expected:

import tellurium as te

r = te.loada("""
  e = 10
  E0: at(time>3): e=5
""")

print(r.model.getEventIds())

[2021-09-16 23:33] #516 closed, assigned to luciansmith

[2021-09-17 00:54] luciansmith commented on #836
Done with https://github.com/sys-bio/roadrunner/pull/838

[2021-09-17 00:54] #836 closed, assigned to nobody

[2021-09-17 01:23] luciansmith commented on #325
Fixed with https://github.com/sys-bio/roadrunner/pull/837 for now.

[2021-09-17 01:23] #325 closed

[2021-09-17 01:30] luciansmith commented on #326
Closed with https://github.com/sys-bio/roadrunner/pull/837 for now.

[2021-09-17 01:30] #326 closed

[2021-09-17 01:37] luciansmith opened #839 "Allow getting rates of change from conserved moieties"
cf https://github.com/sys-bio/roadrunner/issues/325 and https://github.com/sys-bio/roadrunner/issues/326: we could calculate the rates of change of floating species that are fixed to their conserved moieties.  Right now, we just say we can't do it.

[2021-09-17 07:53] CiaranWelsh commented on #802
Implemented with #835

Syntax is now
[code]

[2021-09-17 07:53] #802 closed, assigned to CiaranWelsh

[2021-09-17 07:56] CiaranWelsh commented on #803
Implemented with #835

Syntax is
[code]

[2021-09-17 07:56] #803 closed, assigned to CiaranWelsh

[2021-09-17 08:19] CiaranWelsh commented on #814
I've just found these

[code]

and corresponding tests
[code]

@hsauro Are you happy with the naming convention? We could change this to something easier to remember. Perhaps we should have a section in the docs about querying registered vs existing solvers, or swapping solvers and changing their options etc.

[2021-09-17 08:24] CiaranWelsh opened #840 "roadrunner.__version__ errors"
[code]

This is the normal way of querying version in Python so we should conform.

[2021-09-17 08:53] CiaranWelsh commented on #833
The mechanism for setting Integrators (and solvers in general) was already around before I got there. I did however refactor it a little to remove some of the clunkyness.

As far as registered intergrators in Python goes, they look like they are working based on

[code]

[2021-09-17 09:03] CiaranWelsh commented on #833
It seems all is working from the C++ API:

[code]

So the problem must be with the C API

[2021-09-17 09:54] CiaranWelsh commented on #833
I took all the various bits of code that collectively make up that test and put them into a new test (see below). Thing is, it passes - so my guess is that its a bug in the test suite resulting from using a shared state between tests (i.e. global variables). It could take a long time to debug this so I'm going to move on to something that needs doing for the release.

[code]

[2021-09-17 11:15] CiaranWelsh commented on #813
Resolved by #842

[2021-09-17 11:17] CiaranWelsh commented on #804
How do you normally get these values? Since the time series sensitivity solver uses CVODEIntegrator under the hood it's likely the same way but we may want to expose this as a public method that simply calls the corresponding CVODEIntegrator method.

[2021-09-17 11:20] CiaranWelsh commented on #792
@luciansmith is this resolved?

[2021-09-17 11:22] CiaranWelsh commented on #719
@hsauro is this resolved?

[2021-09-17 11:23] #762 closed, assigned to luciansmith, CiaranWelsh

[2021-09-17 11:25] CiaranWelsh commented on #641
Closing this for now as Lucian seems to have the plugins working. Please reopen if needed.

[2021-09-17 11:25] #641 closed, assigned to nobody

[2021-09-17 12:44] #551 closed, assigned to nobody

[2021-09-17 12:46] CiaranWelsh commented on #543
Closing as this has gone stale now.

[2021-09-17 12:46] #543 closed, assigned to nobody

[2021-09-17 12:47] CiaranWelsh commented on #545
Closing since we've done a lot for testing in the last year.

[2021-09-17 12:47] #545 closed, assigned to nobody

[2021-09-17 12:48] CiaranWelsh commented on #536
We've done a lot with testing in the last year so I'm closing this issue.

[2021-09-17 12:48] #536 closed, assigned to nobody

[2021-09-17 12:48] CiaranWelsh commented on #535
This has been handled by Lucian I believe

[2021-09-17 12:48] #535 closed, assigned to nobody

[2021-09-17 12:53] CiaranWelsh commented on #529
This issue looks like it has been resolved so I'm closing it. Please reopen if I'm wrong.

[2021-09-17 12:53] #529 closed, assigned to andrewbriand, mengfy0718

[2021-09-17 12:57] CiaranWelsh commented on #527
This test, now called `GeneratingModelHash` in `CAPICoreTest.cpp` passes in both `debug` and `release` mode:

[code]

[2021-09-17 12:57] #527 closed, assigned to nobody

[2021-09-17 13:00] CiaranWelsh commented on #526
Closing as this has gone stale now.

[2021-09-17 13:00] #526 closed, assigned to nobody

[2021-09-17 13:02] CiaranWelsh commented on #512
Sundials, as well as all other dependencies except llvm has been updated with the new build system.

[2021-09-17 13:02] #512 closed, assigned to nobody

[2021-09-17 13:41] CiaranWelsh commented on #539
I started doing something similar with plantuml under the [design folder](https://github.com/sys-bio/roadrunner/tree/develop/design).

[2021-09-17 13:41] CiaranWelsh commented on #547
We use googletest now which takes care of the output for us.

[2021-09-17 13:41] #547 closed, assigned to nobody

[2021-09-17 13:46] CiaranWelsh commented on #553
I have also thought of doing this, for the same reasons: when running lots of models roadrunner is slow because of the time it takes to JIT compile. As @hu-a suggests, a C++ implementation would speed model creation and would be beneficial in some situations.

Another note on this is that the code used by roadrunner for JIT compiling is quite old now and the llvm developers have made a lot of impr

[2021-09-17 13:53] #507 closed, assigned to kirichoi

[2021-09-17 13:55] CiaranWelsh commented on #509
Since this [is in the API](https://github.com/sys-bio/roadrunner/blob/fe6ac646690b2d43f5b4bc9d67c3fb684c162500/source/rrRoadRunner.cpp#L2748) I'll assume this has been implemented and close the issue.

[2021-09-17 13:55] #509 closed, assigned to 0u812

[2021-09-17 13:56] CiaranWelsh commented on #840
Oops, turns out my roadrunner install was just broken.

[2021-09-17 13:56] #840 closed, assigned to nobody

[2021-09-17 14:00] CiaranWelsh commented on #113
We have "a version" of this via the "TestModelFactory" which is exposed to Python via swig.

[code]
As you mentioned the other day, this isn't a magic bullet since new test models can need to be implemented on the C++ end.

[2021-09-17 14:21] CiaranWelsh commented on #223
Stale so I'm closing.

[2021-09-17 14:21] #223 closed

[2021-09-17 14:25] CiaranWelsh commented on #511
@hsauro Is this issue still relevant?

[2021-09-17 15:28] luciansmith commented on #833
I'm re-opening this since it wasn't resolved, but I 100% agree that it's a low-priority issue.

(Also, I'm editing my description because I meant to say 'in C++' instead of 'in python'.)

[2021-09-17 15:34] luciansmith commented on #553
There's an existing C++ implementation from probably 2015 or something that you can enable with a CMake flag.  I'm virtually certain that it would fail to compile nowadays, and I know that there were a lot of gaps back in the day (i.e. I think events are not supported at all).  But looking at that is where I would start.

[2021-09-17 15:39] luciansmith commented on #511
Looks like the message is now:

                    "The steady state cannot be calculated in a model with events, which this model has. To override set ALLOW_EVENTS_IN_STEADY_STATE_CALCULATIONS to True."
                    "To override, run 'roadrunner.Config.setValue(roadrunner.Config.ALLOW_EVENTS_IN_STEADY_STATE_CALCULATIONS, True)'.");

which seems good to me.

[2021-09-17 15:39] #511 closed, assigned to 0u812

[2021-09-17 15:40] CiaranWelsh commented on #833
Yes, this accidently closed because I merged a fix for something else with related histories (or something).

[2021-09-17 15:46] CiaranWelsh commented on #594
I'm closing this since we have [downloadable](https://github.com/sys-bio/llvm-6.x/releases/tag/release%2F6.x) llvm-6 builds for the main OS's

[2021-09-17 15:46] #594 closed, assigned to nobody

[2021-09-17 15:55] CiaranWelsh commented on #553
Yes, when building the new build system I tried to get the C version working but it didn't compile. I actually wouldn't mind giving this a pop though.

[2021-09-17 15:59] CiaranWelsh commented on #436
I think this is stale now so closing but please reopen if I'm wrong

[2021-09-17 15:59] #436 closed, assigned to kirichoi

[2021-09-17 16:01] #813 closed, assigned to nobody

[2021-09-17 16:15] CiaranWelsh commented on #598
@luciansmith Is this issue still relevant?

[2021-09-17 16:15] CiaranWelsh commented on #602
@luciansmith Is this issue still relevant?

[2021-09-17 16:19] CiaranWelsh commented on #522
Implemented with #843

[2021-09-17 16:19] #522 closed, assigned to 0u812, kirichoi

[2021-09-17 16:28] CiaranWelsh commented on #450
Since this issue is old and the issue seems resolved I'm closing. Please reopen if needed.

[2021-09-17 16:28] #450 closed, assigned to nobody

[2021-09-17 17:25] luciansmith commented on #602
It's probably still true, but I think it doesn't matter any more because we wrap up the libsbml build better than we used to, and don't rely on whether zip/bzip was gathered by our users.  I'll close it!

[2021-09-17 17:25] #602 closed, assigned to nobody

[2021-09-17 17:27] luciansmith commented on #598
The build system was completely overhauled after I filed this; I think we're good now.

[2021-09-17 17:27] #598 closed, assigned to nobody

[2021-09-17 21:14] luciansmith commented on #303
For the record:  Matthias's linked thread is dead, but survives at archive.org:

https://web.archive.org/web/20171225003330/http://sundials.2283335.n4.nabble.com/Implementing-ODE-s-with-delay-td3240846.html

[2021-09-17 21:46] luciansmith commented on #792
Fixed!

[2021-09-17 21:46] #792 closed, assigned to nobody

[2021-09-17 22:37] luciansmith commented on #754
Fixed with https://github.com/sys-bio/roadrunner/pull/845: we now throw on load of SBML models with delay.

[2021-09-17 22:37] #754 closed, assigned to nobody

[2021-09-17 22:38] luciansmith commented on #741
To get back to the original issue, the documentation was indeed incorrect.  However, it seemed like a reasonable request, so now with https://github.com/sys-bio/roadrunner/pull/846 by default, 'getIds()' will return a set of all IDs.  For the record, you could get the same result using the 'all' selection record, i.e.

[code]

[2021-09-17 22:38] #741 closed, assigned to nobody

[2021-09-17 23:12] luciansmith commented on #707
This now works, due to using our own version of LLVM.

[2021-09-17 23:12] #707 closed, assigned to nobody

[2021-09-17 23:14] luciansmith commented on #654
Given that the exit from LLVM is now addressed and Matthias found a workaround anyway, I'm closing this; feel free to re-open if the issue persists.

[2021-09-17 23:14] #654 closed, assigned to nobody

[2021-09-17 23:23] luciansmith commented on #600
This is done!  Looks like it was done as part of the general task of model editing.

[2021-09-17 23:23] #600 closed, assigned to nobody

[2021-09-17 23:25] luciansmith commented on #562
Looks like this was fixed.  Closing; feel free to re-open if I'm wrong.  (But Herbert's program now works.)

[2021-09-17 23:25] #562 closed, assigned to nobody

[2021-09-17 23:33] luciansmith commented on #585
As far as I can tell, this was fixed; found one more false->False fix in the docs but that was it.

[2021-09-17 23:33] #585 closed, assigned to Basie12

[2021-09-17 23:35] luciansmith commented on #538
I'm going to declare that this is done; presumably hu-a fixed it during his tenure here; if not, it's going to be hard to recreate what he was thinking at the time.  If anyone else has documentation issues, please file them!

[2021-09-17 23:35] #538 closed, assigned to amberjhu

[2021-09-17 23:45] luciansmith commented on #369
It looks like this was done--the 'performValidation' flag on the flattening converter is set to 'false'.  If it's not working, that makes it a libsbml bug! ;-)

[2021-09-17 23:45] #369 closed, assigned to nobody

[2021-09-18 00:01] luciansmith commented on #411
OK, coming back to this after four years...

From my perspective now, I think that the SED-ML decision was the wrong one:  when simulating an SBML model, time starts at 0.  It always has, and there's no way around it, since it's an implied variable.  The call:

simulate(5, 10, 50)

doesn't request that simulation start at 0, but that *output collection* begin at 5 and go to 10.  As such, a negativ

[2021-09-18 22:30] matthiaskoenig commented on #411
Okay, this makes sense. But this should then be a validation rule/warning on SED-ML. I.e. if the model is an SBML model and simulation times are negative this is invalid.

[2021-09-18 22:35] matthiaskoenig commented on #369
Top thanks.

[2021-09-18 22:39] matthiaskoenig commented on #303
Also for the record: Still very interested in running such models.
I have to mess with things such as linear chain tricks to get delays in SBML models. Having support by at least one of the big SBML simulators would be amazing. Currently only the `SBML-simulation-core` library supports delays but somehow buggy and slow.

[2021-09-19 07:40] CiaranWelsh commented on #303
I’d be interested in having a pop at implementing such a feature.

[2021-09-20 08:40] CiaranWelsh opened #848 "Should we run sbml test suite in parallel?"
With C++17 we can get some degree of parallelism just by using the [parallel execution policy](https://en.cppreference.com/w/cpp/algorithm/execution_policy_tag_t) for [for_each](https://en.cppreference.com/w/cpp/algorithm/for_each). We can process the sbml test suite a bit quicker with something like the following:

[code]

The advantage is quicker build times because the sbml test suite is be far

[2021-09-20 09:01] CiaranWelsh commented on #747
closing in favour of #743

[2021-09-20 09:01] #747 closed, assigned to CiaranWelsh

[2021-09-20 16:14] luciansmith commented on #848
That works for me.  I always set the single test to the test I'm debugging anyway.

The only enhancement I could see would be to go ahead and explicitly list and disable all the skipped tests, so that the report mentions the disabled tests so we don't forget, and it's a little easier to un-disable-and-test them going forward?

[2021-09-20 16:32] luciansmith commented on #617
Nobody ever responded on the llvm forum, so I'm now declaring that forking our own version of llvm with this assert removed is indeed the long-term solution we could find.

[2021-09-20 16:32] #617 closed, assigned to luciansmith

[2021-09-20 16:34] luciansmith commented on #614
We still only create the static version of the libsbml library by default, but we've adjusted the plugins to use that, too.

[2021-09-20 16:34] #614 closed, assigned to luciansmith

[2021-09-20 16:35] luciansmith commented on #595
We have a whole new way of building now, that doesn't rely on 7z files.

[2021-09-20 16:35] #595 closed, assigned to nobody

[2021-09-20 16:40] luciansmith commented on #568
None of the old doc links work any more since they've been moved.  I'm closing this; the actual python docstring lists the options, and the readthedocs documentation uses that string.

[2021-09-20 16:40] #568 closed, assigned to nobody

[2021-09-20 16:43] luciansmith commented on #537
Python tests are now run as part of the Azure build.

[2021-09-20 16:43] #537 closed, assigned to nobody

[2021-09-20 20:33] CiaranWelsh commented on #848
Sounds good but

How do we do this? Do you mean just print out "case x is disabled" for all the disabled tests?

[2021-09-20 20:48] luciansmith commented on #848
Just add in:

TEST_F(SbmlTestSuite, DISABLED_t1465)
{
    // Unknown throw.
    EXPECT_TRUE(RunTest(1465));
}

for the various disabled test numbers.

(Note that tests that we know we don't pass are run normally, i.e. if it has delay in it.  All the tests we're skipping are bugs, because we claim we should be able to pass them.)

[2021-09-20 21:49] CiaranWelsh commented on #848
Oh I see, yep we can do that.

[2021-09-20 22:31] luciansmith commented on #472
Looks like Andrew fixed this a while back--test 1211 now passes.

[2021-09-20 22:31] #472 closed, assigned to nobody

[2021-09-20 22:34] luciansmith commented on #446
I am amused by this old issue, since Matthias later requested this very feature ;-)  At any rate, it's now implemented (with the optional 'times' argument to 'simulate'.

[2021-09-20 22:34] #446 closed, assigned to nobody

[2021-09-21 09:56] CiaranWelsh commented on #848
Okay so it turns out that the clang compiler doesn't yet support parallel execution policies in c++17 or perhaps even c++20 by the [looks of it](https://en.cppreference.com/w/cpp/compiler_support) (search for parallel). Given this, and that the sbml test suite tests are easily parallelisable (i.e. embarrassingly parallel) I think its worth figuring out how to use  a queue along with the thread lib

[2021-09-21 15:13] luciansmith commented on #515
https://github.com/sys-bio/roadrunner/pull/852 implements three new functions:  'getAssignmentRuleIds', 'getRateRuleIds', and 'getInitialAssignmentIds'.

[2021-09-21 15:13] #515 closed, assigned to nobody

[2021-09-21 17:20] luciansmith commented on #371
It looks to me like this issue was in the encoding of the model in question, but that roadrunner was indeed interpreting it correctly.  I'm closing this, but if I'm wrong, please re-open.  Thank you!

[2021-09-21 17:20] #371 closed, assigned to nobody

[2021-09-21 20:43] luciansmith commented on #445
I checked the rk45 and rk4 integrators against the test suite.  The rk45 integrator ran until test 65, and then got into an infinite loop, after failing nearly 100% of the tests before that.  I then changed 'epsilon' to 1e-10, which I had found worked for test 1, and re-ran; it then got to test 172, (passing maybe 10 of them, likely the 'soft' tests), at which point it crashed when trying to calcu

[2021-09-22 10:30] CiaranWelsh commented on #625
Reading the [documentation](https://numpy.org/doc/stable/user/c-info.how-to-extend.html#required-subroutine) doesn't seem to match up with what we have in roadrunner.i.

Since I do not recollect, nor can I find a function called `initroadrunner` or `init_roadrunner` we may have found a part of what the new Numpy API  expects.

In general, it looks like I need to expose the NamedArray in Python suc

[2021-09-23 04:29] luciansmith commented on #411
I looked at this yet again due to Herbert saying something, and I was wrong--our simulation start time isn't a data collecction start, but an actual 'we assume the model is set to this time' start.  This in turn completely changed my perspective on what 't0' meant in an SBML model, and it made data collection with t0 < 0 actually much easier!

It turned out to be difficult to get pre-time==0 event

[2021-09-23 14:45] CiaranWelsh commented on #625
Its access to `PyArrayObject array;` in the `NamedArray` struct that is triggering the numpy deprecation warnings. See numpy ndarraytypes.h line 731.

[2021-09-23 15:16] CiaranWelsh commented on #743
@matthiaskoenig do you have any code examples that you think should run with roadrunner with the pickle feature? I'm essentially fishing for test cases and examples for documentation.

[2021-09-23 23:18] matthiaskoenig commented on #743
@CiaranWelsh Please see attached an example with ray which used the plasma store and Pickle 5 for serialization between processes.

[code]
This results in
[code]
For more information about the serialization please see:
https://docs.ray.io/en/latest/serialization.html?highlight=serialization
which also discusses some solutions such as implementing a `__reduce__` function.

Hope this helps. Similar

[2021-09-24 00:24] luciansmith opened #855 "Fix valgrind errors"
Running valgrind on the 'test the C API' test reveals uninitialized values.  Fix this, and run valgrind on everything else, too.

[2021-09-24 00:27] luciansmith opened #856 "Incorporate valgrind into autobuild system"
Find a way to incorporate valgrind runs on azure (probably on a linux build).

Looks like if we use the --error-exitcode option, it'll return non-zero if it finds errors.

There may also be valgrind errors we can't fix, in which case we'll need to find a way to find expected errors, and ignore them, too.

[2021-09-24 08:31] CiaranWelsh commented on #856
The only problem I see with this is that we have to use the debug build which is slower anyway and then valgrind runs makes things super slow - maybe too slow (3+ hours on some builds without valgrind). Then again, if we find a way to exclude the sbml test suite it might not be so bad. The other option is to use sanitizers which are actually quicker with some pretty good output though  harder to s

[2021-09-24 13:12] CiaranWelsh commented on #743
Cool! I didn't know about ray, looks like a useful tool. The good news is that your script works for me (with pip wheel on the pickle branch). Serializing the RoadRunner object wasn't too difficult, if we accept that we have to save the binary data to file (using rr.saveState and rr.loadState). It would be nice to modify state saving so that it returns binary in memory [but for now what I've done]

[2021-09-24 16:48] luciansmith commented on #856
Debug isn't as slow on linux as it is on Windows, since you don't have to compile all the dependencies in debug mode.  It's definitely slower, though.

Another option would be to hook this up to a different system that (say) ran valgrind on whatever's in the 'develop' branch on the first of every month.  Maybe github actions or something?  Or something we could run manually?

Compiling python in d

[2021-09-24 19:34] luciansmith opened #857 "Events that fire at t0 don't work with non-zero start times and delays or the 'time' csymbol"
When an event fires at the start of a simulation (due to its 'initialValue' being set to 'false', but its trigger evaluating to 'true'), there's a couple issues:

1) if the trigger involves the csymbol 'time', that time is assumed to be zero.
2) if the event has a delay, the delay is calculated and its 'assignTime' (EventQueue.cpp line 46) is calculated from the model's current time, which is zero

[2021-09-25 00:12] hsauro commented on #743
@hsauro <https://github.com/hsauro> I can spend another couple of days on
the NamedArray object and probably get something working. It'd also be good
to add some tests on the NamedArray whilst I'm there. The other option is
to always use a pandas.DataFrame for our return types when doing parallel
work, or even all the time(?).

Not all the time because people arre used to getting straight arrays.

[2021-09-25 03:19] luciansmith commented on #411
This is now done!  The only thing that doesn't work is https://github.com/sys-bio/roadrunner/issues/857 which isn't a negative-start-time specific problem.  So I'm claiming this is done!  It'll be in the next release.

[2021-09-25 03:19] #411 closed, assigned to kirichoi

[2021-09-25 03:34] luciansmith commented on #411
Also, if you have opinions on this matter, other perspectives would be helpful at https://github.com/sbmlteam/sbml-specifications/issues/2

[2021-09-29 16:44] luciansmith commented on #855
The STS test suite doesn't quite pass this; I believe this is because it doesn't recognize the 'rate_of' ASTNode, and leaks the ASTNode in the process when the code gen throws.  The simplest way to fix this is to actually implement rate_of, but that warrants a different issue, so I'm merging and closing this one.

(Also, the plugins continue to have memory/linkage issues on non-Windows builds.)

[2021-09-29 16:44] #855 closed, assigned to nobody

[2021-09-29 21:03] luciansmith commented on #808
Fixed with https://github.com/sys-bio/roadrunner/pull/860:  removed the 'initial_time_step' option, and implemented the maximum_time_step option.

If you could actually use the initial_time_step option, let me know--it didn't seem like a useful parameter for the Gillespie algorithm, but that assumption could be wrong.

[2021-09-29 21:03] #808 closed, assigned to nobody

[2021-09-29 21:11] luciansmith commented on #796
I'm going to close this since we're about to release and this will work going forward.  Also, if anyone runs into this in the meantime, switch from 'libroadrunner' to 'libroadrunner-experimental' and that should also solve the problem.

[2021-09-29 21:11] #796 closed, assigned to luciansmith

[2021-09-29 21:13] jonrkarr commented on #808
I think these would be strange options for SSA. They would diverge from other implementations.

[2021-09-29 21:13] jonrkarr commented on #808
These seemed like options that were simply copied from continuous integrators and never implemented.

[2021-09-29 21:23] luciansmith commented on #808
That makes sense.  I assumed 'maxumim step size' was for when you want output at least every n time units for a variable step size integration.

[2021-09-29 21:43] jonrkarr commented on #808
When used with SED-ML, isn't this covered by number of steps of uniform time course.

[2021-09-29 22:08] luciansmith commented on #808
This is a variable step size integration, which is on by default for the gillespie integrator.  Basically, you record when a stochastic event happens, regardless of how long it's been since the last event.  So one simulation might go from 0 to 5 and have 15 steps (of varying widths) and the next one might have 60.

Alternatively, you can give it a number of steps and no end time, in which case you

[2021-09-29 22:12] jonrkarr commented on #808
Non-uniform time course with variables steps could now be done with the new SED `Analysis` class.

[2021-09-29 22:53] luciansmith commented on #808
Yup!

[2021-09-30 01:33] luciansmith commented on #817
This turned out to be an issue with a Swig update, I think.  At any rate, I got it to work again!

Also, FWIW, the version of these functions without the 'index' arguments seem to work in the current version, i.e. 'setGlobalParameters([1.3, 2.2, 5.0])'

[2021-09-30 01:33] #817 closed, assigned to nobody

[2021-10-04 07:45] matthiaskoenig opened #865 "Make new libroadrunner-experimental release"
Hi all,

could you make a new libroadrunner-experimental release
https://pypi.org/project/libroadrunner-experimental/
The last one is from end of July. I want to use/test many of the latest fixes/features which will be in the 2.1 release and would require these for my SED-ML support.

The idea of the experimental release is to give early access to these features and allow feedback/testing before t

[2021-10-04 14:57] luciansmith commented on #865
We haven't because every week we expect to release a new normal release ;-)

*Something's* coming soon; if we can't get a normal release out, we'll do an experimental.  Thanks!

[2021-10-06 15:33] luciansmith commented on #379
With https://github.com/sys-bio/roadrunner/pull/866 we now run every last one of the SBML Test Suite tests.  We check that we pass every test that doesn't have a tag we don't support, and we test that we load the model (and perhaps complain) for every test that *does* have a tag that we don't support, to check that nothing crashes.

The remaining list of tags we don't support are:

   badtags.push

[2021-10-06 15:33] #379 closed, assigned to 0u812, amberhu-uw

[2021-10-06 15:35] luciansmith opened #867 "SBML Test Suite: Support RateOf"
Internally, we store the rates of change of the variables controlled by a rate rule or by reactions.  The 'rateOf' csymbol introduced in SBML L3v2 allows models to access those rates as well.  It should be relatively straightforward to connect the two up.

[2021-10-06 15:43] luciansmith opened #868 "SBML Test Suite: Support VolumeConcentrationRate"
This is an issue that's been present in SBML since the beginning, but only relatively recently appreciated:  it's possible to have a species concentration with a rate of change, and simultaneously have its compartment volume changing with a different rate of change.  There's a stackoverflow question on this where I describe what the math should be:

https://stackoverflow.com/questions/62703123/sim

[2021-10-06 15:51] CiaranWelsh opened #869 "NamedArray behaves unexpectedly sometimes"
[code]

produces:

[code]

Slicing retains the NamedArray type but we loose column and rownames
[code]

output:
[code]

When copying we loose the NamedArray type all together
[code]
output
[code]

Similarly for some other operations, though this might be because  a copy is made internally

[code]

Output:
[code]

[2021-10-06 15:55] luciansmith opened #870 "SBML Test Suite: AssignedVariableStoichiometry"
Roadrunner partially supports variable stoichiometries, but there are a lot of situations (enumerated in the SBML Test Suite) that we do not support.  (Of the 73 such tests in the suite, we fail 17 of them.)

[2021-10-06 16:14] luciansmith commented on #476
It turns out the numeric problem here is the fact that the concentration of S1 is changing at the same time that its compartment's volume is also changing, i.e. the VolumeConcentrationRates tag.  I've put that as a separate issue (https://github.com/sys-bio/roadrunner/issues/868) so I'm closing this one.

[2021-10-06 16:14] #476 closed, assigned to amberhu-uw

[2021-10-06 16:16] luciansmith commented on #834
(However, there are separate tests in C++ that check model editing, so perhaps it's not that big a deal.)

[2021-10-06 16:28] luciansmith commented on #848
This got slightly easier to do because now there are no longer any disabled tests in our runs of the SBML Test Suite; we just check the tags of the test and do a full test or a spot test accordingly.

[2021-10-06 16:43] CiaranWelsh commented on #848
Since the pickle work is basically done, I think I'll return to this towards the end of the week. Should be some good practice with the threading library!

[2021-10-07 09:35] CiaranWelsh commented on #743
Implemented in #850

[2021-10-07 09:35] #743 closed, assigned to CiaranWelsh

[2021-10-07 15:38] CiaranWelsh commented on #146
Is this still a possibility or should we close the issue due to inactivity?

[2021-10-07 15:39] CiaranWelsh commented on #113
closing due to inactivity

[2021-10-07 15:39] #113 closed

[2021-10-07 16:36] luciansmith commented on #146
We do still need a way to check performance speed automatically.  Speed is one of roadrunner's biggest selling points, so things that significantly slow it down need to be noticed and fixed.

[2021-10-07 21:34] CiaranWelsh opened #872 "Upload binaries to release v2.1.0"

[2021-10-07 23:37] luciansmith opened #873 "Some sort of NamedArray problem?"
When testing 2.1.0 with tellurium 2.2.1, I ran into a problem with the attached python script from Joe from the modeling workshop
[parameter_fitting_exercises_and_solutions.py.txt](https://github.com/sys-bio/roadrunner/files/7307442/parameter_fitting_exercises_and_solutions.py.txt)

The problem occurs on line 165.  Here's lines 164-5 for a bit of context:

[code]

Originally, I got an error talkin

[2021-10-08 02:23] hsauro commented on #873
Sounds like this needs to be fixed as soon as possible.

[2021-10-08 07:28] matthiaskoenig commented on #865
Thanks for the release ;) This fixes my issues.

But if there is a `libroadrunner` release there should also be a `libroadrunner-experimental` release. Otherwise depending projects have to switch their pip dependencies between the two depending on which is the newer version. I.e. all projects using the `libroadrunner-experimental` packages are still stuck at 2.0.10, but should be the newest versio

[2021-10-08 07:47] CiaranWelsh commented on #865
Agreed. Generally the workflow should be develop --> experimental-release --> release which would mean the experimental-release is never left behind. At any rate, there's a new urgent bug to be fixed in the latest release anyway so we will fix this with that.

[2021-10-08 07:49] CiaranWelsh opened #874 "Make an experimental release with the release v2.1.0"
As per the comment made by @matthiaskoenig #865 , if we are making a release we should also make an experimental release.

[2021-10-08 08:10] CiaranWelsh commented on #873
This is certainly related to my attempts to fix the issues described in #869. I'll work on this today and if its not sorted by the time you guys (@luciansmith @hsauro ) wake up then perhaps we should have a short call to talk about the problem.

[2021-10-08 11:06] CiaranWelsh commented on #873
This comment grew with debugging, but I'll leave all the steps in so you can follow my train of thought.

Instructions [here](https://numpy.org/doc/stable/user/basics.subclassing.html) describe the three types of operations that should be dealt with by the numpy hook `__array_finalize__`. Copied here for convenience:

[code]
Since the error occurs in `File "C:\Miniconda3\envs\py39\lib\site-package

[2021-10-08 11:18] CiaranWelsh commented on #873
Given the three points above, I previously modified [NamedArray_Finalize](https://github.com/sys-bio/roadrunner/blob/develop/wrappers/Python/roadrunner/PyUtils.cpp#L1570) to have three digestible parts, rather than one large function. The problem here, is that I haven't accounted for types other than `NamedArray` or `PyArray` in view casting. So a quickfix is to mimic old behaviour and put other s

[2021-10-08 13:37] CiaranWelsh opened #877 "Problem with RK45 integrator?"
[code]
with [AModel.sbml](https://github.com/sys-bio/roadrunner/files/7311693/AModel.sbml.txt)

produces :

![image](https://user-images.githubusercontent.com/19502680/136566942-2f2568f7-f072-4042-8257-80758fc3728a.png)

[2021-10-08 16:49] matthiaskoenig opened #879 "No matching distribution found for libroadrunner>=2.1.0 on Python 3.7 MacOS 10.14"
Some issue of a student (@sankha555) of mine with latest release.

[code]

[2021-10-08 16:59] luciansmith commented on #879
Is the student running a MacOS version lower than 10.15?  Our automatic builds seem to be using Darwin.

[2021-10-08 17:01] sankha555 commented on #879
Yes, I am using 10.14. any workaround for that?

Thanks!

[2021-10-08 17:36] luciansmith commented on #879
Looks like the answer is no--it seems that we switched to using 'std::filesystem::path' which was only introduced in MacOS 10.15  @CiaranWelsh : do you know of any MacOS 10.14 or earlier alternative to using std::filesystem::path?

[2021-10-08 19:50] luciansmith opened #882 "Typing id of a NamedArray at the prompt should display content, not pointer ref"
In roadrunner 2.0.3, the following script:

[code]
would print the results of simulating the model.  As of 2.1.1, it instead prints something like:

[code]

which is not ideal.  You can print a NamedArray:

[code]
so you can still see things, but this behavior should be changed if possible.

[2021-10-08 19:54] luciansmith commented on #877
I can confirm that while the rk45 results in the rrtests still do what they used to, but it fails 100% of the SBML Test Suite tests, many of which are ridiculously simple.

[2021-10-10 06:14] jonrkarr opened #895 "rrplugins 2.1.2 causes Python to terminate in Linux with segmentation faults"
Noticed by @eagmon. This would have been automatically caught by automated submission to BioSimulators -- sys-bio/tellurium#530.

## Steps to reproduce

1. Launch Docker image
[code]

2. In Docker image
[code]

3. This results in this error
[code]
[code]

The first part ("Error: ...") occurs when tellurium is imported. The second part ("double free ...") occurs when the Python shell terminates.

#

[2021-10-10 06:32] jonrkarr commented on #895
The problem is specifically with rrplugins.

[2021-10-10 11:51] CiaranWelsh commented on #882
The intuition for what I did here was to take note of the differences between __repr__ and __str__, which are subtle do exist. __repr__ is supposed to be a unique representation and is used in for loops while __str__ is human readable. At any rate, I thought it was the __str__ function that would be used in the above case which is clearly wrong. We need the behaviour you described which was easily

[2021-10-10 12:12] CiaranWelsh commented on #879
The problem isn't MacOS 10.14, its C++17. `std::filesystem::path` is a C++17 feature. The easiest thing to do would be to update your Mac. Its good to keep them up to date anyway!

The newest roadrunner will work on macos 10.14 but we need to build roadrunner on this platform using the modern Clang compilers ( or at least C++17 compatible) and then upload the resulting pip wheel to pypi, along wit

[2021-10-10 12:12] #874 closed, assigned to nobody

[2021-10-10 12:13] CiaranWelsh commented on #873
Fixed in #884

[2021-10-10 12:13] #873 closed, assigned to CiaranWelsh

[2021-10-10 12:19] matthiaskoenig commented on #879
No worries. We removed libomexmeta and roadrunner from the respective project for now. Just opened this so others with the same issue get some hint. Not important to fix, we will try via a mac update.

[2021-10-10 16:37] jonrkarr commented on #895
Even more minimal example
[code]

[code]

[code]

## Environment
- rrplugins: 2.1.1
- Python: 3.9.7
- OS: Debian

[2021-10-10 22:00] jonrkarr opened #885 "Question: how can values of SBML local parameters be modified?"
Related to issue for @eagmon.

[2021-10-11 12:50] CiaranWelsh commented on #882
#884

[2021-10-11 12:50] #882 closed, assigned to CiaranWelsh

[2021-10-11 12:51] CiaranWelsh commented on #872
done

[2021-10-11 12:51] #872 closed, assigned to nobody

[2021-10-11 15:54] hsauro commented on #885
As far as I know they can’t, the reason being is they are local, like
variables inside a method, they can’t be changed either. The only way to
change the is to manipulate the SBML. This is why I never use local
variables.

Herbert

On Sun, Oct 10, 2021 at 3:01 PM Jonathan Karr ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
**

[2021-10-11 16:13] matthiaskoenig commented on #885
You can easily promote the local parameter to global parameters vie

http://sys-bio.github.io/roadrunner/docs-build/PythonAPIReference/cls_RoadRunner.html?highlight=promote#RoadRunner.RoadRunner.getParamPromotedSBML

Then you will have to just figure out the ids of the now global parameters and can set these.
Best Matthias

[2021-10-11 16:31] jonrkarr commented on #885
That would work. We can use this and abstract it away so that users appear to be editing local parameters. Does the method return a map from the original local parameters to new global parameters?

[2021-10-11 16:35] matthiaskoenig commented on #885
I don't think it returns a map, but the parameters are prefixed with the reaction `SId` as far as I remember. So it should be straight forward to figure out the mapping. Returning a map would of course be much better and less error prone (e.g. what happens on an id clash?)

[2021-10-11 16:40] hsauro commented on #885
Correct, in fact this is what we always do, there is a special method in
libsbml to do this, and as Matthias says we surface that same method in
roadrunner. All it does is prefix a local parameter with the reaction id.
So you could probably generate a mapping from that.

Herbert

On Mon, Oct 11, 2021 at 9:34 AM Jonathan Karr ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington

[2021-10-11 17:30] jonrkarr commented on #885
Got it. That's all I needed to know.

[2021-10-11 17:30] #885 closed, assigned to nobody

[2021-10-11 18:44] CiaranWelsh commented on #779
Just found `–DLLVM_ENABLE_WARNINGS=OFF` which might be a possibility to hide these warnings if we were so inclined.

[2021-10-12 22:11] matthiaskoenig opened #886 "binomial distrib function extremly slow"
Hi all,
I did some distrib testing with roadrunner. Most of the things work very well.
Only the `binomial` functions are extremely slow (making the binomial distribution unusable and all models with it extremly slow).

While it takes 0.0632 sec to take 20 samples of all 20 distributions besides binomial (i.e. 20x20=400 random samples), it takes 15.0228 sec to take 2x20 = 40 samples from the binomi

[2021-10-13 02:39] luciansmith commented on #886
The problem is the constrained version of your test.  There wasn't a way I found to natively select a constrained binomial, so instead I repeatedly sample from the binomial until I draw a result in the range provided.  If after a huge number of tries I still never drew one inside the range, I select the midpoint of the range and give up.

Currently this is reported as a debug message, but given th

[2021-10-13 07:09] CiaranWelsh commented on #886
I’m quite unfamiliar with this part of roadrunner - and with distrib in general. How are they implemented? The reason I ask is because we already link numpy, it wouldn’t be hard to sample using numpy.random and let them do the heavy lifting.

[2021-10-13 09:41] matthiaskoenig commented on #886
Hi Lucian,
makes sense. I just put some numbers in there for testing without thinking about the statistics ;) Users do normally not see debug messages, this should be a warning. It this would be a clear warning message this would already solve my problem. I.e. if the constrained distributions take too long (do not find any values) in a reasonable time frame a warning should be provided along the l

[2021-10-13 23:20] luciansmith commented on #886
OK, changed the debug message to an actual error message, and now you get multiple messages that look like this:

"Error: Unable to draw from truncated binomial distribution after 100000 tries.  Returning the midpoint between 0 and 2 instead."

Will that work?

[2021-10-13 23:36] luciansmith commented on #895
As a temporary measure, I've deleted the rrplugins binaries from pypi, which I hope will mean that you'll get the previous plugins version while I try to sort stuff out for the new version.

It seems clear to me that this is related to https://github.com/sys-bio/roadrunner/issues/809 which would make this a mac/linux library linkage issue.  It's odd to me that a double free is the problem, as I wa

[2021-10-15 00:21] matthiaskoenig commented on #886
Thanks. Solves my issue.

[2021-10-15 00:21] #886 closed, assigned to nobody

[2021-10-15 15:18] jonrkarr opened #901 "`roadrunner.roadrunner.Integrator.hasattr` raises KeyError rather than returning false"
This error is new. I believe to the 2.1.2 release.

Example
[code]

Raises a `KeyError` rather than the more conventional and previous behavior of returning false.

[2021-10-17 10:56] matthiaskoenig opened #889 "`times` and `start|end|steps` simulations do not work together"
Hi all,
multiple issues/bugs when running the new `times` timevector simulations.
It does not work to run simulation with `times` and `start|end|steps` with the same model.

See minimal example below:
[code]

Results in
[code]

[code]
Results in
[code]

* if first running a `times` simulation the second simulation still has the times vecor as time points instead of `[0, 0.2, 0.4, ... 50]`.
* if fi

[2021-10-18 22:18] luciansmith commented on #889
This is now fixed--tested with this:

[code]
Thank you for reporting the problem!

[2021-10-18 22:59] matthiaskoenig commented on #889
Thanks. This works. Just tested with the azure artifacts.
Would it be possible to release a libroadrunner-experimental with this fix?

[2021-10-18 23:56] luciansmith commented on #879
In general, supporting three Pythons seems reasonable to me, though we should probably start testing 3.10 (which just released this month) in case we're using something deprecated, which would put us back at 4 again.

However, dropping the Ubuntu Python tests in favor of the manylinux2014 python tests seems like it wouldn't lose anything.

Adding a new MacOS 10.14 doesn't seem as helpful as just u

[2021-10-18 23:57] #865 closed, assigned to nobody

[2021-10-19 23:27] luciansmith commented on #889
This is now released in 2.1.3, for both libroadrunner and libroadrunner-experimental.  (Since it was a bug fix, I put it in the main release.)

[2021-10-19 23:27] #889 closed, assigned to nobody

[2021-10-20 03:45] luciansmith commented on #895
I have a question about "This would have been automatically caught by automated submission to BioSimulators."  This isn't exactly true, since it's tellurium that would be submitted to biosimulators, and the problem was with tellurium's dependency, rrplugins.  But would there be a way to automate a roadrunner update so that it triggered a BioSimulators check with the constructed wheel files and/or

[2021-10-20 04:09] jonrkarr commented on #895
I suspect what happened here is that tellurium's unit testing doesn't test the compiled wheels from a clean Python environment. The reason BioSimulators would have noticed this is simply because we're starting from a clean environment (which is similar to what users would experience).

This would have been noticed by the automated testing. The automated test suite would have built a new image star

[2021-10-20 04:18] jonrkarr commented on #895
For tools that have automated releases to BioSimulators, we have caught various errors immediately. Some examples:
- Missing dependencies for OpenCOR that prevent their distribution from working
- Regressions on SBML math support for GillesPy2
- Various issues with VCell/SED-ML
- Issues with BioNetGen parsing/validation

Except for VCell, where we don't have a separate second layer of testing, the

[2021-10-20 06:05] luciansmith commented on #895
So it sounds like the answer is 'no'--you would just test Tellurium itself, which has to pull libroadrunner and rrplugins from pypi, and wouldn't use local wheels.  I'll add some rrplugins tests to the roadrunner project itself, then (which needed to happen anyway; I was just curious).

Thank you for finding the problem!  I swear library linking is going to be the death of me yet...

[2021-10-20 06:31] jonrkarr commented on #895
Our testing uses wheels from PyPI, same as most users would use. I suspect the origin of the issue comes from local vs PyPI wheels, or from a minimal Debian environment vs the environment you're using in Azure. For example, the Debian image I used has many fewer libraries than the default VM that GitHub actions uses.

From the standpoint of a simulation tools, our testing is probably best thought

[2021-10-22 22:31] hsauro commented on #879
Frank says Python 3.10 breaks things.

[2021-10-22 22:40] luciansmith commented on #879
Yeah, all the more reason to start testing things early.

I did create a branch to test this, but it got stopped at the 'azure needs more stuff' level before it got to testing our actual code.  Python 3.10 doesn't exist for Conda yet (there was a bug having to do with '10' having two digits instead of one ;-) which we use for our linux and Windows builds, and on the mac, the 'ray' package isn't ou

[2021-10-25 08:59] matthiaskoenig opened #897 "Support python 3.10"
Python 3.10 has been released a few month and support should be provided by roadrunner.
This was already mentioned in some comments, but should be tracked in a dedicated issue.

I want to support python 3.10 in my downstream tools of roadrunner (e.g. sbmlutils, sbmlsim). For that to work I would require a libroadrunner package for python 3.10.

Best Matthias

[2021-10-25 09:47] CiaranWelsh opened #898 "Check that roadrunner respects the llvm optimization pass options."
The `RoadRunner::Config` class has a set of options that are intended to control llvm code generation optimizations - that is, which passes are applied sequentially to produce faster llvm IR code. These passes are expensive operations: they take about ~36% of the time in a simpe "build and simulate" program:

[code]
Turning these optimizations off should speed the process of model generation, whic

[2021-10-25 12:21] matthiaskoenig commented on #898
Just to comment on the benchmarking. You have to use benchmark models which require a lot of work to simulate, i.e. at least in the range of model loading. I saw your benchmarks of speedup 3x for parallelization for simple stochastic simulations of `S1 -> S2; J0 = k0*S1`. Such models will not do for benchmarking, because the model simulation is not really expensive. You need large models with comp

[2021-10-25 12:23] matthiaskoenig commented on #898
Forgot: You will really need a real benchmarking suite to also avoid regressions in speed. Trying to optimize with toy models without seeing the impact on a larger set of real-world models is very dangerous.

[2021-10-25 12:52] CiaranWelsh commented on #898
Yep - these are valid points. These little models are only really designed for unit testing. I tried again with the Brown 2004 model. That is, build and simulate the brown 2004 model in a loop 1000 times, but adding a unique species each time to prevent roadrunner from caching the model. In this case, we do observe around a 15-30 second speed up when turning off the additional llvm IR optimization

[2021-10-25 12:57] CiaranWelsh opened #899 "Build a new performance benchmarking suite"
As pointed out by @matthiaskoenig [here](https://github.com/sys-bio/roadrunner/issues/898#issuecomment-950869708) and @luciansmith [here](https://github.com/sys-bio/roadrunner/issues/146#issuecomment-937965573) we should have a benchmarking test suite.

This point has been raised in other issues, but I'm repeating it here to bring it to the foreground.

[2021-10-28 16:32] hsauro commented on #898
Some of these optimizations may not apply to expressions but to whole
programs that use loops etc. In order to work it has to find something to
actually simplify.

Herbert

On Mon, Oct 25, 2021 at 2:47 AM Ciaran Welsh ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-10-29 02:54] luciansmith commented on #901
The issue turned out to be that __getattr__ must raise an AttributeError on failure, but was calling self.__dict__[name] directly instead of checking first.  (hasattr calls __getattr__ and checks for AttributeErrors).  Behavior had changed due to swig changing.

It is sort of obnoxious that __getattr__ must fail in a particular way to get hasattr to work properly, but I suppose that's what you get

[2021-10-29 02:54] #901 closed, assigned to nobody

[2021-10-29 18:30] SunnyXu opened #904 "Julia binding on Mac-linker errors"
I am trying to use the RoadRunner binary file (libroadrunner_c_api.dylib) for Julia binding in the Mac system, there are errors showing as below. I am afraid it is from the LLVM of RoadRunner. I have tried the Antimony binary file (libantimony.dylib), it works well on Mac. In addition, roadrunner_c_api.dll (windows) and libroadrunner_c_api.so (linux) from the recent release work well with Julia to

[2021-10-30 00:46] luciansmith commented on #905
OK!  Tracked this down, and it relates to a problem in libsbml having to do with XML Errors vs. SBML Errors and null pointers.  I submitted a fix to libsbml to fix things on that end, and the most recent change allows roadrunner to properly acknowledge the error whether or not we're using the version of libsbml with the fix.

https://github.com/sys-bio/roadrunner/pull/906

[2021-10-30 00:46] #905 closed, assigned to nobody

[2021-11-05 11:16] CiaranWelsh commented on #899
@luciansmith @hsauro @matthiaskoenig opinions on how best to do this?

I'm thinking of creating two separate performance test suites, one that measures performance of roadrunner when running many individual simulations with a single model and another that measures performance of building many models. For the "many simulations" suite, I'm thinking a panel of 10 or so models (but not sure which?) an

[2021-11-05 14:33] matthiaskoenig commented on #899
In addition I would add models of increasing size based on certain patterns to ensure scaling of times with model size.
E.g.
- linear chain of length n (varying n)
- n reactions (uncoupled)
- network of n nodes with increasing number of reactions between nodes
Most of these should scale linearly in runtimes/load times or (at worst case quadratic).
This would allow benchmarking runtimes but also th

[2021-11-05 15:06] CiaranWelsh opened #908 "Model caching between programs as well as within programs."
Currently roadrunner performs model caching. This works by constructing an md5 string based on the sbml. So if the same sbml string is loaded twice in a single program/session, the first time the in-memory object file is compiled and stored in the cache (a hash map), and the second time the object file is just loaded from cache.

Any particular model needs to be compiled at least once in any progr

[2021-11-05 15:12] hsauro commented on #899
This is a good idea. Some big models would be very helpful.

H

On Fri, Nov 5, 2021 at 7:34 AM Matthias König ***@***.***>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
***@***.***
Books: http://books.analogmachine.org/

[2021-11-08 12:00] matthiaskoenig opened #909 "How to access results of a oneStep simulation?"
Hi all,
in early roadrunner versions the `oneStep` simulation returned a result with two rows, i.e. the initial values of the timeCourseSelections and after the step. In current version only a double of the new timestep is returned (see below). How can I access the results which were returned before by the method?
[code]
Also is this the desired behavior? It is very easy to calculate the new time

[2021-11-08 15:03] matthiaskoenig opened #910 "Problems with accessing dv/dS (Jacobian)"
Hi all,
I want to access the changes in reaction rates depending on species.
As I remember this is the information available via the Jacobian, i.e. `dv_i/dS_k` is the `J_ik`.
![image](https://user-images.githubusercontent.com/900538/140765029-52643266-decf-44be-adbb-2600762afb81.png)

So I tried to access the reduced Jabobian, but get a matrix which has species ids for rows and columns (and not ra