[2017-11-17 08:09] matthiaskoenig commented on #420
@all I can't help with the libroadrunner debugging, but if you need any
information about the model/constructs I used please ask
M

On Fri, Nov 17, 2017 at 8:10 AM, Kiri Choi <notifications@github.com> wrote:

--
Dr. Matthias König
Junior Group Leader LiSyM - Systems Medicine of the Liver
Humboldt-University Berlin, Institute of Biology, Institute for Theoretical
Biology
  https://www.livermetabol

[2017-11-17 15:36] hsauro commented on #420
This morning I'm going to try reducing the model size, maybe it will be
easier to figure out what is going on.

Herbert

On Thu, Nov 16, 2017 at 11:11 PM Kiri Choi <notifications@github.com> wrote:

[2017-11-18 01:29] kirichoi opened #428 "Issue with calculating elasticity matrix"
When using the same model as reference in https://github.com/sys-bio/roadrunner/issues/420, elasticity matrix is incorrect.  However, reaction fluxes and species concentration are good and manual approximation results in correct value, so this must be something to do with the way we are calculating elasticity matrix.

[2017-11-18 03:50] kirichoi commented on #428
Checking uEE, values are very off.  The routine uses `getFloatingSpeciesConcentrations()` to get the species concentration which differs from the actual value for some reason.  The real issue comes from when calculating the reaction rates. I attempted to implement practically the same functional code but the output is different. I don't understand why we are not using `getValue()` instead, which s

[2017-11-18 04:08] hsauro commented on #428
I just ran the following using a very simple model, the elasticity
estimation routines seem to be very broken, estimates are way off:

# -*- coding: utf-8 -*-
"""
Created on Fri Nov 17 19:39:54 2017

@author: Herbert Sauro
"""

import tellurium as te
import roadrunner

r = te.loada("""
     J1: $Xo -> S1; (Vm1/Km1)*( Xo - S1 /Keq1)/(1+ Xo /Km1+ S1 /Km2);
     J2: S1 -> S2;  (Vm2/Km3)*( S1 - S2 /Ke

[2017-11-18 04:09] hsauro commented on #428
getValue is not an efficient method as it has to look up values via a
string and it has to check what type it is.

Herbert

On Fri, Nov 17, 2017 at 7:50 PM, Kiri Choi <notifications@github.com> wrote:

[2017-11-18 04:14] hsauro commented on #428
Here is the output from the script I sent earlier. The estimates are an
order of magnitiude out, I don't think I made a mistake. My rough numerical
estimate match Copasi's estimates.  I am sure the elasticity estimation
used to work. Don't our regression tests check the elasicity functions? If
not we should have another one day hackthon to write regression tests. Are
regression tests run when road

[2017-11-18 20:05] hsauro opened #429 "Unscaled Elasticity computation completely broken"
Here is example where the unscaled elasticity is completely wrong. Model uses first-order irreversible kinetcs so that the unscaled elasticity is just the value of the rate constant, that is 0.24.

It seems to be using the concentration of the species as the elasticiity. The answer printed out below of 4.1666 is actually the steady state concentration of S1.

Herbert

import tellurium as te
import

[2017-11-18 20:22] kirichoi commented on #429
I am merging this issue with https://github.com/sys-bio/roadrunner/issues/428. The `getUnscaledElasticityMatrix` seems to work, so this is `getuEE` specific issue.

[2017-11-18 20:22] kirichoi commented on #428
from @hsauro:

Here is example where the unscaled elasticity is completely wrong. Model uses first-order irreversible kinetcs so that the unscaled elasticity is just the value of the rate constant, that is 0.24.

Herbert
[code]

Output:

Unscaled:  4.16666666667  Should be 0.24
Scaled:  1.0  This is actually correct
Numerical Estimate: 0.24

[2017-11-18 20:22] #429 closed, assigned to kirichoi

[2017-11-18 21:10] hsauro commented on #429
Ok

On Sat, Nov 18, 2017 at 12:23 PM Kiri Choi <notifications@github.com> wrote:

[2017-11-23 05:12] kirichoi commented on #428
Update on this issue:

I noticed that our way of getting species concentration and reaction rate is correct and the same as COPASI. However, the unscaled elasticity matrix out of these values is different from COPASI, The funny thing is, when I try to obtain species concentration through `getValue()` I get completely different value from COPASI, but using it through the same calculation as before

[2017-11-23 05:57] kirichoi commented on #420
Update on this issue:

As suggested, this has everything to do with the ordering and dependent species. The problematic part is the link matrix. Reduced stoichiometry matrix is simply generated by putting 1 in the diagonal for independent species. This is problematic because in Nr and uEE, the values are swapped when the ordering changes. In Link matrix, that is not the case; ordering is swapped b

[2017-11-23 19:53] hsauro commented on #428
Note that elasticities are defined with respect to concentations, not
amounts. There is no elasticity defined in the literature that computes at
the partial derivatives of the reaction rate with respect to changes in
amounts.

Herbert

On Wed, Nov 22, 2017 at 9:12 PM, Kiri Choi <notifications@github.com> wrote:

[2017-11-23 19:54] hsauro commented on #420
ok, gettting closer.

Herbert

On Wed, Nov 22, 2017 at 9:57 PM, Kiri Choi <notifications@github.com> wrote:

[2017-11-25 00:09] kirichoi commented on #428
There is a possibility that COPASI is the problem here. As I said, our concentration is the same as COPASI. Our flux is also identical to COPASI. Under this condition, numerical estimate results in the same value as us.

[2017-11-27 16:41] hsauro commented on #428
So are you saying that our elasticity calculations are correct? If so I
don't agree, given the example I posted our calculatins are so badly off.

Herbert

On Fri, Nov 24, 2017 at 4:10 PM Kiri Choi <notifications@github.com> wrote:

[2017-11-27 17:28] kirichoi commented on #428
Both examples actually work. For the first example, you need to call `getuEE()` after steadystate because it attempts to calculate elasticity at t = 0 otherwise. If you do so, the output is:

[code]

The second example is comparing two different things. It should compare `r.getuEE ('J2', 'S1')` not `r.getuEE ('J2', 'k2')`. If you do so, the output is:

[code]

[2017-11-27 17:36] hsauro commented on #428
However the reason I did r.getuEE ('J2', 'k1') is that I know the uee must
be k1 so its easy to check.

We still have the problem though that we can't compute the steady state of
the Keonig model.

Herbert

On Mon, Nov 27, 2017 at 9:28 AM, Kiri Choi <notifications@github.com> wrote:

[2017-11-27 17:43] hsauro commented on #428
Yes you're right, the uee (j2, k2) should be S1 and S1 is correctly computed.  Question remains however why can't we compute the steady state for the Koenig model and why are some of the jacobian entries wrong?

[2017-11-27 17:46] kirichoi commented on #428
`getuEE()` needs some improvement (e.g. computing steady-state automatically) and that's why I did not closed this issue. As for the Koenig model, I believe you suggested the reason why we can't calculate steady-state is because the Jacobian is not invertible  (with rows and columns of zeros)?
All Jacobian related issue will should be discussed in https://github.com/sys-bio/roadrunner/issues/420.

[2017-11-27 17:49] hsauro commented on #428
You shouldn't compute the steady state automatically when calling uEE
because we also need to compute elasticities under non-steady state
conditions. Note that the elasticity is not a steady state property, its
just dv/ds where s could have any value, not necessarily the steady state.

Herbert

On Mon, Nov 27, 2017 at 9:46 AM, Kiri Choi <notifications@github.com> wrote:

[2017-11-27 18:04] kirichoi commented on #428
I see. I will keep it as is.

[2017-11-27 22:32] #428 closed, assigned to kirichoi

[2017-11-27 22:38] kirichoi commented on #420
We reached on a conclusion that our reduced Jacobian might be correct after all. Our link matrix is technically correct, I think, but simply picking different species as dependent species in `udp`, `utp`, and `udpglc` cycle.

As for the reason why we can't calculate steady-state, the reduced Jacobian is not invertible to begin with. We will try to implement nleq2 as suggested in the issue https://

[2017-11-27 22:38] #420 closed, assigned to 0u812, kirichoi

[2017-11-27 23:12] kirichoi commented on #418
Fixed with https://github.com/sys-bio/libroadrunner-deps/commit/7c60f6da0f235c3c66f7a44ad6789045efb37b14

[2017-11-27 23:12] #418 closed, assigned to 0u812, kirichoi

[2017-12-06 02:17] kirichoi commented on #426
Commit https://github.com/sys-bio/roadrunner/commit/e7413dcf232344452523554bce9a4b60faea1821 and https://github.com/sys-bio/libroadrunner-deps/commit/56c3fae57397ea8b295a6c3fa0255c4b1b95b536 changed NLEQ1 to NLEQ2. Steady state calculation works as expected, but still needs testing to make sure that there are no broken functions.

[2017-12-06 02:20] kirichoi opened #430 "Expose additional arguments for steady state solver"
Currently, roadrunner exposes three arguments to be passed on to steady state solver including maximum_iterations, minimum_damping, and relative_tolerance. There should be more arguments exposed to roadrunner.

[2017-12-06 03:13] #347 closed, assigned to nobody

[2017-12-06 19:03] kirichoi commented on #367
Already implemented

[2017-12-06 19:03] #367 closed, assigned to 0u812

[2017-12-06 21:14] kirichoi opened #431 "getAvailableIntegrators does not return all integrators"
r.getAvailableIntegrators() only lists cvode. Still can use 'rk4' or 'rk45' integrators though.

[2017-12-06 21:17] kirichoi opened #432 "Add getListofSteadyStateSolvers()"
Add getListofSteadyStateSolvers() which returns list of available steady-state solvers

[2017-12-06 23:51] kirichoi commented on #322
To fix this bug, following changes have been introduced:
* SelectionType EIGENVALUE is renamed to EIGENVALUE_REAL.
* SelectionType COMPLEX is renamed to EIGENVALUE_IMAG.
* SelectionType EIGENVALUE_COMPLEX returns real and imag part of eigenvalue.
* All three SelectionTypes are accessible, but in C++, EIGENVALUE_COMPLEX returns nothing because the return type is double and there's no easy way to re

[2017-12-07 00:06] kirichoi commented on #419
I think this is already fixed.

[2017-12-07 00:06] #419 closed, assigned to 0u812, kirichoi

[2017-12-07 01:28] kirichoi opened #433 "Add new steady-state solver"
New steady-state solver will attempt to brute-force a solution as a last resort.

[2017-12-07 01:46] #299 closed

[2017-12-07 01:46] #322 closed

[2017-12-07 01:46] #415 closed, assigned to kirichoi

[2017-12-07 02:07] kirichoi opened #434 "Update steady-state solution solver algorithm"
Update the algorithm to switch solvers when convergence fails.

[2017-12-07 02:10] kirichoi commented on #196
Deprecated function.

[2017-12-07 02:10] #196 closed

[2017-12-07 02:14] #391 closed, assigned to nobody

[2017-12-07 08:39] matthiaskoenig opened #435 "Full set of solver settings with description"
Hi all,

I just saw the update of the NLEQ2 solver.
Could you provide the full list of settings which are available for the steady state solver and can be changed via the solver settings in roadrunner.
I would need to map these on corresponding KISAO AlgorithmParameters so one can set these via SED-ML in tellurium.
I wanted to do go over all available solver settings which are provided for all the

[2017-12-12 20:38] kirichoi opened #436 "RK4 and RK45 failing on specific model"
RK4 and RK45 cannot simulate the model referenced in https://github.com/sys-bio/roadrunner/issues/420.

[2017-12-12 20:39] #426 closed, assigned to kirichoi

[2017-12-13 01:47] kirichoi commented on #436
I think this is due to RK4 and RK45 not implementing codes for events and rate rules. Not sure I have time to tackle this.

[2017-12-13 02:14] kirichoi commented on #395
Commit https://github.com/sys-bio/roadrunner/commit/6ecc495b5c5e191d4a07bf6af6e9cec9d68c9297 is not functional

[2017-12-13 02:19] hsauro commented on #436
At this point don't bother adding event support to rk4 and rk45

Herbert

On Tue, Dec 12, 2017 at 5:48 PM Kiri Choi <notifications@github.com> wrote:

[2017-12-13 02:28] kirichoi commented on #395
We decided to allow novices to put selections as third positional argument for the sake of their sanity

[2017-12-13 02:29] #401 closed, assigned to 0u812, kirichoi

[2017-12-13 02:32] kirichoi commented on #430
Please suggest some additional arguments to expose on nleq2. I am not sure which one might be useful for users.
Check [here](https://github.com/sys-bio/libroadrunner-deps/blob/master/third_party/nleq/nleq2.c#L241) for the list of accepted arguments by nleq2.

[2017-12-13 02:33] #395 closed, assigned to 0u812

[2017-12-28 00:39] kirichoi opened #437 "Bizarre nleq behavior"
We already know that our nleq2 solver cannot find a solution for Matthias' model (from [this issue](https://github.com/sys-bio/roadrunner/issues/420)). However, when I call `steadyState()`, Python seemingly gets stuck in a loop. No crash, no errors, no exceptions (as expected) whatsoever.
This gets promptly resolved when I simulate for certain amount of time and run `steadyState()` which then retu

[2017-12-28 00:40] kirichoi commented on #437
BTW this is specific to Matthias' model.

[2017-12-28 01:38] kirichoi commented on #437
UPDATE: Forget about nleq2 converging. Could not reproduce and probably an artifact. However, first issue is still true (Python gets stuck).

[2017-12-28 01:50] kirichoi commented on #433
Instead of adding a solver, I instead created a function called `steadyStateApproximate()`. This method will not be considered as a type of solver.

[2017-12-28 01:52] kirichoi commented on #433
Right now, the default parameter works well. Matthias' model will results in
[code]
which I think is close to the actual steady state.

[2017-12-28 02:03] kirichoi commented on #434
Issue https://github.com/sys-bio/roadrunner/issues/433 is ready to be resolved. I was thinking of running `steadyStateApproximate` when nleq2 fails, but issue https://github.com/sys-bio/roadrunner/issues/437 makes things a bit complicated. How does people feel about running a rough approximation before using nleq2? From what I've seen, `steadyStateApproximate` is as accurate as nleq2 and very fast

[2017-12-28 19:21] hsauro commented on #437
You're going to have to invoke the debugger to find out where it gets stuck.

Herbert

On Wed, Dec 27, 2017 at 5:38 PM, Kiri Choi <notifications@github.com> wrote:

[2017-12-29 09:41] kirichoi commented on #434
Fixed with commit 3f212e83d86ab321b2db27d55e0e6e33e4ae5d8c. Function `steadyStateApproximate()` will run for short time before steady state solver is used. By default, when steady state solver fails, roadrunner will attempt to approximate the solution with higher precision. This can be changed by setting
`roadrunner.Config.setValue(roadrunner.Config.STEADYSTATE_APPROX_DEFAULT, False)`

[2017-12-29 09:41] #434 closed, assigned to kirichoi

[2017-12-29 09:41] kirichoi commented on #433
Fixed with commit 3f212e83d86ab321b2db27d55e0e6e33e4ae5d8c

[2017-12-29 09:41] #433 closed, assigned to kirichoi

[2017-12-29 09:43] kirichoi commented on #437
Reduced priority due to hybrid approach implemented in steady state solver.

[2018-01-16 01:19] kirichoi commented on #432
This is done by `rr.getRegisteredSteadyStateSolverNames()`.

[2018-01-16 01:19] #432 closed, assigned to kirichoi

[2018-01-16 01:22] kirichoi commented on #431
Function `getRegisteredIntegratorNames()` will do this. Not sure about the naming though. Might cause confusion.

[2018-01-16 01:22] #431 closed, assigned to kirichoi

[2018-01-16 03:07] kirichoi commented on #417
Fixed by commit cd0f27f7b0442ed6158b6833d1714b664773cb6f. Now `getuCC` and `getCC` will accept species concentration as well.

[2018-01-16 03:07] #417 closed, assigned to kirichoi

[2018-01-18 00:18] kirichoi opened #438 "Allow selection syntax of initial global parameter values"
Under Function `getValue()`, add an entry for `INITIAL_GLOBAL_PARAMETER`. Under `LLVMExecutableModel.cpp`, function `getGlobalParameterInitValues()` exists already.

[2018-01-18 04:38] kirichoi opened #439 "Odd behavior with events"
Originally reported by @yarden:

The original issue was about how reset functions interact with events, but I think something more is happening. The original issue was focusing on how results from completely reloading the model (via re-evoking te.loada()) was different from the results from using resetAll().
[code]
The output of above code is:

[code]
and you can see the two outputs differ.
Howeve

[2018-01-18 16:19] hsauro commented on #439
Do you have a smaller model that has the effect?

Herbert

[2018-01-18 16:50] kirichoi commented on #439
Let me try to reduce it.

[2018-01-18 20:15] luciansmith commented on #439
It is very likely that the t0=false is not reset with 'resetAll'.  In order to test this, you just need a model like:

    model resetTest()
      x = 1
      at (x>0), t0=false: x = 25
    end

[2018-01-18 20:20] luciansmith commented on #439
If you're worried about 'resetAll' in general, one good way to test it would be to run the test suite twice:  for each test, you run it normally and check it, then call 'resetAll' and run it again.

[2018-01-18 20:27] hsauro commented on #439
That makes sense and it is likely that flag is not reset.

Herbert

[2018-01-18 21:09] luciansmith commented on #439
You'll want to make sure that the reverse is also true: that the state of the trigger in general is reset with resetAll:

    model resetTest2()
      x = 5
      y = 3
      x' = -1
      at(x>2): y=10
    end

Run that for 10 seconds, then call resetAll and run it again.  If the event trigger state is not being reset, the event will fire at the second t0, and set y to 10.

[2018-01-19 01:16] kirichoi opened #440 "Selection of events"
Right now, when `model.keys()` are called, events will be listed as well as other available syntax, e.g. _E0, _E1, etc. There's actually nothing users can do using this keyword it seems, and maybe we should remove it from [this function](https://github.com/sys-bio/roadrunner/blob/develop/source/llvm/LLVMExecutableModel.cpp#L835).

Any thoughts?

[2018-01-19 01:52] kirichoi commented on #439
Hmm, I don't know about this. In both cases, resetAll() produces identical output.
In the first case, regardless of reset, x = 25.
In the second case, regardless of reset, y = 3 for all timepoints.

[2018-01-19 02:03] #438 closed, assigned to kirichoi

[2018-01-19 02:33] hsauro commented on #440
If you're sure about that then filter them out.

H

On Thu, Jan 18, 2018 at 5:17 PM Kiri Choi <notifications@github.com> wrote:

[2018-01-19 02:42] yarden commented on #439
Quick note: The bug doesn't happen with every parameter setting. In the model @kirichoi posted, there are choices of parameters I can pick such that calling the model, resetting, and calling the model again gives the same output as doing a complete reload. It's hard to debug because the model variable values after a reset look from my tests to be identical to model after it's loaded. I tried reduc

[2018-01-19 06:21] hsauro commented on #439
What happens if you call resetToOrigin, does the problem happen then?

Herbert

On Thu, Jan 18, 2018 at 6:42 PM Yarden Katz <notifications@github.com>
wrote:

[2018-01-19 09:31] kirichoi commented on #439
This will happen regardless of whether you are using `reset()`, `resetToOrigin()`, and `resetAll()`.

[2018-01-20 01:06] kirichoi commented on #439
I have a reduced version of this model:

[code]
It's very sensitive to the numbers given to the point I am wondering whether it's something to do with numerical error around BOutput = 0.0.

[2018-01-20 01:47] kirichoi commented on #439
I found something that might not be related to this issue but nonetheless troubling with setting events to trigger at 0.0

Consider this script:
[code]
This outputs
[code]
This only happens when trigger involves a species of which the value has been changed prior to simulation.

[2018-01-20 01:50] kirichoi commented on #439
@yarden : While we resolve this issue, one workaround might involve setting the event to trigger at value very close to 0 but not 0 (e.g. 1e-12). Not sure that's acceptable in your model, but potential workaround nonetheless.

[2018-01-20 02:07] hsauro commented on #439
I'll try and take a look at this this weekend.

Herbert

On Fri, Jan 19, 2018 at 5:51 PM Kiri Choi <notifications@github.com> wrote:

[2018-01-20 17:10] yarden commented on #439
@kirichoi: I tried your suggestion of using a value close to zero instead of zero but it did not work. Here's the original model with conditions set around ``1e-10`` instead of ``0.0``:

[code]

The relevant lines in the model are:

[code]

it reproduces the same bug as with 0.0.

[2018-01-21 00:10] kirichoi commented on #439
That's odd. It works fine on my machine. The output I get is:
[code]
`BOutput` goes negative, which is weird, but both outputs are identical.

[2018-01-21 01:02] yarden commented on #439
Interesting. But if it’s negative it’s still the wrong answer and means the event rule isn’t processed correctly. So perhaps it’s a nondeterministic error due to numerical issues.

[2018-01-22 16:35] hsauro opened #441 "Following model gives an error when trying to get A"
import tellurium as te
import roadrunner

r = te.loada("""
      A -> B; k1*A
      A = 50
""")

print r.A

RuntimeError: No sbml element exists for concentration selection '[A]'

I think r.A should default to returning the concentration of A. I am sure this used to work.

[2018-01-22 17:44] hsauro opened #442 "Not all species listed in r.keys() call. Antimony docs wrong?"
Given the following model:

MODEL_STR = '''
var B_present # According to Ant doc this is a species, but its not!
S -> A; S * 0.2
A + B -> A; deg_k * A * B_present
A -> ; A * 0.005
deg_k = 0.01
'''
model = te.loada(MODEL_STR)
print model.keys()

['S', 'A', 'B', '[S]', '[A]', '[B]', 'default_compartment', 'deg_k', 'B_present', 'init(deg_k)', 'init(B_present)', '_J0', '_J1', '_J2', 'init([S])', 'init

[2018-01-22 17:59] luciansmith commented on #442
What bit of the docs made you think that 'var A' meant that A would be a species?  I will fix it.

[2018-01-22 18:13] kirichoi commented on #441
This still works but gives me error on missing `k1`.

[2018-01-22 18:21] hsauro commented on #442
I think its because 1) I thought I had used that in the past, and second I
misread the docs.

Some questions, is

const k1

the same as writing

k1 = 0.3 (k1 is not a reactant or species)?

or should one use

const formula k1?

and what's the difference between the two in terms of a model?

Herbert

On Mon, Jan 22, 2018 at 9:59 AM, Lucian Smith <notifications@github.com>
wrote:

[2018-01-22 18:23] hsauro commented on #442
Given the previous discussions the model should therefore be:

var species B_present
S -> A; S * 0.2
A + B -> A; deg_k * A * B_present
A -> ; A * 0.005
deg_k = 0.01
'''

It seems to be easy to miss out the species tag which makes the model is completely different, as did the original author.

[2018-01-22 18:24] kirichoi commented on #442
`init()` syntax applies to things other than species (any identifier specified in SBML) and initial global species is actually a thing.

[2018-01-22 18:29] kirichoi commented on #441
Once `k1` is defined, it should work. What I do not understand is why you are not getting error on this. It is supposed to return something like:

`RuntimeError: Global parameter 'k1' missing value and missing init assignment and assignment rule!`

[2018-01-22 18:33] hsauro commented on #442
But it shouldn't, in dynamical systems theory only state variables have
initial conditions.  One never talks about parmaeters having initial
conditions.

Yes they have values at the start of the run which could change during the
simulation but they change due to external factors not because the model is
changing them.

Are we using init (k) to allow us to do resetAll()?

Herbert

On Mon, Jan 22, 2

[2018-01-22 18:43] luciansmith commented on #442
If you write

    k1 = 3

and k1 isn't used as a reactant or product, it will be a constant Parameter in the model with a value of 3.

If k1 is ever assigned to (by a rate rule, assignment rule, or event assignment), it will be declared 'constant=false'.

If you want it to be constant=false even though its value never happens to change, you can declare that with

    var k1

You can declare that i

[2018-01-22 18:51] kirichoi commented on #442
We are not using init(k) to reset things.

[2018-01-22 19:16] hsauro commented on #442
In tha case init(k) shouldn't exist.

Herbert

On Mon, Jan 22, 2018 at 10:51 AM, Kiri Choi <notifications@github.com>
wrote:

[2018-01-22 19:20] kirichoi commented on #442
Okay than I will revert dc4b26e3ba588e3cda0887dddcac07e5b28f7a38 (see https://github.com/sys-bio/roadrunner/issues/438) resolve by removing the entry from `keys()`.

[2018-01-22 22:24] kirichoi commented on #439
@yarden: We found another way that might temporarily solve this problem. After reset, if you set BOutput to a very small value, e.g. 1e-20, the output will be correct.
[code]
We are working on a more general fix for this issue.

[2018-01-23 04:56] yarden commented on #442
For what it's worth, I was also confused from reading the docs about the difference between a variable and a variable that's explicitly declared species. I would not have guessed that they are initialized with different values as @luciansmith suggested (I find that counter-intuitive). A clarification on that in docs would be helpful.

[2018-01-23 04:59] yarden commented on #439
@kirichoi - thanks, but can you let me know where exactly you reset the value? If I add:

[code]

after a call to ``resetToOrigin()``, then I still get the same results (negative values after result).

[2018-01-23 08:50] kirichoi commented on #439
@yarden: I set something like:

`model.BOutput = 1e-20`

after resetting but before simulating. If this does not work for you, this is another interesting case of divergence. All of our machines we have tested so far functions correctly when this line is added.

[2018-01-23 13:43] yarden commented on #439
@kirichoi - I think this reveals another test case for the bug. To make sure I understood your suggestion correctly, the function I used to call the model with reset is below. If I set ``BOutput`` to be 1e-12 after reset but before simulation, I get the bug, where ``BOutput =  -186.75`` after reset and simulation. However, if I set BOutput to be 1e-9, so bigger but still very close to zero, then I

[2018-01-24 19:49] hsauro opened #443 "No documentation for setFloatingSpeciesConcentrations()"
There isn't any documentation on the setFloatingSpeciesConcentrations() method in the readmedocs. It is in the python docs.

[2018-01-24 21:44] kirichoi commented on #443
This is because `setFloatingSpeciesConcentrations()` is a roadrunner function not Tellurium function.

[2018-01-24 22:10] #441 closed, assigned to kirichoi

[2018-01-24 22:11] #440 closed, assigned to nobody

[2018-01-24 22:11] #442 closed, assigned to luciansmith, kirichoi

[2018-01-26 23:46] kirichoi commented on #439
Minor update on this issue:
We have set up a debugging environment for this issue.
One thing I have noticed is that if you reset, set new values, and simulate more than once, the output becomes correct.
For example, something like this:
[code]
will result in:
[code]
Very puzzling.

[2018-01-26 23:48] hsauro commented on #439
I think I am close to finding a sollution.

Herbert

On Fri, Jan 26, 2018 at 3:46 PM, Kiri Choi <notifications@github.com> wrote:

[2018-01-27 00:40] #439 closed, assigned to nobody

[2018-01-27 01:43] kirichoi commented on #439
This is fixed with commit b3e4c46dbce56ea2e68a7016cd9aafaef1e87d3c.
Now the output looks like:

[code]
as expected.
@yarden: thanks for reporting this issue. We will add your model to our test suite.

[2018-01-27 01:44] kirichoi commented on #284
Add model from https://github.com/sys-bio/roadrunner/issues/439.

[2018-01-29 20:34] yarden commented on #439
Thanks for fixing this! Is there a release that fixes this? (I found other models that cause this bug but your fix probably handles them as well).

[2018-01-29 20:39] hsauro commented on #439
What OS platform do you run on?

Herbert

On Mon, Jan 29, 2018 at 12:34 PM, Yarden Katz <notifications@github.com>
wrote:

[2018-01-29 20:52] yarden commented on #439
Mac OS X.

[2018-01-29 20:54] hsauro commented on #439
It should be possible to compile a Mac pyd file.

Herbert

On Mon, Jan 29, 2018 at 12:52 PM, Yarden Katz <notifications@github.com>
wrote:

[2018-01-30 00:21] kirichoi commented on #439
@yarden: Are you using pip version of Tellurium through some Python distribution? (e.g. anaconda?) If so, you might be able to compile roadrunner and use it. If you are interested, let me know, I can give you some instructions.
We are fairly close to new release as well, so you might prefer to wait instead.

[2018-01-30 12:38] yarden commented on #439
@kirichoi I'm using pip, yes. If you're close to a release I'll wait. In meantime I am reloading the model from scratch each time I simulate (which works very well, it only makes things a bit slower). Thanks.

[2018-02-09 15:47] matthiaskoenig opened #444 "Gillespie gives wrong number of timepoints for one step with same start and end time"
Hi all,
when running a gillespie with same start and end time and one simulation step two rows should be produced (even if the step is zero). For `cvode` this 2 rows are returned, for `gillespie` only 1 row which is incorrect (and creates some problems when switching integrators).
[code]

[code]
Best Matthias

[2018-02-09 16:12] hsauro commented on #444
What was the rational for producing two rows from cvode when timestart and
timeend were zero?

Herbert

On Fri, Feb 9, 2018 at 7:47 AM Matthias König <notifications@github.com>
wrote:

[2018-02-09 16:29] matthiaskoenig commented on #444
The reason is that the steps define the number of points, i.e. a step=1, should produce 2 points in the solution.

[2018-02-09 16:33] matthiaskoenig commented on #444
Too add. I am basically using roadrunner as a lazy model calculator to get the values for things calculated with assignment rules or initial assignments. Basically I have to know values of objects before running the actual simulation.
I cannot run a simulation with steps=0 or points=1 in roadrunner because at least 2 points are expected in the output. If something like this would be possible would

[2018-02-13 00:48] kirichoi opened #445 "Check how rk45 handles assignment rules"

[2018-02-15 21:46] kirichoi opened #446 "Accept specific timepoints for simulate()"
It would be nice if one could specify timepoints as an array so that `simulate` returns values at the specified timepoints.

[2018-02-15 21:48] kirichoi opened #447 "Accept list of strings for setValue"
`setValue` should accept list of strings and list of new values so that one can change a lot of parameters at once.

[2018-02-16 17:06] bbartley commented on #447
Is this for Python bindings?
In theory SWIG is supposed to let you define typemaps that convert Python list arguments into vectors (C++) or arrays (C).  I looked for an example in the roadrunner interface, but don't think I ever found one.  In the end I had to hack a different solution in the SBOL bindings.  

[2018-02-19 09:29] matthiaskoenig commented on #446
I don't thing this is necessary.
One can interpolate the solution in 2 lines of python code if this is really needed after running a simulation with nonuniform timesteps. I see this even as a dangerous feature because people could just eliminate by accident/purpose part of the dynamics from the solution (by having a large skip where the dynamics is fluctuating moving fast. Personally I think the t

[2018-02-19 20:58] kirichoi commented on #446
I am not sure whether I follow you. The idea is to have an iteration of simulate calls between multiple defined timepoints. Since nothing in the integration stage is affected, I don't see how it could be dangerous. This can be already done in Python using for loop which I would like to eliminate. I think passing it to C++ should make it a bit faster.
Interpolation is also a good idea but if you ca

[2018-02-20 10:54] matthiaskoenig commented on #446
So probably I misunderstand how the integration is done internally in roadrunner. But providing an array of timepoints should definitely not be implemented as a repeated one step simulation! You will probably copy a lot of unnecessary data around which will make thinks much slower and initialize the simulation routine on every step.
If this is done in the solver it must be done in 1 simulation! wh

[2018-03-08 14:11] hsauro opened #448 "Python error when running getFrequencyResponse"
When I try to call the getFrequencyResponse method I appear to get a Python binding error:

TypeError: in method 'RoadRunner_getFrequencyResponse', argument 5 of type 'string const &'

Try running this model:

import tellurium as te
import roadrunner

r = te.loada("""
   $Xo -> x; k1*Xo;
    x ->; k2*x;

    k1 = 0.1; k2 = 0.23;
    Xo = 1;
""")

m = r.simulate (0, 50, 100)
r.plot()

r.steadyState

[2018-03-09 02:17] kirichoi commented on #448
This is a weird one. I think it's a SWIG bug. Anyway, a workaround  is being pushed.

[2018-03-09 02:18] #448 closed, assigned to kirichoi

[2018-03-12 10:24] matthiaskoenig opened #449 "Improve documentation on getFrequencyResponse"
There is no documentation on the frequency response in the API or documentation. Only information is
[code]
It would be great if there could be more information, e.g., what method, what is the information one gets? This seems to be a very useful feature, but completely under-documentated. I would like to use this, but have no idea what this function is doing/computing.

Best Matthias

[2018-03-12 15:43] matthiaskoenig opened #450 "Improve documentation on libStructural"
`libStructural` is mentioned in the tellurium paper, but there is neither documentation nor examples available in roadrunner.
This is the first time I hear about structural analysis in libroadrunner. The documentation should mention this.
Best Matthias

[2018-03-12 16:32] hsauro commented on #449
This needs to be added for the next release. Are these docs in
libroadrunner or the python bindings?

Herbert

On Mon, Mar 12, 2018 at 3:24 AM, Matthias König <notifications@github.com>
wrote:

[2018-03-12 16:38] hsauro commented on #450
There and some docs on this but we only bring out a subset of the methods.
libStructural is mainly used internally by libRoadrunner. We released two
months ago a separate libstructural that is much better documented and all
methods are exposed to the Python bindings. I also added Metatool support
by refactoring metatool 4.x into a library.

See

https://www.biorxiv.org/content/early/2018/01/08/245

[2018-03-12 22:40] matthiaskoenig commented on #449
I am interested in the docs in python. But this should normally not matter.
It is possible via Swig to export the C++ documentation (this is at least what libsbml is doing with the python bindings). So probably the best strategy to document the C++ API and export the docstrings to python.

[2018-03-12 22:42] matthiaskoenig commented on #450
Thanks this is great. Solves my issue.

[2018-03-12 22:58] hsauro commented on #449
We'll get this sorted out.

Herbert

On Mon, Mar 12, 2018 at 3:41 PM Matthias König <notifications@github.com>
wrote:

[2018-03-19 23:04] kirichoi commented on #400
Fixed by commit https://github.com/sys-bio/roadrunner/commit/3a8d9799266a42bca5814de9ac19db05b5a9d5da

[2018-03-19 23:04] #400 closed, assigned to nobody

[2018-03-23 22:39] kirichoi opened #451 "Gillespie still produces negative results"
I think this has been filed before, but I think it never got fixed.
[code]
Output is sometimes:
[code]
![image](https://user-images.githubusercontent.com/7672320/37856194-5fc34632-2eb0-11e8-9a77-6dced79eb1bf.png)

[2018-03-23 22:44] hsauro commented on #451
This is an odd model, you can't have 0.1, 0.3 etc of a molecule as an
initial condition.

Also, the rate laws are odd, eg

k4*S2; for S1 -> S2

All the rate laws are like this where the rate is a function of the
product not substrate.

I think this is a model issue not a problem with gillepsie.

On Fri, Mar 23, 2018 at 3:39 PM, Kiri Choi <notifications@github.com> wrote:

[2018-03-23 22:53] kirichoi commented on #451
That's a valid point, especially the part where initial species are not provided as number of molecules. I will close the issue.

[2018-03-23 22:53] #451 closed, assigned to nobody

[2018-03-23 22:56] hsauro commented on #451
I am sure you'd still get negative amounts if the initial conditions are
integer values.

On Fri, Mar 23, 2018 at 3:53 PM, Kiri Choi <notifications@github.com> wrote:

[2018-03-23 23:13] kirichoi commented on #451
Actually I don't based on my tests. Probably has some workaround for weird rate laws.

[2018-03-23 23:17] kirichoi commented on #444
Actually this is not an issue with gillespie but issue in variable time steps in general. I will push out a fix so any solvers with variable_time_step enabled will return consistent output.

[2018-03-23 23:20] #443 closed, assigned to hsauro, kirichoi

[2018-03-23 23:20] #444 closed, assigned to nobody

[2018-03-23 23:27] #358 closed, assigned to 0u812

[2018-03-29 15:14] eugenio commented on #328
I believe I have the same problem in my model:
[model_ComplexI.txt](https://github.com/sys-bio/roadrunner/files/1860704/model_ComplexI.txt)
[code]
what's the status of this bug/problem?

[2018-03-29 15:23] hsauro commented on #328
We'll be meeting this afternoon to over this issue.

Herbert

On Thu, Mar 29, 2018 at 8:15 AM eugenio <notifications@github.com> wrote:

[2018-03-29 17:10] matthiaskoenig commented on #328
In my opinion the behavior of changing values should be simplified, because currently this is very complicated and depends strongly on what type of value is changed. And requires calls to reset with various Selections). Basically what I would like when running a simulation is being able to set parameters or species values. This should be as simple as:
[code]
When I than run a simulation I expect t

[2018-03-29 21:59] kirichoi commented on #328
Commit 58bc201df2faa8564da0fe1c9430555ec7f28d88 fixes the issue with not being able to call initial values of global parameters.

As for the original issue, I think the behavior with global parameters is correct. If you set the initial global parameters, the current global parameters should not change. Only when you run resetAll() should initial global parameters apply to the current global parame

[2018-03-29 22:29] kirichoi commented on #328
[This part](https://github.com/sys-bio/roadrunner/blob/develop/source/rrRoadRunner.cpp#L3585-L3589) changed the default behavior of setValue() specifically for initial floating amounts and initial floating concentrations. Probably added because some users got confused and complained about it. However, I intend to remove it for the sake of consistency.

[2018-04-03 17:43] #449 closed, assigned to nobody

[2018-04-11 23:17] kirichoi opened #452 "Prepare for updating LLVM"
Plan to update LLVM to 6.0.0

[2018-04-23 12:19] yarden commented on #439
Just wanted to confirm that this has been fixed in latest pip install (it seems to work on my end). Also, I wanted to clarify the reset semantics. Is it still correct to say that ``m.returnToOrigin()`` means: "reset to the model to the initial state it was in when loaded - including initial conditions". I.e.,

[code]

should be equivalent to something like reloading the model from scratch from the

[2018-04-23 15:04] hsauro commented on #439
Yes that's what it should do, it's quicker than doing a full sbml reload.

Herbert

On Monday, April 23, 2018, Yarden Katz <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-04-24 03:52] hsauro opened #454 "Enhancement Proposal: Small student project"
FYI to Kiri and Kyle

I have the following model. I do two things, print out a steady state control heatmap and run some time course simulations with an input pulse using events. However, because the model has events I can't run a steady state solver and later on run a time course because the steady state call fails due to the presence of events. This is even though I have a flag that says don't f

[2018-04-25 12:21] #435 closed, assigned to ShaikAsifullah

[2018-04-26 17:58] hsauro opened #455 "Add new configuration parameter"
Vineeth, here is another issue you might like to try. I'll add it as an issue. We need a new configuration parameter to be added.

This task will help you get familiar with the configuration systems and a bit more on the computational side.

Some background:

If a model contains events libroadrunner will refuse to compute certain steady steady state values. The model below illustrates libroadrunne

[2018-04-26 17:58] #454 closed, assigned to 0u812, kirichoi, crvineeth97

[2018-04-26 17:58] hsauro commented on #454
Now moved to #455

[2018-04-30 21:51] kirichoi commented on #379
libRoadRunner has been updated with partial support for new SBML L3V2 features including min, max, rem, and quotient.

[2018-04-30 22:04] hsauro commented on #379
Can you make a list of what's missing for the student who will work on
roadrunner in the summer?

H

[2018-04-30 22:12] kirichoi commented on #379
I think the list above is good enough to start. Feature-wise, there's not much to add (we need `implies` and `rateOf`). Most of the failing tests are probably due to some bugs or edge cases, which need detailed inspection of the code and the test files.

[2018-04-30 22:22] luciansmith commented on #379
Looks like the top things would be:

* 'implies'
* 'rateOf'
* Missing MathML and/or missing child elements (i.e. an Event with no Trigger).
* Booleans used as numbers and visa versa.

Other things may be one-offs that are odd combinations of different features.

[2018-04-30 22:46] kirichoi commented on #379
I am also constantly updating the list here. I marked down certain tests because it tests either algebraicRule, Csymbol delay, or fast reactions.

[2018-04-30 23:07] hsauro commented on #379
I think that will be a good starting point for the student to begin to
understand the backend.

[2018-05-02 23:22] kirichoi commented on #379
Support for AST_LOGICAL_IMPLIES added via commit 3bb092f6e3e9c099c6ea8efb72cd043fa34998ee.

[2018-05-02 23:28] kirichoi opened #456 "Check implementation of piecewise functions"
In SBML Test suite version 3.3, the use of boolean values directly for logical operators seems to be permitted. For AST_LOGICAL_IMPLIES, the entire output was converted to double as shown in https://github.com/sys-bio/roadrunner/blob/3bb092f6e3e9c099c6ea8efb72cd043fa34998ee/source/llvm/ASTNodeCodeGen.cpp#L153
to avoid this issue, but extending the same implementation to entire logical operators mi

[2018-05-02 23:36] hsauro commented on #456
We generally allowed booleans to cast to double in previous versions. In
fact, it the fact that we did it and I think another tool that
partially drove this change to the standard because it was so useful.

Herbert

On Wed, May 2, 2018 at 4:28 PM, Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.or

[2018-05-04 23:35] kirichoi opened #457 "Change the behavior with steadyState()"
Currently, `steadyState` function will automatically run rough approximation routine at the start (before running NLEQ2) and full approximation routine at the end iff the solver fails to find a solution (as a last ditch effort to get some number).
Two things will change:

1) Initial approximation routine will be switchable via `start_with_approx` flag. Tolerance, maximum number of steps, and maxim

[2018-05-05 00:20] kirichoi commented on #457
Commits f2d3644bf534bae533f24beb08800e3da598856a to 8910b362888b690933495ab5772e71a05c0e0690 fix this issue. To test, I suggest using the model attached, which is a model that has a steady state but NLEQ2 fails to solve.

[code]

[jacobiantest.zip](https://github.com/sys-bio/roadrunner/files/1976172/jacobiantest.zip)

[2018-05-05 00:28] hsauro commented on #457
What is the difference between start_with_approx and allow_approx? I think
you'll need to find some different terminology, not sure if people would
know the difference.

How about

presimulation_flag
presimulation_endTime
presimulation_numberOfSteps, or is it points?

Do you need maximum steps? Wouldn't it be better to specify the number of
step/points or are they the same thing, if they are then

[2018-06-08 18:16] kirichoi commented on #452
Confirmed the current version of LLVM not compiling on VS 2017.

[2018-06-11 21:39] amberhu-uw opened #459 "CMake configuration fails if CXX_API is on, but BUILD_PYTHON is off"
If CXX_API is on, CMake will attempt to install the C API to Python, also, whether or not BUILD_PYTHON is on. This causes a problem, because if BUILD_PYTHON is off, then PYTHON_PACKAGE_DEST_DIR is never set, but it is required for the install call, throwing an error, and stopping the CMake configuration, even though the user does not intend to build the Python bindings.

I believe that this is a v

[2018-06-11 23:39] amberhu-uw opened #460 "LLVM 3.5.2 will not compile on Visual Studio 2015 or greater without a patch"
I can upload a fixed version of the LLVM 3.5.2 sources to the wiki, but there are literally only three lines that need to be changed.

Math.h line 141: add `const` to the functor
Math.h line 389: add `const` to the functor
CostAllocator.h line 93: add `const` to the functor

[2018-06-12 00:59] amberhu-uw commented on #459
Closed by PR #461 fix-459 into l3v2

[2018-06-12 00:59] #459 closed, assigned to amberhu-uw

[2018-06-12 02:25] amberhu-uw commented on #460
Addressed by the wiki. Uploaded a patched version of LLVM

[2018-06-12 02:25] #460 closed, assigned to amberhu-uw

[2018-06-13 18:38] kirichoi opened #462 "RK45 solver is broken"
Test fails with `RuntimeError: RK45Integrator::integrate: Stepsize became smaller than specified minimum.`

[2018-06-13 18:40] kirichoi opened #463 "Update the .deb file on Travis"
.deb file used on Travis for installing dependencies needs to be updated.

[2018-06-13 18:49] kirichoi commented on #462
Not sure why this is happening at all since nothing has been touched on RK45. However, reducing `minimum_time_step` will solve this issue.

[2018-06-13 19:15] hsauro commented on #462
The minimum step size on my version of rk45 is 1E-12, that should be small
enough.

H

On Wed, Jun 13, 2018 at 11:49 AM, Kiri Choi <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-06-13 19:17] kirichoi commented on #462
Have a feeling commit https://github.com/sys-bio/roadrunner/commit/9c378e915e226ed77dd762ce874f867be6356ab7 might have broken this.

[2018-06-13 22:30] #457 closed, assigned to kirichoi

[2018-06-13 22:30] #462 closed, assigned to kirichoi

[2018-06-13 23:54] kirichoi opened #464 "`distrib` package specific code needs to be updated"
libSBML 5.17.0-experimental has undergone significant changes on `distrib` package and roadrunner cannot be compiled anymore with `distrib` package enabled.

[2018-06-14 00:01] luciansmith commented on #464
Not only that, but there are bugs in distrib in 5.17 experimental that I
wasn't able to find before the release, so if you want a working version of
distrib, you'll need to use the version in SVN (or wait for the next
release).  Hopefully we can get all this squared away at HARMONY.

[2018-06-14 02:05] hsauro commented on #464
I don't think we need a working version of distrib for roadrunner.

Herbert

On Wed, Jun 13, 2018 at 5:01 PM, Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-06-14 13:21] crvineeth97 commented on #464
I had made changes to a couple of source files to get roadrunner working with libSBML 5.17.0-experimental. I didn't extensively test it though. I can push it as a separate branch and after testing, maybe it can be merged.

[2018-06-15 10:06] matthiaskoenig opened #465 "How to simulate one internal sovler timestep?"
I want to simulate only one internal solver time step, i.e. not provide step arguments or end time points.  I remember this was somehow possible before, but cannot get this working with roadrunner.

The following code
[code]
gives me
[code]
But I would want something like the following
[code]
were 1.3423E-6 is the internal solver step which was taken.
How can I make a one step simulation which giv

[2018-06-15 16:04] hsauro commented on #465
I'm not sure that was every possible, if it was possible I wasn't aware of
it. There is onstep but that takes a user specified step size.

Herbert

On Fri, Jun 15, 2018 at 11:06 AM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-06-15 20:22] kirichoi commented on #447
@bbartley: Could you explain (or point to the code) how you did this?

[2018-06-15 21:46] kirichoi commented on #463
Is there any instruction on how to do this?

[2018-06-15 21:54] kirichoi commented on #465
As Herbert said, I am not aware of this either. At least, it was not intentional.

[2018-06-15 22:46] amberhu-uw commented on #447
@kirichoi I actually just tested a solution that doesn't involve changing the SWIG interface.

`setValues` can be implemented entirely in Python through `roadrunner.py`

This implementation actually works
[code]

The only problem is how can we get `setValues` to be added back into `roadrunner.py` every time that we rebuild `_roadrunner`?

[2018-06-16 00:44] amberhu-uw commented on #447
Kiri showed me how we can put Python code in the SWIG interface file through the `%pythoncode%` block. I was able to get a version of this to work on branch fix-447.

Only thing is that it's a little bit inconsistent with the rest of the interface.
[code]
These do the same thing, but `setValues` is a member of the RoadRunner object instead of the Solver object, because that's where the SWIG `%pyth

[2018-06-16 00:53] amberhu-uw commented on #447
I realized that the specific `%pythoncode%` block I was putting it into was extending the RoadRunner object. I found the block that extends the Solver class, and have put `setValues` in there.

A small note about adding Python code in the SWIG interface, if you use tabs, it won't compile, and will complain about indentation issues

[2018-06-18 09:05] #464 closed, assigned to nobody

[2018-06-19 07:37] matthiaskoenig opened #469 "Provide clone/copy functionality for roadrunner models"
For larger model often the model loading time is much longer than the actual simulation time. There are many application cases where one needs multiple (independent) instances of the same model loaded. Examples are for instance
- parallelization (loading model instance for every core/thread in the cluster)
- model embedding (for instance coupling SBML models to FEM simulation where one needs a sin

[2018-06-19 09:30] #455 closed, assigned to crvineeth97

[2018-06-27 18:45] crvineeth97 commented on #463
I've made the .deb file with libSBML arrays support included. Could you check if it works on Travis?
[https://drive.google.com/open?id=1EP8-5UFwNxIdtM4tOI9hfWudRbhsgPaf](https://drive.google.com/open?id=1EP8-5UFwNxIdtM4tOI9hfWudRbhsgPaf)

[2018-06-27 20:24] kirichoi commented on #463
Great! Is this using the most recent version of https://github.com/sys-bio/libroadrunner-deps with the support for libSBML-5.17.0-experimental?

[2018-06-27 21:40] kirichoi commented on #463
Travis is failing, but I think this is due to some Ubuntu bug https://bugs.launchpad.net/ubuntu/+source/dpkg/+bug/1730627

@crvineeth97 : Could you double check the deb?

[2018-06-28 20:28] amberhu-uw opened #472 "Indexing Error in CSR Matrix"
I was running libSBML test 01211, which actually passes normally, but when run in debug mode an assertion fails.

This failure is an index out of bounds error, which is caused by [line 18 in rrSparse.h](https://github.com/sys-bio/roadrunner/blob/cc46626ebdc930149ccbdbe6bd21cc02f6c3744b/source/rrSparse.cpp#L118) which is a memcpy.

There is a note at the top of the definition of `csr_matrix`:

whic

[2018-06-28 21:20] hsauro commented on #472
Adding sparse matrix support would be a major effort. I've not seen the
code, so for now I would log it as an issue and if you have time larger on
return to the issue to see if it can be fixed.

Herbert

[2018-06-28 23:07] luciansmith commented on #472
An index out of bounds error in a memcopy is definitely an issue; I'm also unfamiliar with the code at this level of roadrunner, though.

However, I do know the tests, and this particular one has an 'leq' function with three children instead of just two.  If you edit the SBML to remove the first '5', re-run the test, and the assert goes away, the problem is almost certainly due to one part of the

[2018-06-29 01:17] amberhu-uw opened #473 "Multiple relational operators not working"
When multiple relational operators are used, as in `1<=2<=1`, only the ends are evaluated, turning the whole expression into `1<=1`. I've just fixed this one, but I thought it would be good to make an issue for all of the libSBML test suite problems.

I've tested that it works in a release version with libSBML 5.16, but 5.17 might potentially cause problems, so I'll figure out how to properly test

[2018-06-29 08:16] crvineeth97 commented on #463
@kirichoi
Travis uses Ubuntu 14.04. I've created another deb from a Ubuntu 14.04 VM. Can you please try that.
https://drive.google.com/open?id=1rN4cpqSSZqIBGN2narOmzobD0T9KyMzK
Also may I please be provided access to the roadrunner-debs repo?

[2018-06-29 17:45] kirichoi commented on #463
Deb seems to be working so far. I have given you the access to that repo as well.

[2018-06-29 17:50] kirichoi commented on #463
Just noticed that some dependecies are missing? Please check https://travis-ci.org/sys-bio/roadrunner/builds/398353746?utm_source=github_status&utm_medium=notification

[2018-06-29 19:42] luciansmith commented on #473
Ah, that's actually good to know--I designed the tests assuming that a common failure mode would be only checking the first two arguments; not the first and last argument.  I'll put in some new tests that check against the problem you're seeing, too.  Thanks!

The issue that Kiri created for 'all the libSBML test suite problems' is https://github.com/sys-bio/roadrunner/issues/379 (though it was mo

[2018-06-30 00:01] #473 closed, assigned to amberhu-uw

[2018-06-30 11:27] crvineeth97 commented on #463
The dependencies were there but were being addressed wrong. I've provided a quick but dirty fix for now and Travis seems to be working.

[2018-07-01 01:09] kirichoi commented on #463
Yup that was it.

[2018-07-01 01:09] #463 closed, assigned to nobody

[2018-07-02 19:05] amberhu-uw opened #475 "Optimize SBML loading"
As described [here](https://github.com/sys-bio/roadrunner/blob/3aca031a8a1adf3e5bd4c955ceca66408da57487/source/rrRoadRunner.cpp#L941-L942), the SBML loading process could be streamlined so that the SBML is only read once. This would probably decrease startup time, and be particularly good for large files as well as short tests where reading the SBML takes a disproportionately large amount of the t

[2018-07-02 19:10] hsauro commented on #475
Agreed.

Herbert

On Mon, Jul 2, 2018 at 12:06 PM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-07-02 19:15] amberhu-uw opened #476 "Fix assignment rule using amount instead of concentration"
Specifically, roadrunner fails [SBML test 1198](http://sbml.org/Facilities/Database/Home/TestDetails/01198) because it assigns the amount value of `S1` to `x` instead of the concentration. It should assign the concentration because `S1` is defined with `hasOnlySubstanceUnits="false"`

[2018-07-02 19:17] amberhu-uw commented on #476
~~@kirichoi @0u812 I'm running into some problems using the debugger on this, and it actually relates back to a separate issue #472 (index out of bounds in CSR Matrix). Whenever I run this test, as well as any other l3v1 or l3v2 test that I have tried, it fails from an assertion error described in that issue. Have either of you experienced this in debugging, and is there a temporary work around I

[2018-07-02 20:53] amberhu-uw commented on #476
@kirichoi How much did you look into this test failure when you originally tested it?

I have some more information about what is causing at least part of this. One of the ASTNode's has a bogus pointer that points to garbage in memory. I opened up the memory map in that region, and it's possible that it might have gotten shifted over by pointer arithmetic at some point, but changing the pointer va

[2018-07-02 21:00] kirichoi commented on #476
I didn’t spent much time on debugging it. If seg fault is being caused by libSBML, you should definitely try 5.17.0 experimental, which is pushed to libroadrunner-deps. I remember Lucian talking about some bug fixes, although I don’t know the details of it. If that still does not fix the issue and libSBML seg faults, you should contact libSBML devs again

[2018-07-02 21:22] luciansmith commented on #476
I'm not aware of any ASTNode bug fixes in 5.17, but it's always possible.  Definitely do let us know if it turns out to be a libsbml bug!

[2018-07-02 22:02] amberhu-uw opened #477 "Add Euler integrators"
We had a request to implement the Euler integrator. Ironically, this is actually at least partially implemented internally as an example of how to create a new integrator. This is probably just a matter of polishing any memory leaks and logic flaws, then getting it into the Python bindings

EDIT: Looks like events will also have to be implemented

[2018-07-03 23:41] amberhu-uw commented on #477
Alright, everything looks set, I tested it on a few SBML files with events, and they work fine (as well as Euler's method can)

I'll submit the PR

[2018-07-05 17:13] amberhu-uw commented on #477
Looks like there's still something wrong with some events, so I'll need to fix that before merging. Here is an SBML file whose events are not working currently

[code]

[2018-07-05 21:55] amberhu-uw commented on #477
I believe I've fixed the problem with the above SBML's events, but I've found another problem that manifests in this file, which is not specific to the Euler integrator (it can be recreated on CVODE).

I'll make another issue about it. Basically, if you reset the roadrunner instance, you get all zeroes for the species when you simulate it again.

EDIT: I believe that Euler passes all of the SBML t

[2018-07-05 23:08] hsauro commented on #477
I can't remember now but in this particular model it might be because the
initial conc are zero, in which case the behavior is correct.

Herbett

On Thu, Jul 5, 2018 at 2:55 PM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-07-06 22:15] #477 closed, assigned to amberhu-uw

[2018-07-06 23:37] kirichoi opened #479 "NLEQ2 failing tests"
Just noticed that NLEQ2 is actually failing to compute steadystate while running certain tests and steadystate approximation routine is covering it up. I believe these tests used to pass under NLEQ1.

[2018-07-06 23:40] kirichoi commented on #479
Commit https://github.com/sys-bio/roadrunner/commit/3aca031a8a1adf3e5bd4c955ceca66408da57487 restored travis. Problematic behavior can be observed in corresponding output (https://travis-ci.org/sys-bio/roadrunner/builds/398531487?utm_source=github_status&utm_medium=notification)

[2018-07-09 23:33] amberhu-uw commented on #476
I've figured out the issue, the variable `c` was mistyped as a `v`. Moving your finger a little to the right caused the wrong pointer to be assigned resulting in a double free and subsequent segmentation fault.

Just goes to show how important writing descriptive variable names is!

[2018-07-09 23:56] hsauro commented on #476
That's quite and interesting error, I think the libsbml team will be happy
you found this bug.

[2018-07-10 00:11] kirichoi commented on #476
Great! 👍

[2018-07-10 00:54] luciansmith commented on #476
Is the c/v bug in libsbml itself?  And if so, what file/line?

-Lucian

[2018-07-10 01:24] amberhu-uw commented on #476
The error is not in libSBML itself. Sorry, I forgot to specify that. It was
an issue with how ASTNode was being used in the LLVM code gen.
On Mon, Jul 9, 2018 at 5:55 PM Lucian Smith <notifications@github.com>
wrote:

[2018-07-10 16:42] hsauro commented on #476
My mistake too, I thought it was a bug in libsbml.

[2018-07-25 17:21] #447 closed, assigned to hsauro, amberhu-uw

[2018-07-30 18:26] kirichoi opened #481 "libroadrunner 1.5.0 manylinux wheels problems"
Right now, the newest release of roadrunner manylinux wheels (version 1.5.0) are causing ImportError on Travis.
`ImportError: No module named _roadrunner`

[2018-07-30 21:45] kirichoi commented on #465
@matthiaskoenig : I was looking into this one but I am not sure how useful it will be. An initial single internal solver step size will be very small (smaller than 1e-12) for integration not running for certain time interval. Also, at least for CVODE, endTime might be affecting the internal step size as well.

[2018-07-30 22:27] kirichoi commented on #481
Fixed by forcing Travis to use newer numpy

[2018-07-30 22:27] #481 closed, assigned to nobody

[2018-07-31 06:43] matthiaskoenig commented on #465
Thanks Kiri. I thought the internal step would/should be the largest step which can be accepted by the solver, i.e.,
I thought the following happens (or should happen)
* 0. the solver sets some initial step size (which could depend on tend and the absTol and relTol settings)
* 1. the solver tries to solve the ODEs with given absTol and relTol settings
* 2. if the step fails due to not fullfilling

[2018-08-01 20:44] kirichoi commented on #465
At least CVODE seems to work differently.  When using variable_step_size = True, roadrunner will set CV_ONE_STEP which will run a single internal step and return corresponding tout and yout. When you run simulate, roadrunner will try to run the simulation for a single internal step, obtain a tout, and put it in the next iteration while tout <= endTime so each entry of the output will be result of

[2018-08-02 07:08] matthiaskoenig commented on #465
Hi Kiri,
I see. So cvode is taking steps if they are accepted and only for the next step trying an increase.
I assume you use the `CV_ONE_STEP` option on the solver to get the one-step solutions, i.e.

This solution will work for me in combination with the possibiltiy to set the initial step size on the solver, i.e. via the `CVodeSetInitStep` option which must exposed in the roadrunner options.
I.

[2018-08-03 05:16] kirichoi commented on #465
As long is variable_step_size = true, what you are suggesting should work. There's an argument to set the initial step size for CVODE through roadrunner although I might want to test it out to make sure it's working.
I am thinking about creating a new function called `internalOneStep` for simplicity, with an additional option to disable restarting intergrator instance (which I think messes when ru

[2018-08-04 00:55] kirichoi commented on #465
Commit https://github.com/sys-bio/roadrunner/commit/6fe5cc954bd914586cb4beb1c00ff03d2fc502d9 adds this functionality. There is a new function called `internalOneStep`. Make sure to set `reset=False` to stop integrator instance from restarting. Need to make sure that it works on all solvers now.

[2018-08-04 18:28] hsauro opened #483 "r.plot() need documenting"
r.plot() has virtually no documentation in the libroadrunner python docs.

Here are the possible arguments to plot:

show
xtitle (shouldn't this have been called xlabel to be consistent with matplotlib?)
ytitle (shouldn't this have been called ylabel to be consistent with matplotlib?)
title
xlim
ylim
logx
logy
xscale
yscale
grid
tag
labels
ordinates

[2018-08-04 18:29] hsauro opened #484 "How to plot high res plot from r.plot?"
How does one plot a high-resolution plot from r.plot()?

I tried

r.plot()
plt.savefig('c:\\tmp\\filename.png')

but that didn't work

[2018-08-04 20:56] hsauro opened #485 "URGENT: RuntimeError: Cannot plot timecourse - first column is not time"
I thought this error had been fixed but when I try to do a phase plot I can't!

RuntimeError: Cannot plot timecourse - first column is not time

import tellurium as te

r = te.loada ('''
model feedback()
   // Reactions:
   J0: $X0 -> S1; (VM1 * (X0 - S1/Keq1))/(1 + X0 + S1 + S4^h);
   J1: S1 -> S2; (10 * S1 - 2 * S2) / (1 + S1 + S2);
   J2: S2 -> S3; (10 * S2 - 2 * S3) / (1 + S2 + S3);
   J3: S3

[2018-08-05 00:03] kirichoi commented on #485
Already fixed by commit https://github.com/sys-bio/tellurium/commit/c0d7e2e2b232f68444c79822b75deae676bb55ef. Next version will be fine.

[2018-08-05 00:03] #485 closed, assigned to 0u812, kirichoi

[2018-08-05 06:51] kirichoi opened #486 "Python 3 testing issue"
When running roadrunner test on Python 3, following error occurs without actually failing the test:

`Unexpected error in checkIndividualEigenvalues:'float' object cannot be interpreted as an integer`

This is because line https://github.com/sys-bio/roadrunner/blob/6fe5cc954bd914586cb4beb1c00ff03d2fc502d9/wrappers/Python/roadrunner/testing/tester.py#L241 actually returns a float, which is used as

[2018-08-08 06:12] #486 closed, assigned to kirichoi

[2018-08-08 21:52] kirichoi commented on #483
This is actually part of [tellurium.extended_roadrunner.plot](https://github.com/sys-bio/tellurium/blob/33f1d6f3fe7b7ef049eb35467a4fb41c7dd1ee79/tellurium/roadrunner/extended_roadrunner.py#L293) function which is already documented. However, Spyder has a weird bug with returning wrong documentation when calling from the editor. In the console, it works fine.

[2018-08-08 22:00] hsauro commented on #483
Is r.plot a tellurium or roadrunner function? I went to the sphinx
roadrunner documentation via google and there the documention on plot is
very minimal.

Herbert

On Wed, Aug 8, 2018 at 2:52 PM, Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.or

[2018-08-08 22:10] kirichoi commented on #483
r.plot is a roadrunner function but those fields will only appear when tellurium is loaded. Tellurium has r.plot that overwrites roadrunner r.plot, so when tellurium is loaded, r.plot is actually handled by tellurium.

[2018-08-08 22:16] hsauro commented on #483
In that case we should add a note to the sphinx documentation, saying if
people are using tellurium please see different docs.

Herbert

On Wed, Aug 8, 2018 at 3:10 PM, Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-08-08 22:28] #483 closed, assigned to matthiaskoenig, 0u812, kirichoi

[2018-08-08 23:27] kirichoi commented on #484
Fixed with commit https://github.com/sys-bio/tellurium/commit/1830c135fdb665dbc2f994f847733565d7a7378b. In matplotlib environment, r.plot will accept two additional arguments, `savefig` and `dpi`. `savefig` accepts full path to the figure. File extension specifies which format you wish to save the figure as. `dpi` can be specified to change the dpi of raster graphics, i.e. png.

[2018-08-08 23:27] #484 closed, assigned to matthiaskoenig, 0u812, kirichoi

[2018-08-09 18:06] hsauro opened #488 "Calling steadystate with odes doesn't work"
Consider the ode model:

[code]
results in the error message:

RuntimeError: Metabolic control analysis only valid for primitive reaction kinetics models. This model has rate rules

The problem is nothing to do with metabolic control analysis, its because there is an unnecessary limitation in libroadrunner. For example, converting the odes into reactions allows the steady state to be computed. For

[2018-08-15 21:48] kirichoi opened #491 "Add doc on use of single and double quote for rate of change"
Update [this page](https://sys-bio.github.io/roadrunner/python_docs/selecting_values.html).

[2018-08-15 23:25] kirichoi opened #492 "Move to readthedocs"
I suggest we move the docs to readthedocs instead of through gh-pages. Any thoughts?

[2018-08-16 00:32] hsauro commented on #492
If it makes it easier to edit and update the docs then yes. I think it
should be as easy as possible to update documentation. The more hoops
people have to jump through the less likely the docs get updated

H

On Wed, Aug 15, 2018 at 4:26 PM Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsau

[2018-08-23 01:11] kirichoi opened #493 "Cannot load test models"
Running
[code]
returns
`TypeError: startswith first arg must be bytes or a tuple of bytes, not str`
Checking sbml string I can confirm that the string is not encoded correctly.

[2018-08-23 01:19] #493 closed, assigned to kirichoi

[2018-08-29 16:58] lcwheeler opened #494 "negative steady state values"
Hi,

First of all, thanks for the great library! It's super fast and the API is easy to work with. I'm using it to do some evolutionary pathway simulations. I'm using roadrunner via Tellurium. My models are written in antimony.

I'm trying to search across a large space of random parameter combinations (within reasonable ranges). I'm randomizing parameters and assigning them to the model object, t

[2018-08-29 19:16] hsauro commented on #494
For those models that are resulting in infinite or negative concentrations
its most likely a bad model. Can you isolate one of the models that is
causing problems and send it to me (hsauro@uw.edu), I can then find out
what the cause it.

Herbert Sauro

On Wed, Aug 29, 2018 at 9:58 AM, Lucas Clayton Wheeler <
notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Wash

[2018-08-29 19:48] lcwheeler commented on #494
Hello Herbert,

I just sent a bad model in sbml format to your Gmail. Interestingly, when I exported and re-loaded that model, the plot of the simulation has changed (picture attached) to show flat values for all the species. However, the calculated steady steads are the same before and after exporting to sbml. This particular model doesn't have any negative values, but is still failing model.rese

[2018-08-29 22:12] hsauro commented on #494
Remember that resetToOrigin resets the model back to its original
definition UNLESS you've changed the initial conditions settings
('init(X)') in which case it will use those for the initial conditions.

Herbert

On Wed, Aug 29, 2018 at 12:48 PM, Lucas Clayton Wheeler <
notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, ww

[2018-08-29 22:18] lcwheeler commented on #494
OK, I bet that's what's causing the issue I've been encountering. With the model only defined once and subsequently modified over and over again it must be starting out with crazy initial conditions. The way I'm doing it now avoids that problem, by defining the model once and then making a temporary separate copy for each iteration of parameter randomization.

Thanks,
Luke

[2018-08-30 01:24] #494 closed, assigned to nobody

[2018-08-30 14:13] matthiaskoenig commented on #328
Hi all,

I am running again and again in this issue. This is a major bug in roadrunner and makes it practically impossible to work with models with initial assignments (i.e. change parameters which are used in initial assignments).
If you change any parameter in a model which is used in an initialAssignment roadrunner will give incorrect results.

Only workaround which creates a usable model (wher

[2018-08-30 17:28] hsauro commented on #328
When you say initialAssignments are they things like:

k1 = 1.0

in Antimony? I assume these are initialAssignment in the SBML? Is this a
Level 3 Version 1 feature?

[2018-08-30 17:40] luciansmith commented on #328
No, an initial assignment is something like:

k2 = k1+3

The problem is that when you update the initial value of k1, the initial value of k2 does not also change.

[2018-08-30 17:49] matthiaskoenig commented on #328
Yes, basically if you have an initial assignment
k1 = 2
k2 = k1 + 3  (initial assignment)
and than simulate the model after loading it will run with
k1 = 2
k2 = 5

If you now set
r.setValue(k1, 3)
in roadrunner, the model should simulate starting from
k1=3
k2=3+3=6
but the model is incorrectly simulating with k1=3, k2=5.
I.e. all InitialAssignments which depend on parameters are not reevaluated af

[2018-08-30 18:19] 0u812 commented on #328
Starting with the following model:
[code]

You can make changes to the initial values and the dependent initial values will be updated:
[code]

Calling `setValue('k1',3)` of course will not work because it sets the current value, not the initial value of the parameter. Similarly, if you called `setValue('init(k1)', 3)` but did not call `resetAll()` you would not expect the current (as opposed to i

[2018-08-30 18:57] matthiaskoenig commented on #328
Yes, it works with this syntax, but this is very confusing and I am sure almost nobody is aware of the subtle difference.

One basically has to know that if you want a new initial state of the model with updated initial assignments you have to use the `init` syntax for all parameter assignments and perform these with a `resetAll()` before changing any concentrations (because there could always be

[2018-08-30 20:15] hsauro commented on #328
Not sure what to do about making people more aware of these things, eg I
didn't know about this. The docs are certainly a bit thin in places. I have
two undergrads who will work during Sept, I can ask them to update the
docs. However, updating the docs seem to require a PhD so someone will have
to show them how to, I've no idea how to update the docs myself.

We could also create a longer FAQ perh

[2018-08-31 17:20] kirichoi commented on #143
We got a report of memory leak. Time for another sweep.

The user also provided a script to demonstrate the memory leak.

[leak_test.zip](https://github.com/sys-bio/roadrunner/files/2340964/leak_test.zip)

[2018-08-31 17:40] hsauro commented on #143
This needs to be addressed fairly quickly. I think this is a new issue.
When Andy made the first release, did a thorough analysis of memory
consumption and pretty much eliminated all memory leak. Since they I
assume some memory leaks but have crept in.

Herbert

On Fri, Aug 31, 2018 at 10:20 AM, Kiri Choi <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washin

[2018-08-31 18:34] hsauro opened #495 "A user has requested a resetParameters() in roadrunner"
A user asked for a resetParameter() to be added to roadrunner to complement reset() and resetAll()

Parameters include everything other than floating species.

Please add.

[2018-08-31 18:55] matthiaskoenig commented on #495
It would be great if there could also be some documentation added what all the different resets are doing exactly, i.e. what are following things reseting, and what is not affected in the model
- `reset`
- `resetAll`
- `resetToOrigin`
- `resetParameter`

[2018-08-31 19:16] hsauro commented on #495
Glad you mentioned this, I have two students starting next who will be
working on the documentation. They are familiar with tellurium. I'd like a
list of areas that need attention in the documentation.

Herbert

On Fri, Aug 31, 2018 at 11:55 AM, Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio

[2018-09-04 18:01] kirichoi commented on #492
I have created a [readthedocs libRoadRunner docs](https://libroadrunner.readthedocs.io/en/latest/). Please check if it's good to go. I will update the links on other docs and websites to point to this version in the future.

[2018-09-04 18:33] #491 closed, assigned to nobody

[2018-09-04 18:39] kirichoi opened #496 "Update/Add documentations"
If you have any documentation you want to see updated or added, please comment here. We will be using this issue to update the documentation in the next few weeks.

- [x] Add detailed documentation on what exactly `reset`, `resetAll`, `resetToOrigin`, and (once implemented) `resetParameter` are doing
- [x] Documentation on new steadyState options, e.g. allow_presimulation, allow_approx, etc.
- [x]

[2018-09-04 20:59] #495 closed, assigned to 0u812, amberhu-uw

[2018-09-04 21:47] kirichoi commented on #495
Added a new function called `resetParameter` which will only reset global parameters but not the time, floating species, etc.

@matthiaskoenig : the docs will be added soon. You can follow [this issue](https://github.com/sys-bio/roadrunner/issues/496). Also, would you like to have another reset function that resets the model back to the original state but not to the init values? Might or might not

[2018-09-05 23:20] kirichoi commented on #492
Link from tellurium doc has been updated. [Roadrunner website](http://libroadrunner.org/) needs to be updated. Are there any other places where the link to the roadrunner doc need to be updated?

[2018-09-05 23:49] amberhu-uw commented on #143
I've tested the `leak_test` model under valgrind on Linux, and it looks like there is indeed a memory leak. I'm looking into the cause now

[2018-09-05 23:56] hsauro commented on #143
Great, thanks for that, I've been worried for some time about potential
leaks.

H

On Wed, Sep 5, 2018 at 4:51 PM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-09-06 18:23] amberhu-uw commented on #143
It seems like the culprit was a pointer to the `SBMLDocument` in `isStoichDefined` not getting deleted in the early return branch. I made a fix for it on my Linux VM, which I will PR now.

In the future, when we move more toward accepting the C++11 standard, in situations like this, where a pointer is returned with the intention that it must be deleted by the caller, this is a perfect place to use

[2018-09-06 21:08] hsauro commented on #143
Glad you found it, was that in our code?

Can we ship this fixed version to Eshan?

H

On Thu, Sep 6, 2018 at 11:24 AM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-09-07 20:17] amberhu-uw commented on #143
Yes, I'm trying to run the tests on this version before I merge into develop, but I think the Travis build is broken right now, so I'm just running the tests myself. I'll email Kyle to ask about the problem I'm getting with Travis, though.

[2018-09-07 22:58] amberhu-uw commented on #143
Since we found and fixed the source of that specific memory leak, I'll close this issue.

The PR is #497

[2018-09-07 22:58] #143 closed

[2018-09-08 00:38] kirichoi commented on #143
@andrewhu-uw Thanks for the fix

[2018-09-10 18:33] kirichoi opened #498 "r.model.getStateVectorRate() returning wrong vector"
Originally from https://github.com/sys-bio/tellurium/issues/403

[2018-09-10 22:40] kirichoi commented on #498
FYI, `r.conservedMoietyAnalysis = True` is causing this.

[2018-09-10 22:41] kirichoi opened #499 "Fix issues with steadyStateApproximate"
`steadyStateApproximate` seems to have some issues. It was hastily implemented anyway, so a good time to fix few issues.

[2018-09-10 22:49] hsauro commented on #498
But it shouldn't  since the follolwi8ng call get it right:

r.getSteadyStateValues()
Out[74]: array([1.66666715e-01, 8.48735111e+20, 8.33333285e-01])

Its a bug from way back that was never fixed.

Herbert

On Mon, Sep 10, 2018 at 3:40 PM, Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro

[2018-09-10 22:54] kirichoi commented on #498
I wouldn't trust the steadystate values for now because of some issues I found with approximation routine. Also, this model indeed does not have steadystate.

[2018-09-10 23:01] hsauro commented on #498
Correct it doesn't have a steady state and yet a call to steadyState comes
back with 1E-14 which suggests it has found the steady state.

H

On Mon, Sep 10, 2018 at 3:54 PM, Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-09-11 08:38] #499 closed, assigned to kirichoi

[2018-09-11 08:43] kirichoi commented on #498
Issue with the steady state solver fixed in commit f99299a67974e233c05742911868ab4b220d61f3. There should be no steady state now for this model.

[2018-09-12 03:07] kirichoi commented on #498
It seems like state vector is tightly integrated into roadrunner at low-level so removing it would be impossible. However, there's no good reason to let Python users access these functions, so I have removed these functions from appearing in Python binding. To do so, it was necessary to remove `getRatesOfChange` function from Tellurium, which relied on `getStateVectorRates`, and implement the func

[2018-09-12 04:16] hsauro commented on #498
Sounds ok to me.

Herbert

On Tue, Sep 11, 2018 at 8:08 PM Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-09-13 00:50] kirichoi commented on #492
LibRoadRunner website is also updated. Let me know if there are any other places where the link needs to be updated.

[2018-09-13 00:50] #492 closed, assigned to nobody

[2018-09-13 23:00] amberhu-uw opened #500 "LLVM 6 JIT Error"
I've been investigating errors where the only difference between the develop branch is that we're using LLVM 6. There are several of these, but one of them involves JIT'd code

By running just `Two_Cycles.rrtest` I was able to figure out that the current LLVM 6 JIT is generating code which is clearly wrong for setting a global parameter.

Specifically, if you debug this test and look at the memory

[2018-09-13 23:08] hsauro commented on #500
Yes we're supposed to be able to set global parameters.

Herbert

On Thu, Sep 13, 2018 at 4:00 PM, Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-09-14 00:24] amberhu-uw commented on #500
In `SetValueCodeGenBase.h`, we have the default implementation of a set value JIT'ed function. This has not changed between LLVM 3.5 and 6.0, but it is possible that it is being interpreted differently by the API, maybe one of the commands is deprecated.

[2018-09-17 19:00] amberhu-uw commented on #500
Finally got the LLVM 3.5.2 debug build to run this test, and it looks like the JIT'd code is indeed working on the old LLVM. I'm going to try to debug the assembly

[2018-09-17 19:32] amberhu-uw commented on #500
Alright, the Assembly generated by LLVM 3.5.2 is to set a global parameter is as follows

`85 d2 0f 85 0b 00 00 00 f2 0f 11 91 f0 00 00 00 b0 01 c3 83 fa 01 0f 85 0b 00 00 00 f2 0f 11 91 f8 00 00 00 b0 01 c3 31 c0 c3`

This translates into this Intel syntax x86

[code]

[Here's a link to a disassembler with this assembly loaded](https://onlinedisassembler.com/odaweb/zdpWgjtU/0)

Looks like the "re

[2018-09-18 00:01] amberhu-uw commented on #500
Okay, I think I may have finally figured out the problem.

LLVM 6 deprecated, but has not removed, `getPointerToFunction`, instead, we're now supposed to use `getFunctionAddress`.

Unfortunately, this new function takes the unmangled name of the function as input, so we're going to have to add a bunch of string literals, but after that busy-work, hopefully that will fix our JIT problem!

[2018-09-18 23:03] kirichoi opened #501 "NLEQ2 having issues with certain model"
Originally from @Yoshi8765

[This model (errorNet_19.txt)](https://github.com/sys-bio/roadrunner/files/2394791/errorNet_19.txt) hangs NLEQ2 solver. While debugging, I found out that some values are going negative:

[code]
Which I think is causing this issue. It is possible that the model have some problems, but at least our solver should not hang.

[2018-09-18 23:29] kirichoi commented on #501
Commit 2bddf770da67af8e997c082b78fc66fda7f9b3d1 bails out if nan values are encountered while running NLEQ.

[2018-09-20 21:34] #501 closed, assigned to nobody

[2018-09-21 22:07] amberhu-uw commented on #500
I finally figured out why LLVM was randomly telling me that it couldn't find the functions I JIT'd. The reason is that with this new API `getFunctionAddress`, we need to look up functions by their names. So, I copied and pasted their names into every place I needed to use it.

The problem, was that when the code gen for these JIT'd functions were originally created, the strings which LLVM uses as

[2018-09-21 22:15] hsauro commented on #500
Good news. Does it pass the sbml test and our own test suite?

H

On Fri, Sep 21, 2018 at 3:07 PM, Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-09-21 22:28] amberhu-uw commented on #500
Testing that now, will update once it finishes

EDIT: LLVM 6 is now passing all the tests, I'll send out an email letting people know that they will have to migrate their dependencies to LLVM 6, and then merge the PR

[2018-09-21 22:53] #498 closed, assigned to 0u812, kirichoi

[2018-09-22 01:46] kirichoi opened #502 "Only reset time in steadyState when NLEQ fails"
There might be a case where someone is calculating steadyState after changing concentrations instead of changing the initial value of concentration. This might cause issue because if NLEQ2 fails, `steadyState()` calls `reset()` and run `steadyStateApproximate`. It might be a good idea to store the concentration at the beginning, only reset time and reinitialize with the store concentration before

[2018-09-22 02:49] kirichoi opened #503 "Implement an alternative approximation routine for unstable steady states"
Maybe provide a flag called `search_unstable` to control the behavior.

[2018-09-22 03:00] hsauro commented on #503
NLEQ will, without anything else, find unstable states if it is close
enough.

We could use that flag, may thing it is documented. Today kateka tested
searching for steady state and it doen't work well. She is going to try to
rearrange things to make it easier to search for the 'steadystate' but
especially the options.

Herbert

On Fri, Sep 21, 2018 at 7:50 PM Kiri Choi <notifications@github.com>

[2018-09-28 23:20] kirichoi commented on #479
There are certain models where NLEQ2 fails to converge while NLEQ1 succeeds. I thought NLEQ2 was suppose to be superior to NLEQ1 but that does not seem to be the case.

[2018-09-29 07:20] kirichoi commented on #479
I will be reintroducing NLEQ1 back as a steady state solver. NLEQ2 will stay, but roadrunner will use NLEQ1 by default. If NLEQ1 fails, roadrunner will try NLEQ2, and if NLEQ2 fails as well, approximation routine.

[2018-09-29 22:11] hsauro commented on #479
Fine by me.

Herbert

On Sat, Sep 29, 2018 at 12:21 AM Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-10-04 22:42] kirichoi commented on #479
Branch [nleq_fix](https://github.com/sys-bio/roadrunner/tree/nleq_fix) contains the fix. Noticed that what was causing the whole issue was the tolerance being too tight. nleq2 works fine once the tolerance is relaxed. I will keep nleq2 as default but put back nleq1 because it's already there. Noticed another bug where change in settings not actually applying.

[2018-10-04 22:57] hsauro commented on #479
I tried reducing tolerance from the python console and it made no
difference. Check that setting the tolerance at the console changes the
actual tolerance at nleq2.

Herbert

On Thu, Oct 4, 2018 at 3:44 PM Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analog

[2018-10-05 01:13] kirichoi commented on #479
Yup, that's exactly what I found. I already know how to fix it, so I will push out a commit soon.

[2018-10-09 13:03] kirichoi opened #505 "Add support for Python 3.7 wheels"
Anaconda have moved on to Python 3.7 by default in their latest release. We might want to push out Python 3.7 wheels for roadrunner and other tellurium dependencies.

[2018-10-09 15:20] hsauro commented on #505
Definitely.

H

On Tue, Oct 9, 2018 at 6:05 AM Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-10-18 20:52] hsauro opened #506 "Is this a bug or a feature?"
Changed simulate selection list to S1 and S1, print results
Then did another simulation without a selection list, I think I expected the selection list ['time', 'S1', 'S2'] to be used, but I supposed not. If this is a feature then leave as is.

import tellurium as te
import roadrunner

r = te.loada("""
      S1 -> S2; k1*S1;
      k1= 0.15; S1 = 5;
""")

m = r.simulate (0, 20, 8, ['S1', 'S1'])
pri

[2018-10-18 21:04] kirichoi commented on #506
I don't think it's a bug. `r.reset()` does not reset the selection list as far as I know. However, if you think it's better to reset the timecourse selection by default, we can do that as well.

[2018-10-19 11:12] matthiaskoenig commented on #506
Please don't reset the timeCourseSelections !. A lot of my existing code relies on the timeCourseSelections being maintained.

Otherwise you have to reset the selection in every loop iteration if you run multiple simulations (this adds unnecessary overhead in every loop).

[2018-10-19 11:15] matthiaskoenig commented on #475
Here some smaller example model of mine. Loading time is already around 20 seconds. For larger models this goes towards ~1-2min for loading a model.

[timing.zip](https://github.com/sys-bio/roadrunner/files/2495580/timing.zip)

[2018-10-19 15:28] hsauro commented on #506
We're not going to. It's been like that for so long that the behavior
should stay.

Herbert

On Fri, Oct 19, 2018 at 4:13 AM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-10-19 15:33] hsauro commented on #475
We'll take a look. I'll ask Andrew Hu to investigate.

Herbert

On Fri, Oct 19, 2018 at 4:19 AM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-10-19 20:56] #506 closed, assigned to 0u812, kirichoi

[2018-10-27 00:37] #502 closed, assigned to kirichoi

[2018-11-08 18:35] kirichoi opened #507 "Disable gh-pages"
Since we have moved to readthedocs, I don't think we need to support gh-pages anymore.

[2018-11-12 08:50] matthiaskoenig opened #508 "Roadrunner gives different results than COPASI"
Hi all,
I have a model where roadrunner gives very different results than COPASI. Tried to narrow it down, but seems not sure what is going on exactly.
The issues are with the `vRBCvGLCTRANSPORT` glucose transporter in the given system.

When running a basic simulation with roadrunner with the model
[code]
I get the following results
![rbc_parasite_model_roadrunner](https://user-images.githubuserc

[2018-11-12 08:53] matthiaskoenig commented on #508
I just noted that the absolute reaction rates are also very different between COPASI and roadrunner looking at the pictures in comparison (0-120 in COPASI vs. 0-0.06 in roadrunner), so could be a scaling issue?

[2018-11-12 16:14] hsauro commented on #508
Copasi uses a different integrator so the tolerances may not be comparable. Do we have another simulator we carry this on?

[2018-11-12 18:16] matthiaskoenig commented on #508
JWS could run the model and gave same results like roadrunner (but I am not trusting JWS completely). The model has a strange combination of initialAssignments, using amounts for species, and some manual handling of amounts and volumes in the rate equations.

[2018-11-12 21:53] hsauro commented on #508
How big is the model?
Herbert

On Mon, Nov 12, 2018 at 11:33 AM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-11-13 10:04] matthiaskoenig commented on #508
The model was very big.
I just created a minimal example showing the issue (see below). JWS gives the same results like roadrunner, COPASI results are very different. It looks like a scaling/multiplying with the volumes issue, or handling amounts vs. concentrations correctly.

Output of the minimal example is:

**roadrunner**
![roadrunner_amounts_fluxes](https://user-images.githubusercontent.com/9

[2018-11-13 16:25] fbergmann commented on #508
This comes down to an issue with a spatialDimension of 0 (while insisting that the unit is "ml"). I'm not actually sure what it means yet. Will think  about it, and created a copasi issue for now as well:

http://tracker.copasi.org/show_bug.cgi?id=2721

cheers
Frank

[2018-11-15 00:17] hsauro opened #509 "Add new method getExtendedStoichiometryMatrix()"
Create a new method, with documentation, that returns a stoichiometry matrix that includes the boundary species, including reactions that have empty reactants or products. The matrix should be labeled.

Call the method getExtendedStoichiometryMatrix ()

[2018-11-15 07:43] matthiaskoenig commented on #508
Closing this here.

As I understand the SBML specification the dimension on compartment cannot change any numerical results in SBML L3 (the model is L3V1, so the following applies):

@luciansmith Is it possible to add a test case for this in the SBML test suite? I.e. add versions of a simple test model with compartments with different dimensions (0,1,2,3, 3.12) which should all give the same resul

[2018-11-15 07:43] #508 closed, assigned to nobody

[2018-11-15 08:20] fbergmann commented on #508
Hello @matthiaskoenig , while for SBML units and thus spatial dimensions do not matter, they do for COPASI, as it is extremely helpful in tracking down mistakes in your model. And looking at the model, it must have been a mistake in the model to begin with. It would not have made sense to define a spatialDimension of 0, but to assign "ml" as unit.

[2018-11-15 10:06] matthiaskoenig commented on #508
Hi Frank,
I completely agree. The model is complete non-sense from a unit and dimension perspective (and I would definitely not build a model like that).
As far as I can tell why the `dimension=0` is there is that a tool used a default value of zero for dimension if no dimension was provided (I think the JWS web interface). So there could exist a handful of such models in the wild (despite being n

[2018-11-15 10:10] fbergmann commented on #508
I would not :) ... at least I'm still missing a convincing use case for them. In anycase ... the patch has gone into COPASI we will still issue a warning (unit warning on zero dimension, reset of dimensions to 3 for any fractal dimension), but we shall no longer insist that a compartment without dimensions cannot partake in math.

[2018-11-15 14:35] matthiaskoenig opened #510 "Add method which makes a complete timeCourseSelection"
I often have to add all ids to the timeCourseSelection (mainly for debugging and being able to see and plot the timecourses for all objects in the SBML model).

So I often write the following code
[code]
Which adds all ids to the model and makes amounts and concentrations easily accessible.
It would be great if something like this could be added as helper to roadrunner which makes it a easy to get

[2018-11-17 01:24] hsauro opened #511 "Odd message from steady state solver"
I got this error message to ay:

Metabolic control analysis only valid for primitive reaction kinetics models. This model has events. Set Config.ALLOW_EVENTS_IN_STEADY_STATE_CALCULATIONS to true to override

What do we mean by primitive reaction kinetic models?  I think the message should be changed too:

"We cannot calculate the steady state of the model because it has events. If you want to over

[2018-11-17 01:36] #503 closed, assigned to kirichoi

[2018-11-18 03:11] kirichoi opened #512 "Updating CVODE?"
The sundials package we use is quite old (almost 7 years) and there has been updates to the package since then. Transitioning to the newer version will be a hassle since they seem to have changed the API, but I wonder whether it will be worth it?

Some of the changes I found while skimming through release notes:
support for constraint handling, fixes to some memory issues, CUDA and RAJA support, e

[2018-11-19 17:00] hsauro commented on #512
Not at the moment, there are more pressing needs I think. eg some of the
issues that Matthias have raised would be more useful to address

Herbert

On Sat, Nov 17, 2018 at 7:12 PM Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-11-19 23:24] kirichoi opened #513 "Add function to reset selection lists"
Add function to reset time course and steady state selection lists

[2018-11-19 23:25] kirichoi opened #514 "Add function getFloatingSpeciesConcentrationIds"
Function getFloatingSpeciesConcentrationIds should return list of floating species ids with concentration selection syntax.

[2018-11-20 21:21] #513 closed, assigned to nobody

[2018-11-20 21:21] #514 closed, assigned to nobody

[2018-11-20 21:33] kirichoi opened #515 "Implement getAssignmentIds"
@hsauro reported that we do not have a method to return assignment ids or values. E.g. model below will return S1, S2, S3, and k2 (because it is involved in rate rule), but k1 cannot be accessed.

[code]

How useful will it be to be able to access these elements? How high of a priority is this? Any thoughts?

[2018-11-20 21:36] kirichoi commented on #510
Hi Matthias,

Could you specify which ids you need? I see time, reactions, amount and concentrations for floating and boundary species, parameters, and compartments. Are these all you need?

[2018-11-20 21:54] luciansmith commented on #510
There are two other SBML elements with an ID that have mathematical meaning: the SpeciesReference, and the LocalParameter.  (The species reference ID is 'the stoichiometry'.  It won't be commonly used, but it could, in some models.)  The local parameter IDs are not globally unique; you'd need to preface them with the reaction ID for that (i.e. "J0.p1" for local parameter 'p1' in reaction 'J0'.)

[2018-11-20 22:01] kirichoi commented on #510
@luciansmith Thanks for the info. I think Matthias wants it for time course simulations, so I don't think SpeciesReference makes sense in this case (or is it?). I can see local parameters being useful though.

[2018-11-20 22:02] luciansmith commented on #515
Is 'k1' not in the global parameters list?  I would have though it would be.

(If it's not, it should be.  There are a lot of test suite models with parameters just like this as requested output.)

[2018-11-20 22:04] luciansmith commented on #510
Species references can change in time just like anything else.  I don't know if roadrunner handles this situation or not, but even if it doesn't, it should let the user display them so the user can tell that they're not changing, if they expected them to change.

[2018-11-20 22:06] luciansmith commented on #510
(Most species references won't have IDs in the first place; you can guess that they're possibly important simply by the fact that they have an ID at all.)

(Also, Antimony does not currently handle this situation, though we could try to figure out a syntax that added them.)

[2018-11-20 22:07] kirichoi commented on #515
@luciansmith Yes, you are right.
@hsauro Could you provide some examples? I can't remember what this was about.

[2018-11-20 22:09] kirichoi commented on #510
@luciansmith I don't think roadrunner can handle is either, although I think it's one of the things we would like to add.

[2018-11-20 23:23] hsauro commented on #515
Anything like:

  k1 := sin(time)
  k2  := k1/2

  S1 -> S2; k1*S1
  S2 -> S3; k2*S2

  S1 = 5

We should have a list of assignment variables, k1 and k2. Not sure
what to do about k1'.

Herbert

On Tue, Nov 20, 2018 at 2:08 PM Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books

[2018-11-20 23:33] kirichoi commented on #515
I see. So it's not about not being able to access assignment variables, but more about knowing said parameter is an assignment variables.

[2018-11-21 00:07] hsauro commented on #515
It's about knowing what the names of the left-hand sides are in the
assignment variables.

Herbert

On Tue, Nov 20, 2018 at 3:34 PM Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-11-21 10:35] matthiaskoenig commented on #510
The LocalParameters can be easily handled by promoting the parameters to global parameters (this is mostly what I am doing when working with models, because it makes it much easier to iterate over the parameters). Not sure how roadrunner is handling these, but I think they are also promoted to global parameters.

I never saw a model with changing stoichiometries on SpeciesReference (and I would de

[2018-11-21 16:32] hsauro commented on #510
I've a feeling that local parameters are promoted as well. Local
parameters are a nuisance in general.

[2018-11-28 19:50] #510 closed, assigned to nobody

[2018-11-28 19:51] kirichoi opened #516 "getEventIds does not work"
`getEventIds()` does not work. `SelectionRecord::EVENT` is not functioning properly? However, `getEventId()` with index works.

[2018-11-28 19:55] kirichoi commented on #510
Added a new function called `getAllTimeCourseComponentIds()` under executable model. You can run it via `r.model.getAllTimeCourseComponentIds()` which will return a list including `time`, floating species amount ids, boundary species amount ids, floating species concentration ids, boundary species concentration ids, reaction ids, compartment ids, and global parameter ids.

[2018-11-30 14:13] matthiaskoenig commented on #510
Hi Kiri,
thanks so much. This is helping a lot.
M

On Wed, Nov 28, 2018 at 8:55 PM Kiri Choi <notifications@github.com> wrote:

--
Matthias König, PhD.
Junior Group Leader LiSyM - Systems Medicine of the Liver
Humboldt Universität zu Berlin, Institute of Biology, Institute for
Theoretical Biology
  https://livermetabolism.com
konigmatt@googlemail.com
https://twitter.com/konigmatt
https://github.co

[2018-12-03 02:33] 0u812 opened #517 "Missing nleq 1/2 headers"
Trying to build roadrunner against master branch of [libroadrunner-deps](https://github.com/sys-bio/libroadrunner-deps) results in missing headers `nleq2/nleq2.h` and `nleq1/nleq1.h`. I'm on commit 558b74e995d7719d3093488c258a8b6501c7d9f4 of libroadrunner-deps. Looks like some sort of sync issue. @kirichoi, do you know if master the correct branch for libroadrunner-deps?

[2018-12-03 02:40] 0u812 opened #518 "Line endings"
Just documenting that I had to recommit all the line endings, looks like some cr/lf got in somehow. It's not really a problem, just makes the diffs a mess. Windows users can use the [GitHub instructions](https://help.github.com/articles/dealing-with-line-endings/#platform-windows) for setting the correct line ending options to prevent cr/lf from getting committed.

[2018-12-03 02:46] 0u812 commented on #517
Instead of this, I just have `nleq/nleq1.h` in the includes.

[2018-12-03 04:44] kirichoi commented on #517
If you check the master branch, you can see that it has both nleq1 and nleq2 folders and header files. Commit https://github.com/sys-bio/libroadrunner-deps/commit/9edbcc826a69682e3864b82fe65a8e7a6e39ec80 added these files back, and I haven't had any issue with that commit. Under include dir, you should have both nleq1 and nleq2 folder. I wonder if this is some caching issue?

[2018-12-03 05:17] kirichoi commented on #517
I double checked with rebuilding everything from scratch and had no issues. Other possibility is incomplete CMakeList file which is configured properly for settings I am using and not for yours. Are you building static libs?

[2018-12-03 05:23] kirichoi commented on #518
Seems like they are some old files committed 5~6 years ago. I attest that git for Windows now defaults to crlf while checkout and lf while commit so new commits should not have this kind of issues anymore.

[2018-12-03 14:09] 0u812 commented on #518
Okay, sounds good. Just wanted to comment here so that people know it was unavoidable.

[2018-12-03 14:09] #518 closed, assigned to nobody

[2018-12-03 14:12] 0u812 commented on #517
Oops sorry looks like it was my bad.

[2018-12-04 23:33] kirichoi opened #519 "Add getIndependentRatesOfChange and getDependentRatesOfChange"
Add two new functions that return independent and dependent rates of changes

[2018-12-08 00:09] amberhu-uw opened #520 "Add model editing during execution"
We'd like to be able to start the model, then part way through stop it and change it, then resume execution. This editing could include

- Adding a species
- Adding a reaction
- Removing a species
- Removing a reaction

This would probably be implemented through editing the in memory representation of the SBML tree, and then recompiling with LLVM. Unfortunately, due to the LLVM redesign, we can on

[2018-12-10 22:56] amberhu-uw commented on #520
One of the biggest difficulties in implementing this feature is going to be using the new LLVM APIs, so we don't get stuck on an old version like last time. The JIT API has gone through 2 iterations since 3.5, to MCJIT and now ORC JIT. ORC JIT is still under development, so the api could change, but if we add this feature targeting the LLVM 8 API it should be stable for a few years to come.

Right

[2018-12-11 01:36] hsauro commented on #520
We definitely don't want to make these changes to an old LLVM. How stable
is LLVM 8 since it's not quite out yet?

H

[2018-12-11 02:51] amberhu-uw commented on #520
I'll have to look into it some more, but the reason I though about targeting LLVM 8 is because the person in charge of the ORC JIT project (Lang Hames) said that they're changing the API in LLVM 8 to "future-proof it" relating to changes around concurrent compilation. We can probably just see if we can get something to work on LLVM 6 and hopefully the migration won't be as painful as on 3.5

[2018-12-11 21:25] amberhu-uw commented on #520
Okay, so it looks like the ORC API has been updated, so the example ORC JIT I listed above is slightly out of date, it was written in early 2017 for LLVM 5.0, but I'm trying to target 6.0 right now. The main difference is that at the time of that example's writing, ORC used two main layers, the compile layer, and the linking layer. The linking layer was generated by default by LLVM, but now that l

[2018-12-11 21:52] hsauro commented on #520
ok Good.

Herbert Sauro

[2018-12-12 03:47] amberhu-uw commented on #520
I was able to migrate that example I was working on earlier and verify that it works. I pushed it to [this repo](https://github.com/andrewhu-uw/code-for-blog) (on Linux run make in the `2017/bfjit` folder, and if you want to build it on Windows, I got it to work but I didn't go make a CMake configuration)

I'm going to try to edit this bfjit project to get it to edit the code at runtime, similar t

[2018-12-12 03:54] amberhu-uw commented on #520
One thing to note, though: I couldn't get JIT'd code to be able to call into non-system function. It was able to resolve symbols like memset and putchar fine, but functions marked with `extern "C"` couldn't be found at runtime.

This only happened on Windows, and it worked on Linux. I'm not sure if that will be a problem at all,

[2018-12-12 04:00] hsauro commented on #520
What do you mean by non-system function?

Herbert

On Tue, Dec 11, 2018 at 7:54 PM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-12-12 04:19] amberhu-uw commented on #520
Things that are included in the C standard library like `memset` and `putchar`, as well as anything else that's linked into the shared libraries at runtime. The details of shared libraries vary by operating system, but the important thing is that if we write some code in C++, and then want to call it *from* the LLVM generated code, I'm not sure we can do that

[2018-12-12 04:28] hsauro commented on #520
We probably won’t be calling those kinds of functions..
H

[2018-12-13 02:04] #519 closed, assigned to kirichoi

[2018-12-14 20:01] amberhu-uw commented on #520
After doing some tests, it looks like LLVM JIT'd functions cannot call functions that are in another module, which means that if we want to change anything about the code during execution, we need to recompile the whole module, which will probably mean all of the generated code.

This actually makes sense after thinking about it a little since, if we want to change the code, we can't recompile it

[2018-12-14 21:32] hsauro commented on #520
That makes sense. Still quicker I hope than having to reload the SBML.

H

[2018-12-15 03:17] amberhu-uw commented on #520
I have two functions being JIT'd one of which is trivially edited and re-JIT'ed at runtime, which is pretty promising. I'm going to try to make it a little bit more advanced, but then I'll probably need to communicate with whoever understands the model representation best about how the model is being edited at runtime.

I've looked at most of the LLVM related code, and after reading the LLVM IR re

[2018-12-20 07:34] amberhu-uw commented on #520
I started looking at how the model and LLVM are handled in roadrunner, and based on my first look through, I believe we can make the following statements

- LLVMModelData is the only object which the JIT'd code should be directly interacting with
- Whenever the model is edited, the LLVMModelData will have to be regenerated, since it relies on raw indexing
- Whenever the model is edited, the genera

[2018-12-20 16:04] hsauro commented on #520
What you suggest is reasonable, please go ahead.

By the way the original computer you were using has been fixed now has a
new ssd with twice the size. If you want to use that co outer you’re free
to move back.  It sure what the login credentials are.

Herbert Sauro

H

On Wed, Dec 19, 2018 at 11:35 PM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of

[2018-12-20 19:30] amberhu-uw opened #521 "Document roadrunner internals"
As a part of preparing for #520, we need to document how roadrunner actually works, so that when someone tries to modify it as will be necessary to create dynamic model editing, they won't have to reverse engineer the entire system.

My plan right now is to write some more documents that will be put on the wiki

[2018-12-20 20:00] hsauro commented on #521
We definitely need some internal documentation.

On Thu, Dec 20, 2018 at 11:31 AM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2018-12-20 20:00] luciansmith commented on #521
I would strongly recommend using a system like Doxygen, where the functions inside roadrunner are documented in-place, and those documents can then be pulled out automatically to create an external documentation site.  An overview would not be amiss, but again, putting it inside the roadrunner source code would mean that as roadrunner evolves in the future, the documentation for it is right next t

[2018-12-20 20:10] amberhu-uw commented on #521
I like the [four kinds of documentation](https://www.divio.com/blog/documentation/) model.

- Learning oriented
- Goal oriented
- Understanding oriented
- Information oriented

Inline documentation would mostly be information oriented, and we're definitely missing a lot of it. However, what I was going for here was more on the understanding oriented side of documentation. As of now, when you look

[2018-12-20 20:36] hsauro commented on #521
I think Andrew is on the right track, we do need internal documentation on
roadrunner. Whether it should be a wiki or doxygen I'm not sure. Also I'm
not sure how much the internal API needs to be formally documented in
something like doxygen (PS We use readthedocs now). One thing I've
discovered about our documentation especially the user docs is that I can't
easily edit them because of all the ho

[2018-12-21 00:32] 0u812 commented on #509
This is mostly finished except for a couple of edge cases. One involves a reversible source/sink, e.g.:

[code]

Since J0 has no products, we would normally add a "sink" node to the extended stoichiometry matrix. However, in this case it would appear that since J0 is reversible, it is not truly a "sink" reaction therefore no additional rows should be added. Thoughts? @joseph-hellerstein and @woosu

[2018-12-21 01:00] hsauro commented on #509
The stoichiometry matrix is determined only by the reaction scheme and not
the rate law.  In this case the full stoichiometry matrix would be:

X  -1

since there is no Y in the reaction itself. If it were X -> Y then the
stoichiometry matrix would be:

X -1
Y +1

The easy way to check the edge cases is to take the network and convert all
the boundary species to floating species, reload the model

[2018-12-21 02:59] 0u812 commented on #509
Maybe I misunderstood. I thought we were also adding rows for source / sink reactions (i.e. reactions with zero reactants or products respectively). I think Woosub is under the impression that we are. Here is an example from him which includes no boundary species but still has extra rows for sources / sinks. In this scheme, if a reaction has zero reactants or products, you insert a row in the exte

[2018-12-21 03:01] 0u812 commented on #509
I designed the method to return the matrix above because that's what Woosub requested, but that might not be correct given your comment above. I referred him to this issue so he might be able to comment to clarify.

[2018-12-21 03:25] hsauro commented on #509
I think if you have extra reactions without reactants or products then
there are no addiotional species rows. I’ll have a look at the semblance
file you sent.

[2018-12-21 03:43] hsauro commented on #509
I get the following. I simplified the model first to (note the rate laws
don't matter):

import tellurium as te

r = te.loada('''

  // Reactions:
  reaction1: Src1 => C; v;
  reaction2: C => sink1; v;
  reaction3: C => sink2; v;
  reaction4: MI => M; v;
  reaction5: M => MI; v;
  reaction6: XI => X; v;
  reaction7: X => XI; v;
  v = 0
''')

If there are empty reactions we have to put in dummy spe

[2018-12-21 08:28] woosubs commented on #509
Yes, they are the same matrix. In my example I just called all unspecified/missing/dummy species 'bdry_rct' or 'bdry_pdt', but if there's better naming scheme we should use it instead.

As was mentioned you only use the reaction part, so you can ignore kinetic laws when creating the extended stoichiometry matrix. However, to create the matrix each reaction should have at least one reactant and one

[2018-12-21 16:24] hsauro commented on #509
Any boundary species won’t appear in the stoichiometry matrix.

[2018-12-21 19:34] woosubs commented on #509
I see. Thank you!

[2019-01-18 00:49] kirichoi opened #522 "Document detailed release instructions"
We need documentation on how to release new versions of RoadRunner, including documentations on:

- [ ] How to build wheels for Windows, Mac, and Linux
- [ ] How to upload wheels to PyPI

[2019-01-29 21:40] #517 closed, assigned to nobody

[2019-01-29 21:41] #479 closed, assigned to nobody

[2019-01-29 21:41] #465 closed, assigned to nobody

[2019-02-07 16:42] matthiaskoenig commented on #247
Hi all,
this is still a major issue with roadrunner. And it is very easy to fix. I just ran again into this.

As a consequence of this issue all models which have volumes smaller than ~1E-12 give incorrect results with Species running against +/- INF. This is every model using realistic cell volumes which are in the range of 1E-15 litre.
Like mentioned above the relative and absolute tolerances MU

[2019-02-07 16:44] matthiaskoenig commented on #247
Attached the model:
[tiny_example_1.xml.zip](https://github.com/sys-bio/roadrunner/files/2841843/tiny_example_1.xml.zip)

[2019-02-07 17:00] hsauro commented on #247
Kit and Kyle, can we address Matthias’ Issue.

[2019-02-07 17:27] 0u812 commented on #247
The state variables for Roadrunner are the amounts, and the tolerance values apply to those quantities. This would change the meaning of the tolerance values and potentially break other simulations. There are also a lot of difficulties for non-constant compartments.

[2019-02-07 17:36] hsauro commented on #247
So what is the solution?

H

On Thu, Feb 7, 2019 at 9:28 AM Kyle Medley <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-02-07 17:53] 0u812 commented on #247
Afaik the way roadrunner handles integration variables is legit per the SBML spec, and Matthias can manually set tolerances as a workaround, so I would suggest keeping the current behavior.

[2019-02-08 08:17] matthiaskoenig commented on #247
The SBML spec does not say anything about tolerances of the integration or
who to handle these in numerical simulation.
@Lucian Smith <lucianoelsmitho@gmail.com> please correct me if I am wrong.
So it is up to the tool developers to find sensible ways of handling
tolerances (which are the most crucial part for reproducibility of
results!).
In my personal opinion most tools handle these tolerances

[2019-02-08 16:32] hsauro commented on #247
If its a reproducibility problem then we should address the issue. What I'd
like to do is host a conference call between myself, Kyle, Kiri, Natalie
and Lucian (Lucian if you can join us, charge the time to the center) so
that I can really understand the issue.

If we can come up with a solution, I can ask either Natalie of Lucian to
try to fix it.

Herbert

On Fri, Feb 8, 2019 at 12:17 AM Matthia

[2019-02-08 18:37] luciansmith commented on #247
I'd be happy to join a call, sure.

I can confirm that tolerances are not mentioned in the SBML spec at all.

In the SBML test suite, the tolerances *of the output* are mentioned specifically (i.e. 'how closely do you have to match the given expected output to be considered to pass the test'), and simulators are welcome to use whatever input tolerances they like to get their output to match.  I be

[2019-02-11 08:41] matthiaskoenig commented on #247
Hi all,

Yes, there are no issues with relative tolerances.

Absolute tolerances are a little weird in general, since it seems to me

Yes vectors are possible and should be done. This is basically my proposal
for roadrunner to handle this issue correctly. Otherwise the absolute
tolerance must be the strictest tolerance for all variables which are
integrated!
https://computation.llnl.gov/sites/defa

[2019-02-11 10:09] matthiaskoenig commented on #247
To emphasize the problem: COPASI and JWS give the correct result with
default settings.
roadrunner is the only of the 3 big SBML simulators giving incorrect
results!
The absolute tolerances on COPASI are even much lower than on roadrunner,
providing a strong hint that the handling of absolute tolerances in
roadrunner is incorrect!
Roadrunner cannot reproduce the simulation results of other simulat

[2019-02-11 17:40] hsauro commented on #247
I'm hiring another person this week who is a C++ programmer and will be
supported by the roadrunner grant. I can get them to work on this.

[2019-02-26 04:31] amberhu-uw opened #523 "Move away from dynamically-sized LLVMModelData"
The fact that the LLVMModelData's size is unknown at compile-time has been a big pain to debug in the past and the source of much confusion. You can see [here](https://github.com/sys-bio/roadrunner/blob/8066a505389705ff3701860d65937a17377d82a5/source/llvm/LLVMModelData.h#L214) that a lot of the data is just represented a zero-width variable `double data[0]`, meaning that when we are debugging it,

[2019-03-12 18:51] amberjhu commented on #520
@hsauro I was thinking about this feature recently, and I was wondering if you could fill me in on some more of the use cases. Will the users pause execution after a certain amount of time has passed, after an event is triggered, etc.?

Could you give me an example of how the code would be called in Python? I think we need to design a specification for how it will work, and then it will be more cl

[2019-03-15 19:13] kirichoi opened #524 "getRatesOfChange should return an array"
getRatesOfChange should return an array instead of a matrix

[2019-03-20 08:38] #524 closed, assigned to kirichoi

[2019-03-20 17:52] hsauro opened #525 "Set default allow_approx and allow_presimulation to false"
The flags, llow_approx and allow_presimulation should be default be set to false otherwise users won't be able to find unstable steady states.

[2019-03-20 20:02] #525 closed, assigned to kirichoi

[2019-03-22 03:10] kirichoi commented on #488
Commit 609a7cc328b0460731d5700a4b3a0605eb8251cf relaxes the restriction. However, we might want the Python frontend to return species x and y as species, not as parameters which will require some modification.

[2019-03-22 03:40] hsauro commented on #488
I can try the new code to see if it works as expected.

Herbert

On Thu, Mar 21, 2019 at 8:11 PM Kiri Choi <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-03-27 23:51] kirichoi opened #526 "Setting time to -1?"
[This line](https://github.com/sys-bio/roadrunner/blob/develop/source/llvm/LLVMExecutableModel.cpp#L248) sets time to -1 when LLVMExecutableModel is constructed. Is there a reason behind this?

[2019-03-28 21:44] kirichoi commented on #488
Following model will behave as expected:

[code]
`var species x, y;` is necessary to let roadrunner know these should be treated as species. I think it makes sense to enforce this kind of extra information because otherwise a rateRule symbol can be for anything.

[2019-03-28 21:44] #488 closed, assigned to 0u812, kirichoi

[2019-03-28 21:51] luciansmith commented on #488
Wait--a rateRule symbol *can* be for anything.  You can have a rate rule for any symbol in SBML with a mathematical meaning: species, parameter, compartment, speciesReference.

I assume this is what you were working on the other day?

[2019-03-28 21:55] kirichoi commented on #488
Sorry if I have confused you but what you stated is correct. Basically what I was saying was that unless you explicitly state something to be species, roadrunner will not treat it as such. And that is reasonable thing to do for the exact reason you stated.

[2019-04-21 22:16] andrewbriand opened #527 "GENERATING_MODEL_HASH in Suite_Core_Tests.cpp fails in debug mode, passes in release mode"
Not sure if this test has ever passed in debug mode, but it does not appear to be part of the SBML specification, so we'll leave it for now.

[2019-04-22 01:20] andrewbriand opened #528 "Segmentation faults in debug mode while running tests"
Found two segmentation faults when running the test suite in debug mode. One occurs in csr_matrix_new in rrSparse.cpp at lines 118 and 119 if nnz is 0, this seems to be fixed by adding a check to ensure the vectors being accessed have size > 0 like so:

[code]

Another segfault occurs when the destructor of LLVMModelDataSymbols is called in core test RELOADING_MODEL_MODEL_RECOMPILATION. The stack

[2019-04-23 04:44] amberjhu commented on #528
With this second segfault, it looks like something in our code caused internal corruption in the MSVC debug iterators over the map. @andrewbriand which map was it again? We figured out it was one of the StringUintMap members

[2019-04-23 04:51] andrewbriand commented on #528
@hu-a I believe it was happening in floatingSpeciesMap

When I commented out the line that loads the values into floatingSpeciesMap, the segfault no longer occured.

[2019-05-03 16:21] andrewbriand opened #529 "Differential equation solver tolerances"
1. Add individual tolerances for every species (a vector of tolerances)
    - Rethink variant types
    - Minimum complexity

2. Covert tolerances from concentration to amount to fix errors with very small volumes

3. Make sure the SWIG wrapper correctly exposes the absolute tolerances
    - Maybe add a helper method to set all the tolerances to the same value

[2019-05-03 17:11] andrewbriand commented on #529
The absolute tolerance is stored in a hash map with string keys and rr::Variant values in Solver, under the key "absolute_tolerance". The copy constructor of rr::Variant uses a template so that the type of the object passed to the hash map can be inferred. I don't know if rr:Variant would work with a std::vector, we might have to modify it to make that happen.

rr::Variant is implemented under the

[2019-05-03 17:12] amberjhu commented on #529
This is a good opportunity to add some much needed documentation. Variant.h has no function comments for any of the private variables, most notably `convert_to` and `assign` really need some documentation.

[2019-05-03 18:15] amberjhu commented on #523
ModelDataIRBuilder.h needs better documentation. For example, what is a GEP? I need to figure out how the ModelData is being constructed and modified by LLVM to figure out how to optimize it.

EDIT: https://llvm.org/docs/GetElementPtr.html

[2019-05-03 18:55] faye-u commented on #529
Currently, the absolute tolerance is set by `CVODEIntegrator::setCVODETolerances()`, which calls `CVodeSStolerances()` in cvode.c to specify single scalar absolute tolerance. Note that there is another function in cvode.c, `CVodeSVtolerances()`, which could specify a vector absolute tolerance and set individual abstols for each vector component. This function will change the tolerance flag `cv_ito

[2019-05-03 19:07] andrewbriand commented on #529
The Poco variant that rr:Variant currently uses does not support std::vectors of arbitrary types by default, but it does support std::vectors of itself (Poco::Dynamic::Var). It sounds like from the Poco documentation that we could extend Poco::Dynamic::VarHolder to add std::vector<double>. The other option would be to only support std::vectors of rr:Variants or of Poco variables.

[2019-05-03 19:31] andrewbriand commented on #529
Actually, though the documentation for Poco::Dynamic::Var says it supports std::vector\<Var\> it doesn't appear to have a overload of the convert method for std::vector\<Var\>, so I think the only option is make a template specialization for VarHolderImpl.

[2019-05-03 20:05] faye-u commented on #529
@hu-a Do we only care about absolute tolerances for CVODE integrator? I saw that roadrunner support different types of integrator, but only CVODE has an absolute tolerance to use in error and convergence test.

[2019-05-03 20:24] hsauro commented on #529
Correct, only CVODE uses absolute tolerances.

On Fri, May 3, 2019 at 1:06 PM Faye Yu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-05-03 20:25] andrewbriand commented on #529
There's a method called extract in Poco::Dynamic::Var that makes it possible to retrieve a vector after it's been stored in the Var, so I used that in rr::Variant and that seems to work.

[2019-05-08 06:50] matthiaskoenig commented on #505
Yes please, I require this for some projects.

[2019-05-08 06:58] matthiaskoenig opened #530 "Updated distrib support in roadrunner"
roadrunner should support latest SBML distrib as of libsbml-5.18.0 (distrib-v0.24)

This is a issue discussed in tellurium, but it is a roadrunner issue so open it here
https://github.com/sys-bio/tellurium/issues/391

I already encode my models with distrib, but lack the simulator to handle such models (only using `uniform`, `normal`, `lognormal` and `poisson` at the moment.

[2019-05-08 20:47] faye-u commented on #529
Now the roadrunner could take double vector as multiple absolute tolerances for every species. After loading the model in #247 and setting the tolerance by

`r.getIntegrator().setValue("absolute_tolerance",[1E-18,1E-18,1E-18,1E-18])`

 it gave the same result as in the case of the same scalar tolerance.

But when we tried to set different absolute tolerances for each species like

`r.getIntegrator

[2019-05-08 22:38] amberjhu commented on #523
I know that spatial locality is important for cache optimization, but I still think we should move to something that can be expressed in the type system because it's very hard to both debug and understand in the first place.

We can mitigate some of the locality issues by allocating a chunk of memory large enough to hold the LLVMModelData and all the things it will point to, so that we can keep hi

[2019-05-09 01:57] amberjhu commented on #528
@andrewbriand Did we ever try running the debug tests, but without RELOADING_MODEL_MODEL_RECOMPILATION? Maybe it's just the core tests that are causing this problem. If so, we could probably ignore it for now and ship the LLVM 6 release.

[2019-05-09 02:36] amberjhu opened #531 "Finish LLVM 6 Migration"
We're mostly set to release the next version (1.5.4) on LLVM 6. There are a few last things to fix

- [ ] Get roadrunner to compile and pass tests on Travis
- [ ] Check for any tests that failed *because* of the migration to LLVM 6
- [ ] Check that there aren't any segfaults in the tests besides #528
- [ ] Check that the Python interface still works correctly
- [ ] Increment the version number in

[2019-05-09 02:45] andrewbriand commented on #528
We haven't tried that yet, I'll try it tomorrow and keep you updated.

[2019-05-09 05:33] #500 closed, assigned to nobody

[2019-05-09 05:34] amberjhu commented on #452
We are preparing to finalize the migration to LLVM 6 with the release of 1.5.4 so I am closing this issue

[2019-05-09 05:34] #452 closed, assigned to amberhu-uw

[2019-05-09 05:38] amberjhu opened #532 "Create script to manage build tools"
CMake helps, but there's a lot of busywork involved in the build process, especially if it has gotten into an unrecoverable state and you need to re-do the build steps. This seems like it could totally be automated, and in fact CMake on Linux does this pretty well with Makefiles, but the Windows target is definitely in need of a script to just take care of running CMake and then trying to build an

[2019-05-09 05:52] amberjhu opened #533 "Add documentation (1.5.4)"
There's a lot of internal documentation that needs to be added. How do we decide where to start?

I had an idea that before every release we could write down which areas of the code we had to dive into and that we felt needed more documentation. This is kind of like "add it when you see it isn't there", but in a more structured form.

So, for 1.5.4 actually most of the documentation would need to

[2019-05-09 05:53] amberjhu opened #534 "Get llvm-6 to build on Linux/Travis"
Right now it is failing with some Poco linkage stuff. It may just be because we're using the wrong debs from libroadrunner-deps. May have to ask Kiri about this.

[2019-05-09 05:58] amberjhu opened #535 "Check that we have up to date SBML test suite"
I'm not really sure if the tests that are run by run_test_suite are up to date.

1. Do we have the most up to date SBML test suite?
2. If not, how can we add the tests to our test suite?

It also looks like we eventually need to update the results of our tests as per #288 but we'll come back to that issue later.

[2019-05-09 06:00] amberjhu opened #536 "Double check that all tests pass on LLVM 6"
I'm not super familiar with the test suite, so even if I see all tests passing, I'm not sure if we're just missing one of the test suites.

1. Figure out what all of the tests that need to be run are
2. Write them down on the wiki
3. Verify that we are passing all of them
4. If we are not passing some of them, make Github issues about them

Note: if there are a bunch of tests that we're not passin

[2019-05-09 06:04] amberjhu opened #537 "Check that the python interface still works for 1.5.4"
Right now, we don't have a list of python tests to run as far as I know. It would be good to get those in the future. Right now, it will probably be sufficient to just send out the pre-release to some of our users and get them to test it.

[2019-05-09 06:04] amberjhu commented on #531
Closing in favor of the 1.5.4 milestone

[2019-05-09 06:04] #531 closed, assigned to nobody

[2019-05-09 13:03] matthiaskoenig commented on #537
Would love to test this.

[2019-05-09 15:52] hsauro commented on #532
I think this is worth looking at. We still need to be able to develop on
visual studio so you' still need to generate solution files.

Herbert

On Wed, May 8, 2019 at 10:39 PM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-05-09 15:56] hsauro commented on #533
To add to this, I have a google summer of code starting next week  He has
asked for any internal docs we have, this would be a good opportunity to
create some. To begin with, a document giving a bird-eye view of the code
would be useful to the google summer of code student. Doesn't have to be
long.

Herber

On Wed, May 8, 2019 at 10:52 PM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sau

[2019-05-09 15:56] amberjhu commented on #532
Yeah, I played around with it a little bit and it looks like you can run CMake, which will generate the solution files, and then you can run MSBuild from the command line to programmatically build targets

[2019-05-09 16:02] amberjhu commented on #533
Great, the LLVM stuff may be quite challenging at the start, so I will probably write this documentation myself, but the bird's eye view documentation is much needed.

[2019-05-09 16:08] amberjhu opened #538 "Improve documentation for ExecutableModel::getValues() and setValues()"
This is one of the main interfaces with the JIT'd code, so it is important

[2019-05-09 17:04] amberjhu opened #539 "High level flowchart documentation"
We are in need of some visualization that will help illustrate which parts of the code are in use at what stages. Basically, I want to know what code is for codegen, integration, command line, etc.

For example, the ModelGenerator is only used pre-codegen, but the ModelData is used in codegen and integration

[2019-05-09 17:23] amberjhu opened #540 "Document Variant"
As we noted in #529, we need some documentation on the Variant type

- [x] `convert_to`
- [x] `assign`

[2019-05-09 17:32] hsauro commented on #539
Diagrams would be great to have. Do you need any software for that or are
you ok?

H

On Thu, May 9, 2019 at 10:06 AM Andrew Hu <notifications@github.com> wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-05-09 17:43] andrewbriand commented on #539
I've started to make some flowcharts with the Google Docs image editor, it seems to be working ok

[2019-05-09 18:30] andrewbriand commented on #528
@hu-a When I ran the debug tests without RELOADING_MODEL_MODEL_RECOMPILATION, the test RELOADING_MODEL_NO_MODEL_RECOMPILATION fails with a (presumably the same?) segfault in the LLVMModelDataSymbols dtor. Repeating this process I found that it also occurs in:
LOADING_MODEL_MULTIPLE_INSTANCES
LOAD_MODEL_FROM_STRING
SET_COMPUTE_AND_ASSIGN_CONSERVATION_LAWS
FREE_RR_INSTANCE in the TEST_MODEL suite
FR

[2019-05-09 20:43] fbergmann commented on #532
remember, that cmake has different generators (I recommend to use Ninja for easy parallel builds). Also you can direct cmake to perform the build of every configured system using just:

`cmake --build . --config Release`

from the build directory. I recommend the VS generator only for debug projects.

cheers
Frank

[2019-05-09 22:08] kirichoi commented on #535
[Test suite version 3.3.0](http://sbml.org/Software/SBML_Test_Suite) is the latest version which I believe is the one we are [using](https://github.com/sys-bio/roadrunner/commit/34a40bd13f5b1cd9c322053df652be50b95459fd#diff-76a6e1a452d2f7a5539ede1008aa74fa).
You might notice that the commit d97c53c09b2773cce45298a2df564547a35fac92 actually commented out tests from test suite version 3.3.0 for now

[2019-05-09 22:13] luciansmith commented on #535
In particular:

https://github.com/sys-bio/roadrunner/issues/379

[2019-05-10 05:23] amberjhu opened #541 "Resolve merge conflict from llvm-6 to develop"
The PR cannot be merged until we resolve this conflict, I imagine it will be very simple in this case

[2019-05-10 05:34] amberjhu opened #542 "Add branch protection to develop"
There is a Github feature that allows you to prevent a PR from merging until it has been reviewed. I would like to add this, which should be simple enough if I get maintainer privileges, which I emailed Dr. Sauro about

[2019-05-10 05:38] amberjhu opened #543 "What to do with master branch?"
Usually develop is kind of like nightly releases and master is the stable branch. Master hasn't been updated in quite a while. Should we just merge develop into master every once in a while? Should we merge develop and then stop using it in favor of the master branch? I feel like it is confusing since it breaks convention.

[2019-05-10 05:41] amberjhu commented on #505
I agree that this should be a priority, has anybody looked into what we need to change to support 3.7?

[2019-05-10 05:59] kirichoi commented on #543
Yeah I would like `master` to be the default branch as well. Tellurium already does this. All commits are made to `develop` branch and we merge it with `master` when we do releases. New releases will target `master` branch because `master` branch will be the default branch.

[2019-05-10 06:35] fbergmann commented on #543
I recommend to use the [gitflow scheme](https://datasift.github.io/gitflow/IntroducingGitFlow.html) (also nicely supported by gitkraken)

[2019-05-10 16:25] amberjhu opened #544 "Rebase the llvm-6 branch"

[2019-05-10 16:27] andrewbriand commented on #529
@matthiaskoenig Are there any tests or code we can run to check that the absolute tolerances vector has been implemented correctly? We ran the example posted in #247 but are not quite sure what the output should be with an absolute tolerance vector instead of a scalar.

[2019-05-10 16:55] amberjhu commented on #542
Added. Now PRs to develop will have to pass Travis checks and be reviewed before they can merge

[2019-05-10 16:55] #542 closed, assigned to amberjhu

[2019-05-10 18:17] amberjhu commented on #544
Okay, so I have completed the initial rebase of develop onto llvm-6 (I think that's how you say it), but there are some commits that Kiri and others made that are incompatible with LLVM 6.0, so I need to fix those.

The best way to do this is to pull the new llvm-6 branch and try to compile on my computer. I will find the lines that cause compiler errors and fix those, then commit the changes and

[2019-05-10 18:17] amberjhu commented on #541
Closed in favor of #544

[2019-05-10 18:17] #541 closed, assigned to amberjhu

[2019-05-10 18:22] amberjhu commented on #522
Has there been any progress on this? I think @andrewbriand and @mengfy0718 will want to have this for the summer.

[2019-05-10 19:02] mengfy0718 commented on #539
Google Docs link:
https://docs.google.com/document/d/11vXGBS3fqP-P8V5HRdDoMYqvUFjDozMshlU9apTCIaY/edit?ts=5cd4528f

[2019-05-10 19:13] amberjhu commented on #539
@mengfy0718 @andrewbriand Can you make it public read access?

[2019-05-10 19:38] andrewbriand commented on #539
@hu-a Try this link https://docs.google.com/document/d/11vXGBS3fqP-P8V5HRdDoMYqvUFjDozMshlU9apTCIaY/edit?usp=sharing

[2019-05-10 19:40] amberjhu commented on #544
So far, the only problems I've found are:

- LibFunc::fmod -> LibFunc_fmod in two files

[2019-05-10 19:55] amberjhu commented on #544
Okay, it compiles fine on my machine, now off to fixing it on Travis

[2019-05-10 19:55] #544 closed, assigned to amberjhu

[2019-05-10 19:57] amberjhu commented on #534
I think that the Poco error messages are because the debs are compiled not with c++11, based on [this](https://github.com/openframeworks/projectGenerator/issues/71).

The solution is either to generate new debs or to build from source on Travis. I think that the latter is better temporary fix since I don't know how to make the debs. I will need some help form @kirichoi or @0u812

[2019-05-11 16:23] amberjhu opened #545 "Gradually uncomment tests"
I just remembered from commit d97c53c09b27 that most of the newer tests and more importantly tests that are causing problems are commented out. We should probably just start picking tests to fix. I know there's a list of all the SBML suite tests we're not passing somewhere around here that @kirichoi made

[2019-05-11 16:25] amberjhu commented on #533
I'm doing a review on the PR, so that will be where I list all the things that need to be documented.

[2019-05-11 16:49] amberjhu commented on #536
I checked the [history of the Suite_SBML_Tests.cpp](https://github.com/sys-bio/roadrunner/commits/llvm-6/wrappers/C/Testing/Suite_SBML_Tests.cpp) in llvm-6 and it looks like I never changed any of the tests, so if all the tests pass, then I think it's good

[2019-05-11 16:50] amberjhu opened #546 "How to debug tests?"
The testing framework outputs `run_test_suite`, but if you want to run it in debug mode, I have no idea how to do that.

[2019-05-11 16:55] amberjhu commented on #546
Okay, wait I just figured it out, I feel stupid. I literally just had to set the default project in visual studio to `run_test_suite` and then click debug. Also, you have to add the appropriate command line arguments to the argument section in the debugging properties section. I will add this to the wiki

[2019-05-11 16:55] #546 closed, assigned to nobody

[2019-05-11 17:06] amberjhu opened #547 "Fix testing framework so that test output is written to output file after every test"
There may be a command line argument or something to fix this, but right now if you write output to a file with the argument `-o tests.out` it will only be written to at the *end* of the tests, meaning that if there is a segfault that causes the program to crash midway, the only way to check the output of the tests is to look at which test outputs were written to recently

[2019-05-11 18:35] luciansmith commented on #545
https://github.com/sys-bio/roadrunner/issues/379

[2019-05-11 19:06] amberjhu commented on #532
Thanks @fbergmann I didn't know that. I also figured out that to run Ninja with the MSVC toolchain you have to run cmake inside of the VS developer command prompt so that it knows where the latest cl and mc is.

[2019-05-11 19:56] amberjhu opened #548 "Link error building libroadrunner-deps on MSVC _xmlGetPredefinedEntity"
I've seen this issue happen a couple times where linking fails

[code]

I know we fixed it before, but I don't remember how. @mengfy0718 @andrewbriand Didn't we run into this error when building dependencies on your machines for the first time?

[2019-05-11 20:09] fbergmann commented on #548
the key bit of information is:

[code]

basically you are trying to link a 64bit library against a 32bit library, and that won't work. You probably would only be sure to have the correct command line tools selected.  (`vcvarsall amd64`)

best
Frank

[2019-05-11 20:43] amberjhu commented on #548
Thanks @fbergmann you're totally right. I added that information to the wiki

[2019-05-11 20:43] #548 closed, assigned to nobody

[2019-05-13 01:01] amberjhu commented on #532
@fbergmann I submitted a pull request (#549) with the first version of this script. Can you try this out on your environment and review it?

[2019-05-13 01:01] #532 closed, assigned to nobody

[2019-05-13 16:01] amberjhu commented on #547
Right now, roadrunner is using [UnitTest++](https://github.com/unittest-cpp/unittest-cpp), but it looks like we wrote our own main to wrap the tests. We can either dive into the documentation to figure out how to make this framework more verbose, or we could add a new testing framework like gtest or catch

[2019-05-13 16:01] amberjhu commented on #547
@kirichoi @0u812 Do you know how we could get output about which tests are passing printed to the console, so that we can see roughly where a segfault occurs?

[2019-05-13 16:37] faye-u commented on #523
@andrewhu-uw Andrew, should I add a new branch for this issue?

[2019-05-13 17:29] 0u812 commented on #547
There are a few different testing schemes if I recall: built-in unit tests, Python tests (that have to be run via Python) and the SBML Test Suite. This sounds like the first category, correct? Can you post the command used to run the tests?

[2019-05-14 04:31] amberjhu commented on #523
@mengfy0718 Yeah, let's make a branch off of `llvm-6`

[2019-05-14 04:34] amberjhu commented on #528
We need to make sure that there aren't any segfaults in the tests in release mode. I tried compiling in release mode off of llvm-6 and I got a segfault.

@andrewbriand When you get a chance can you try running the test suite in release mode and see if they pass? I want to see if your environment works since I did rebase the llvm-6 branch and maybe that screwed something up?

[2019-05-14 04:35] amberjhu commented on #547
I used this one that I put on the wiki Tests page:

[code]

So, I guess it's the SBML Test Suite

[2019-05-14 04:41] andrewbriand commented on #528
@hu-a I ran the tests a few days ago in release mode, and all of them passed except GENERATING_MODEL_HASH. Here was the output: https://gist.github.com/andrewbriand/8698b4a55155c71920626f937a271fcb.

I'm not sure what branch I was on when I ran them but I can check and run them again tomorrow.

EDIT: Come to think of it, it's possible that I forgot to remove the temporary fix in LLVMModelDataSymbo

[2019-05-14 04:42] amberjhu commented on #539
@mengfy0718 @andrewbriand This is really good!

[2019-05-14 04:48] amberjhu commented on #540
Added by @andrewbriand in commit d4c261067342c088d591ed99ccafdfd68b10e4df

[2019-05-14 04:48] #540 closed, assigned to andrewbriand

[2019-05-14 16:43] andrewbriand commented on #528
I ran the tests up to date with llvm-6 in release mode today and all of them passed except GENERATING_MODEL_HASH: https://gist.github.com/andrewbriand/e69967ad49b03dfb76db0f9aea24a1c1

[2019-05-14 16:50] andrewbriand opened #550 "Add the ability to save the state of a simulation and return to it later"
One of the features we want to implement this summer is the ability to save the state of a simulation and return to it later, as if nothing had happened.

I'm thinking that saving the objects associated with RoadRunner with pickle might work, but I'm not sure how pickle would interact with rr::Variant and C++ types in general, so I'll look into that.

[2019-05-14 17:00] hsauro commented on #550
Is pickle a python feature? If it is we can’t use it. Saving state should
handled by the c++ code because this summer I have a student that will also
port roadrunner to Julia. Also some people drive roadrunner from their own
c/c++ and they’ll need the same functionality.

Herbert

[2019-05-14 18:01] andrewbriand commented on #550
Yes, pickle is a python feature so then we'll have to go with some other format.

It seems that the relevant data for the simulation is stored in rr::RoadRunnerImpl, so if I could create a function there that dumps and loads the model and state data in a format like JSON, I could create a constructor in rr::RoadRunner to rebuild a RoadRunner object and a method to save it to a file or a string.

T

[2019-05-14 18:21] andrewbriand commented on #550
In order to support the editing and creation of models later, the save data should probably include the model's rules, initial conditions, etc. as well as the dynamic state of the simulation.

[2019-05-14 18:40] hsauro commented on #550
Yes it will have to include everything that is necessary. Make sure loading
of a snap shot is fast.

H

[2019-05-14 22:25] matthiaskoenig commented on #550
Please on C/C++ level. Pickle is very inefficient, only working on python,
can only handle simple data structures (will have lots of issues with C++
bindings and objects behind this bindings), and does not even work between
python versions.
I.e. things pickled with python 3.5 will most likely not work with
python3.6.
- Also have in mind if you want compatibility between roadrunner versions.
I.e. s

[2019-05-14 23:10] hsauro commented on #550
I mentioned to Andrew not to use pickle but it has to be built in to
Roadrunner.

Herbert

[2019-05-15 01:17] kirichoi opened #551 "Update libRoadRunner to support libSBML version 5.18.0"
libSBML version 5.18.0 was released few weeks ago ([Link to the announcement](https://groups.google.com/forum/#!topic/libsbml-development/9UKjWDSTwMw)).
libRoadRunner-deps needs to be updated accordingly.

[2019-05-16 17:19] faye-u commented on #523
@andrewhu-uw Andrew, I am still a little bit confused about what we are trying to do here.

I understand currently that ten data arrays are stored continuously and represented by a zero-sized array in LLVMModelData. When LLVLModelGenerator calls createModelData(), it will first get and store the size of each data array and then allocate new memory for LLVMModelData struct and also ten dynamically-

[2019-05-16 17:52] amberjhu commented on #523
@mengfy0718 Oh shoot, you're totally right! I missed the `*Alias` pointers when I read the .h file myself. Could you add something to the class documentation in `LLVMModelData.h` that explains what the alias is, that would be very helpful. It kind of freaked me out when I saw the `data[0]` and thought I would have to calculate the offset by hand when debugging.

[2019-05-16 18:16] faye-u commented on #523
@andrewhu-uw Sure! I will add the documentation. So we are good with the dynamic size?

[2019-05-16 22:51] amberjhu commented on #523
@mengfy0718 Yes, I think as long as we have those pointers there, so we don't have to do any arithmetic, we're fine. You can close the issue once the documentation has been added.

[2019-05-17 03:52] #523 closed, assigned to mengfy0718

[2019-05-18 01:49] #496 closed, assigned to nobody

[2019-05-18 20:54] kirichoi opened #552 "Latest SWIG might break Python wrappers"
SWIG 4.0.0 which was release few weeks ago might break Python wrappers.

[2019-05-26 01:22] amberjhu opened #553 "Implement C++ ExecutableModel"
This would be a relatively low priority task, but would get more important as we think about the future of roadrunner. As far as I know, we have never implemented a C++ ExecutableModel, we've just always used the LLVMExecutableModel. I have some doubts about the efficiency of the LLVMExecutableModel, so I thought it wouldn't be that hard to write up an implementation of the ExectuableModel interfa

[2019-06-04 19:32] mengfy0718 commented on #534
https://github.com/klee/klee/issues/336#issue-132380305

[2019-06-04 19:35] faye-u commented on #534
We tried to change the ABI flag based on https://github.com/klee/klee/issues/336#issue-132380305.
It seemed to resolve the Poco Issues, but we got new errors popped up. Few undefined references occurred.

[2019-06-18 19:18] 0u812 commented on #534
We could switch the dist in .travis.yml to Xenial and I could build the .debs for that with c++11 enabled. I'll try to use gcc-4.8 if I can.

[2019-06-18 19:48] faye-u commented on #529
Currently, I am working on the conversion of absolute tolerances between concentration and amount. As @matthiaskoenig suggested in #247, since Roadrunner uses the amounts as state variables no matter the input is concentration or amount, he hopes to set tolerances relative to some concentration instead of manually multiplying the volume when setting tolerances.

@luciansmith suggested one solution

[2019-06-18 20:21] andrewbriand commented on #534
I attempted to build the .debs with dpkg-buildpackage, with -std=c++11 added to the cmake c++ flags, on an Ubuntu subsystem with gcc 7.3.0. The packages seemed to build correctly but when I used them on Travis, I got the same errors as before with the original .debs. I will try again with gcc-4.8.

[2019-06-20 22:38] andrewbriand commented on #534
I recompiled the .debs with gcc5.5 and the C++11 ABI enabled this time, and reenabled the ABI flag on travis, and the build now passes.

[2019-06-21 16:25] amberjhu commented on #534
That's great! Can you merge the changes that fixed Travis back into `develop` and then rebase `llvm-6` so that it can build on Travis

[2019-06-21 17:07] andrewbriand commented on #550
@hsauro @matthiaskoenig How do we want the interface for state saving to work? One way would be to pass roadrunner a number of steps or a certain duration to run the simulation for before pausing and then allow the user to save to a file afterwords.

[2019-06-21 17:32] hsauro commented on #550
I was thinking, a user would simulate from 0 to 10 time units, then could
opt to save the state at that point.  eg

m = r.simulate (0, 10, 100)
r.saveState (filename)

do other stuff

r.loadState (fileName)
m = r.simulate (10, 50, 100)

On Fri, Jun 21, 2019 at 10:09 AM Andrew Briand <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
20

[2019-06-21 17:33] andrewbriand commented on #534
I merged `issue-534` on to `llvm-6` and `llvm-6` now passes on Travis.

[2019-06-21 17:33] #534 closed, assigned to nobody

[2019-06-21 17:40] luciansmith commented on #550
ISTR that there's some function in roadrunner already that will save the model state itself as SBML.  That seems like the best way to save that part of the information.  The other information that would need to be saved is all the settings that the user set in roadrunner itself (tolerances, etc.), as well as the current value of the 'time' variable.  Then you'd bundle up all of that into a single

[2019-06-21 17:52] hsauro commented on #550
You could do it by saving and loading the sbml plus other info but the
loading of SBML is slow and we want to make loading and saving states fast.

Herbert

On Fri, Jun 21, 2019 at 10:40 AM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-06-23 19:57] matthiaskoenig commented on #550
Yes, this should be fast and simple syntax as Herbert proposed, i.e.,
[code]
HDF5 could be a good option which has very fast IO, supports hierarchical data, storing of arrays/matrices, and things like hashmaps (settings and integrator settings maps).
You could just store all the internal arrays to HDF5 in addition with the settings maps. This should scale very well to very large models, because yo

[2019-06-23 21:01] matthiaskoenig commented on #529
@andrewbriand sorry for the slow response.

The issue was originally started here:
https://github.com/sys-bio/roadrunner/issues/247
I posted 2 test models in the thread which show the issue of concentration based tolerances vs. amount based tolerances.

As long as I can set
- concentration based tolerances for all species (the vector of tolerances is calculated based on concentrations)
- amount ba

[2019-06-27 21:02] andrewbriand commented on #550
I've finished implementing a way to save a roadrunner instance to a binary file and reload it (to avoid the overhead of parsing an sbml file). Currently there is no way to pause a simulation part way through though, @matthiaskoenig @hsauro if this is a feature we want it wouldn't be too hard to implement.

[2019-07-01 19:11] faye-u commented on #529
I am done implementing these three new APIs. @matthiaskoenig Would you like to test on them and see what we need to change?

[2019-07-02 07:22] matthiaskoenig commented on #529
@mengfy0718
I am only working with python so I would need a python version (I build the c++ with python bindings some time ago so have to give it a try and see if this is working within a virtualenv).

I assume I have to build with the `absolute-tolerances` branch? I see this is a pull request against the `llvm6` branch (I only build with the old llvm so far, so are there some up to date instructi

[2019-07-02 15:41] hsauro commented on #529
Could we provide Matthias with binaries if that is easier?

[2019-07-02 22:23] faye-u commented on #529
@matthiaskoenig Yes! `llvm6` branch passed all tests on both localhost and Travis. I think it could also compatible with an old version of llvm.

Another easier way to test it is to install the stable version of Tellurium 3.6, replace the older roadrunner libraries and then run the model in Tellurium. That's how we test Python bindings for now. As @hsauro suggested, I could send you a copy of upda

[2019-07-11 19:07] faye-u commented on #520
@hsauro What parameters do you think are necessary when adding a new species or reaction?
For now, we have
`RoadRunner::addSpecies(std::string name, std::string id, std::string compartment, double initAmount, std::string substanceUnits)`

`RoadRunner::addReaction(const string& name, const string& rid, bool reversible, vector<string> reactants, vector<string> products, vector<string> modifiers, con

[2019-07-11 22:20] faye-u commented on #520
Revised version.
`RoadRunner::addSpecies(std::string sid, std::string compartment, double initialValue, std::string substanceUnits ="concentration")`

`RoadRunner::addReaction(const string& rid, vector<string> reactants, vector<string> products, const string& kineticLaw)`

Correct me if I missed anything. Thank you!

[2019-07-24 13:57] Karrenbelt commented on #100
I would really like to have this feature. Is there yet something that allows one to access the local parameters through python? I noticed that roadrunner simulates just fine with local parameters in the SBML document (they are not ignored), but I would also like to be able to set and retrieve their values from a roadrunner instance.

[2019-07-24 15:05] matthiaskoenig commented on #100
If you send the SBML file with the local parameters I can post the 3 lines to promote the local parameters to global parameters and how to access/changes them subsequently.

Just can't find an example xml with local parameters to test the example.

[2019-07-24 15:12] Karrenbelt commented on #100
I know that is possible; it is the current workaround.

The thing is though that I have reaction specific parameters, which I would like to strip when I change rate-laws, but also global parameters that I do not wish to strip from the model when I change rate laws. Having local parameters thus seems to make sense in order to achieve this, and as stated roadrunner will interpret them properly durin

[2019-07-24 15:24] matthiaskoenig commented on #100
Personally, I just use some simple naming syntax which allows me to filter the parameters belonging to a reaction.
All my reactions are uppercase ids, e.g. `HK1`, `PFK1` with the corresponding parameters having the reaction prefix `HK1_Km_atp`, `HK1_Km_glc`, `HK1_Vmax`,  `PFK1_Km_atp`, `PFK1_Vmax`.
This allows then to very easily filter subsets, e.g. parameters for a reaction.
For instance get all

[2019-07-24 15:43] Karrenbelt commented on #100
well perhaps, but they have been introduced in L3V2.

And if they're part of a kinetic rate law they will affect roadrunner simulation results, but you cannot access them through the roadrunner instance in python. That is suboptimal, particularly since local parameters shadow global ones as you've stated, but you don't have access to them.

Anyway, there are ample workarounds, regardless of that,

[2019-07-24 15:56] hsauro commented on #100
The real problem is (from my point of view) is that it would probably cost
around 5K dollars to implement (in terms of programmer time) and the
question is whether the change is worth that amount of resources or are
their simpler workarounds that costs very little?

Herbert Sauro

On Wed, Jul 24, 2019 at 8:44 AM Zarathustra <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
U

[2019-07-24 15:58] Karrenbelt commented on #100
alright, the alternative would be to raise a warning when loading any model containing local parameters, with the suggestion to promote local parameters to global ones.

[2019-07-24 16:04] hsauro commented on #100
That would work and be simple to implement. If there were a lot of demand
for access to local parameter it would probably be implemented but you're
the only person so far who has requested it.

Herbert

On Wed, Jul 24, 2019 at 9:00 AM Zarathustra <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw

[2019-07-25 23:22] #430 closed, assigned to kirichoi

[2019-07-26 15:00] matthiaskoenig opened #562 "conservedMoietyAnalysis overwrites model changes"
When setting the conservedMoietyAnalysis all model changes are lost. This is probably because the analysis and reduction is based on the initially loaded SBML not on the currentSBML.

The moiety analysis should be done based on the current state of the model not based on the initial state.
[code]
Returns
[code]
Expected output
[code]

[2019-07-26 15:48] hsauro commented on #562
I did a quick test using the model below and I think you are right, it's
rebuilding the model from the original SBML rather than the current model.
Will talk to Andrew and Faye this morning, could be a simple fix.

import roadrunner
import tellurium as te

r = te.loada ('''
    S1 -> S2; J4_KK5*S1;
    S2 -> S3; k2*S2;

    S1 = 2; S2 = 4; S4 = 6
    J4_KK5 = 0.123; k2 = 0.67
''')

print (r.J4_KK5

[2019-07-26 17:50] andrewbriand commented on #562
This seems to be fixed on `model-editing` by changing line 1370 of rrRoadRunner.cpp from
[code]
to
[code]

[2019-07-26 18:24] hsauro commented on #562
That would make sense.

H

On Fri, Jul 26, 2019 at 10:51 AM Andrew Briand <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-07-26 21:11] kirichoi commented on #562
Currently `setConservedMoietyAnalysis` uses `load(impl->mCurrentSBML);` which sounds right but actually incorrect. `mCurrentSBML` is the original sbml and the name is misleading.
This bug has been lurking for 3+ years so nice find!

[2019-07-29 06:33] matthiaskoenig commented on #562
Thanks for looking into this. It should be a simple change from using `getSBML()` to `getCurrentSBML()`

[2019-08-01 00:56] kirichoi opened #564 "Call for validation of Random implementation"
Originally discussed in https://github.com/sys-bio/tellurium/issues/391#issuecomment-516214611, I would like to call for a validation of how Random object is implemented in libRoadRunner.

Few areas of concern:

1) Throughout the source, a `LLVMModelData` object and a `llvm::Value` object are all initialized under the name of `modelData`.  Only `llvm::Value` object with `modelData` name gets passe

[2019-08-01 03:08] luciansmith commented on #564
What's the X axis?  I'm not sure what I'm looking at.

[2019-08-01 03:16] kirichoi commented on #564
The plots are histograms (or approximation of probability density functions). For uniform distribution, you want a square, for normal distribution, a Gaussian function, etc. I am seeing a weird trend where sampled distribution does not approximate to probability density functions.

[2019-08-01 04:41] luciansmith commented on #564
So, it's supposed to be a uniform distribution, but looks like a normal instead.  That is indeed a problem!

I guess the issue with the Random object is that this is how to get a seed to persist?

If it helps, many years ago, when I was developing a stochastic test for SBML, Frank implemented something in roadrunner to let it take a seed and use that.  However, it ended up failing my tests, becaus

[2019-09-09 22:03] hsauro opened #566 "The following event model crashes libroadrunner"
The following show model crashes libroadrunner:

import tellurium as te
import roadrunner

r = te.loada("""
      S2 -> S3; k2*S2;

      k1 = 0.2; k2 = 0.56;
      S2 = 10;

      at time > 2 after (S2>2): k1=3, k2=2;
""")

m = r.simulate (0, 10, 100)
r.plot()

  File "C:\Tellurium-Winpython-3.6\python-3.6.6.amd64\lib\site-packages\roadrunner\roadrunner.py", line 2442, in __init__
    this = _roa

[2019-09-09 22:14] luciansmith commented on #566
The problem is that the delay is a Boolean, instead of a numeric value.  This is invalid SBML L3v1, but is actually valid SBML L3v2, and should produce a delay of 0 (if false) or 1 (if true).

It shouldn't crash, though, whether it's valid or invalid.

Attaching a couple simplified models that demonstrate the problem.

[boolean_delay.l3v2.xml.txt](https://github.com/sys-bio/roadrunner/files/359292

[2019-09-09 22:50] hsauro commented on #566
I think I understand now

[2019-09-10 17:36] andrewbriand commented on #566
I've fixed this issue on `llvm-6` by automatically converting the result of the delay expression to a double. I also added a few tests based on Lucian's example models.

Tangentially, I noticed that if a model has a parameter that lacks an assignment rule, an initial assignment rule and a value, roadrunner will both throw an exception before the parameter is set and log a warning claiming that the

[2019-09-10 17:40] hsauro commented on #566
The is probably desired behavior because its meant to stop people from
building models where they have accidently forgotten to initialise a
parameter value. So long as libroadrunner doesn't actually crash I think
its ok.

H

[2019-09-10 19:26] luciansmith commented on #566
Throwing an exception *and* logging a warning seems a little weird to me?  If you're going to throw an exception, I would have expected a logged error (instead of a warning), assuming 'throwing an exception' means 'don't actually proceed'.

[2019-09-10 20:00] hsauro commented on #566
No one looks at the logging report and uninitialized parameters (eg due to
misspelling) have been the most common errors I've encountered at
workshops. It save a lot of unneccesaary debugging if the error is reported
as an exception.

Herbert

On Tue, Sep 10, 2019 at 12:27 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Associate Professor
University of Washington, Bioengineer

[2019-09-10 20:05] luciansmith commented on #566
Yeah, I agree that throwing an exception is the right way to go.  In that case, we probably no longer need the warning about default values, since we no longer use default values.  However, it also probably does no harm to leave it there, if there are more important things to work on.

[2019-09-12 21:59] luciansmith opened #567 "Can't find names of columns from 'simulate' output"
Roadrunner's output from simulate gives you a numpy ndarray (a 'named array').  In theory, the way to get a list of the names of that array is with 'results.dtype.names' (cf https://stackoverflow.com/questions/7561017/get-the-column-names-of-a-python-numpy-ndarray).

However, in my hands, 'results.dtype.names' is 'None':

    rr = roadrunner.RoadRunner("BIOMD0000000021.xml") #or any file, really.

[2019-09-12 22:38] hsauro commented on #567
Not sure, if you type result you should see the names, they must be stored
somewhere else.

[2019-09-12 23:16] luciansmith opened #568 "Can't find what optional arguments to 'simulate' are"
From the docs at:

https://sys-bio.github.io/roadrunner/python_docs/api_reference.html?highlight=simulate#RoadRunner.RoadRunner.simulate

it says that there are optional arguments to simulate, but only lists one of them ('steps').  Are the rest listed somewhere?  If so, can there be a link from the docs?

In related news, is there a way to call simulate with start, end, and list of selections *onl

[2019-09-12 23:49] luciansmith commented on #568
Found them:  the options are listed at

https://sys-bio.github.io/roadrunner/python_docs/using_roadrunner.html

so I can indeed use the 'selections' keyword.  Having this list in the 'more detailed' simulate docs would be nice.

[2019-09-13 03:31] hsauro commented on #568
The docs need some care and attention, but it’s something no one ever likes
to do.

I can’t do the docs musky because I’ve no idea how it works.

Not sure how to arrange the docs between tellurium and libroadrunner.

[2019-09-13 06:19] fbergmann commented on #567
I think you want `results.colnames`

[2019-09-13 06:36] matthiaskoenig commented on #567
Yes, it is `results.colnames`.
Normally, I directly convert my results to pandas DataFrames, than you can access information via dot syntax.

[code]
Than you can directly work with the results via `results.S1`, `results.time` and so on.

[2019-09-13 15:07] hsauro commented on #567
That’s a useful tip.

[2019-09-13 17:05] luciansmith commented on #568
I could probably update the docs some myself, though I too don't know where to do so.  It does seem like it'd be nice to only have one place to update all the docs so they didn't have to be updated in several places when things change.

In the meantime, I'll file issues as I find them so when someone does fix them, they'll have a record.

[2019-09-13 17:48] hsauro commented on #568
I've asked Kyle to tell where and how to do it.

[2019-10-07 23:45] luciansmith opened #570 "Docs: 'gillespie' no longer exists"
Gillespie simulations are now performed by changing the integrator and just running 'simulate'.  The docs still say you do it by calling roadrunner.gillespie().

[2019-10-07 23:57] luciansmith commented on #570
<s>Same thing seems to be true of 'oneStep'.</s>
EDIT:  oneStep actually works fine.

[2019-10-08 00:13] hsauro commented on #570
You can use r.gillespie to run the stochastic simulator. The only reason to
change the 'integrator' is if you want finer control over the Gillespie
method, eg to set the seed.

eg

import tellurium as te

r = te.loada("""
    A -> ; k1*A;
    A = 30; k1 = 0.1
""")

m = r.gillespie (0, 50)
r.plot()

Herbert

On Mon, Oct 7, 2019 at 4:57 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert S

[2019-10-08 00:22] luciansmith commented on #570
I get an error if I try to run r.gillespie() or r.oneStep().

If I try:

import roadrunner
rr = roadrunner.RoadRunner("models/BorisEJB.xml")
rr.simulate(0,10)
rr.gillespie(0,10)

the 'simulate' line works; the 'gillespie' line does not.

(However, I was wrong about 'oneStep'--that seems to work fine.)

[2019-10-08 00:32] hsauro commented on #570
What version are you running?

Type the.getV....

[2019-10-08 00:36] hsauro commented on #570
I'm running:

te.getVersionInfo()
Out[19]:
[('tellurium', '2.1.5'),
 ('roadrunner', '1.5.3'),
 ('antimony', '2.9.4'),
 ('libsbml', '5.15.0'),
 ('libsedml', '0.4.3'),
 ('phrasedml', '1.0.9'),
 ('pySBOL', '2.3.0')]

On Mon, Oct 7, 2019 at 5:31 PM Herbert M Sauro <hsauro@uw.edu> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Bo

[2019-10-08 05:19] luciansmith commented on #570
This is roadrunner 1.5.4.

-Lucian

On Mon, Oct 7, 2019 at 5:36 PM Herbert Sauro <notifications@github.com>
wrote:

[2019-10-08 15:44] hsauro commented on #570
Maybe that's why you don't have Gillespie. I think either Kiri of Kyle may
have taken it out and I asked them to put it back in.

H

On Mon, Oct 7, 2019 at 10:20 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-10-09 05:27] kirichoi commented on #570
Gillespie is actually handled by tellurium so if you don't import tellurium `r.gillespie` won't work. It has been that way as far as I can remember. We might want to move the function to roadrunner.

[2019-10-22 10:30] CiaranWelsh opened #571 "Steady state analysis not working correctly"
Hi,

I have hit a snag using `steadyState`. The following code sucessfully approximates a steady state solution, but spouts a bunch of warnings regarding conserved moieties.

[code]

And the warnings:

[code]

The approximation does not work on my more complicated model however.

When I set `conservedMoietyAnalysis=True`
[code]

I get the following

[code]

With no steady state solution. I have tr

[2019-10-22 13:17] matthiaskoenig commented on #567
Closing this. See answer in discussion thread.

[2019-10-22 13:17] #567 closed, assigned to nobody

[2019-10-22 13:29] matthiaskoenig commented on #469
Hi all,

would it be possible to provide a `copy` or `clone` method on the roadrunner instance.
I need this to make fast copies of roadrunner instances in the context of parallel simulations and for use cases of model manipulation where I want to keep a handle to the current model, while being able to modify a copy of it.

Best Matthias

[2019-10-22 16:04] hsauro commented on #469
I wonder is you could save the state, create a new instance then load the
save state?

Do you have the new version of libroadrunner that supports saving of states?

Herbert

On Tue, Oct 22, 2019 at 6:31 AM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachi

[2019-10-22 16:07] hsauro commented on #571
Let me this model and I’ll get back to you.

Herbert

On Tue, Oct 22, 2019 at 3:30 AM Ciaran Welsh <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-10-22 16:24] hsauro commented on #571
If I run the first model, I don't get any warning just the output:

{'A': 83.70221686982676, 'B': 9.14889156509283, 'C': 9.14889156509283}

I'm running:

[('tellurium', '2.1.5'),
 ('roadrunner', '1.5.3'),
 ('antimony', '2.9.4'),
 ('libsbml', '5.15.0'),
 ('libsedml', '0.4.3'),
 ('phrasedml', '1.0.9'),
 ('pySBOL', '2.3.0')]

My steady-state settings are:

print (r.steadyStateSolver)
< roadrunner.Ste

[2019-10-22 17:54] matthiaskoenig commented on #469
Yes, being able to copy the state would already help a lot. The loading should be pretty fast because the model is cached by roadrunner.

Currently, I have to copy the whole state manually in python by doing something along the line of the following

[code]
Is there a roadrunner version in which I can already copy the state via the python bindings?

[2019-10-22 18:00] hsauro commented on #469
You shouldn't have to do that, you should be able to save the state and
reload it into a new roadrunner instance. I don't see the API listed in the
online docs yet although the docs have been done.

Andrew, I assume you're waiting to release 3.7 before you update the docs
with the new APIs?

Herbert

On Tue, Oct 22, 2019 at 10:54 AM Matthias König <notifications@github.com>
wrote:

--
Herbert Saur

[2019-10-23 09:34] CiaranWelsh commented on #571
Hi Herbert,

I'm not sure which dependency was causing the problem but after creating a fresh conda environment the issue was resolved.

Thanks for the help,

Ciaran

[2019-10-28 10:48] matthiaskoenig opened #572 "Bug in getCurrentSBML(), initialConcentrations incorrect"
Hi all,
I have some major problems with getCurrentSBML(). It seems like for more complex model incorrect initialConcentrations are written in the SBML. See a detailed bug example attached.

I am only loading a model in roadrunner and then getting the current SBML. When comparing the initialConcentrations these are different!

Basically for the attached example for instance the glucose concentratio

[2019-10-28 10:52] matthiaskoenig commented on #469
@hsauro Is there some example code for creating a second roadrunner instance from an existing one via the state. I currently have no way to do this in roadrunner. My existing solution via `getCurrentSBML` is not working due to #572.
It cannot be that there is no solution to get a second roadrunner instance with the same state like a first one.

[2019-11-14 23:24] #571 closed, assigned to nobody

[2019-11-14 23:24] hsauro commented on #571
Resolvoed by user

[2019-11-14 23:32] hsauro opened #573 "Two bugs when running five biomodels"
The entire biomodels curated branch was run through libroadrunner and the following models failed: 446, 620, 621, 789 and 791. Only two types of errors are reported: function corruption and ASTNODE is NULL.

The models are included as attachments with this issue (note: change the extensions to xml)

446: On loading: Corrupt function
620: On loading: Corrupt function
621: On loading: Corrupt functi

[2019-11-15 00:28] luciansmith commented on #573
I don't know if this test involved running the models through Antimony, but if so, that's the problem: in the first model, there's a function called "Gamma" which interferes with Antimony's built-in 'gamma' distribution function.  I will add this to my own bug-fix list.

It may be that roadrunner has its own problems with a 'Gamma' function, but that's where I'd start investigating, at least.

[2019-11-15 01:08] hsauro commented on #573
I assume they were run directly from the xml. Veronica is that right, you
ran the tests on the xml files, you didn't convert them first to antimony?

Herbert

On Thu, Nov 14, 2019 at 4:29 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-11-15 05:44] hsauro commented on #573
The exact code I ran before the simulation, where ‘filename’ is simply an SBML file in my working directory :

r = te.loadSBMLModel(filename)
result = r.simulate(0, 10, 100)

Warmly,
Veronica
--

[2019-11-16 00:28] Lukez-pi opened #574 "clearModel() doesn't seem to clear the past history"
Calling the 'clearModel()' function doesn't seem to completely erase the memory of the past model. In the Python example below, despite calling 'clearModel()' and also the 'isModelLoaded()' method returning 'False', the parameter 'S1' is still accessible.

Code Snippet in Python:
![image](https://user-images.githubusercontent.com/28907452/68984388-a7e4de00-07c4-11ea-821e-9862f30c4831.png)

Reprodu

[2019-11-16 00:36] Lukez-pi opened #575 "Can't access the addSpecies, addCompartment methods from the C-API through Julia unless loading in a dummy SBML first"
While creating bindings for Julia to the C API we encountered this bug. This was simply creating a roadrunner instance and adding a compartment.

Doing the following would result in an error:

![image](https://user-images.githubusercontent.com/28907452/68984543-859f9000-07c5-11ea-99ed-a873e1e025bd.png)
![image](https://user-images.githubusercontent.com/28907452/68984551-8fc18e80-07c5-11ea-948f-745

[2019-11-18 18:36] Lukez-pi opened #576 "Calling the 'addCompartmentNoRegen' method in the C-API results in Access Violation"
Calling the C-API method 'addCompartmentNoRegen' from C after initializing roadrunner causes an exception, see the code snippet below:

Further information, if a stub of an XML model is first loaded the bug doesn't occur. This seems to indicate that there is some initialization that is not taking a place with an empty roadrunner instance.

![image](https://user-images.githubusercontent.com/2890745

[2019-11-22 18:33] hsauro opened #577 "The gillespie routines seems to limit output to 20,000 data points"
The Gillespie routine seems to limit the output to 20,000 points. If it exceeds that it issues an error.

Error message (There is also a typo in the error message !):

"Simulation returned more points than max output rows specified. Try incresing the number of maximum output rows or minimum step size."

import tellurium as te
import matplotlib.pyplot as plt

r = te.loada ('''
    $src -> So;    k1

[2019-11-22 18:37] hsauro opened #578 "Gillespie docs are out of sync with actual functionality"
The Gillespie docs might need to be reworked because it appears to be out of sync with the actual functionality. eg the docs claim that the gillepsie method will take a seed argument but adding a seed argument issues an error that seed not found.

The functionality should match the docs, in this case not the other way round.

[2019-12-05 00:07] opurcell opened #579 "Error when trying to set initial conditions"
Hi, I am loading an SBML model (attached) I have built using pySB. When trying to change the initial conditions using the syntax:

import roadrunner
model = roadrunner.RoadRunner("[path to model]
model['init(__s0)'] = 5

I get the error:

Traceback (most recent call last):
  File "model_test.py", line 7, in <module>
    model['init(__s0)'] = 5
  File "[path to roadrunner.py]", line 3591, in __seti

[2019-12-05 00:24] hsauro commented on #579
This looks like an SBML restriction. The initial value of __s0 was assigned using:

 __s0 = ic_DNA_p70S6kinase1_1;

where the right-hand side was set using

ic_DNA_p70S6kinase1_1 = 1

I think SBML won't allow you to change species that have been assigned by a value taken from another expression.  There are two ways round this:

1. Don't use the assignment, use instead something like

__s0 = 1 #ic_

[2019-12-05 01:23] opurcell commented on #579
Thanks for the quick reply, very much appreciated.

Regarding your two solutions. If I understand (1) correctly, that might not be possible because of restrictions within pySB - I have to declare the initial conditions in a specific way, which requires the assignment to an expression rather than directly as a value. Solution (2) works great however. My concern with (2) it is that I am not using it

[2019-12-05 01:31] luciansmith commented on #579
I am going to guess that __s0 semantically means "The value of
ic_DNA_p70S6kinase1_1 at the beginning of the simulation", and
ic_DNA_p70S6kinase1_1 means "The concentration of this species".  As such,
if you *changed* __s0 to be '5', it would no longer be equal to 'the value
of  ic_DNA_p70S6kinase1_1 at the beginning of the simulation", it would
just be 5.  This is why roadrunner refuses to change

[2019-12-05 01:52] hsauro commented on #579
ok I see, if you're using libroadrunner from a compiled language such as C
you can use the method setValue ('__s0', 5). That is the same as r.__s0 = 5

Herbert

[2019-12-05 19:08] opurcell commented on #579
Thanks both for the comments. Herbert I am using Python so I don't know if there is an equivalent, however it turns out its a one liner to create the required variable so it's not as ugly as I thought.

Lucian - thanks very much. Perhaps you could clear something up for me as your comment made me realize that there are a couple of things I don't understand about how the initial condition variables

[2019-12-05 19:56] hsauro commented on #579
The notation init() only applies to floating species. Any parameters used
to set an initial condition, such as  ic_DNA_p70S6kinase1_1 are not
considered floating species and hence can't be set using init()

You can get the list of floating species by typing
r.getFloatingSpeciesIds() at the python console.

Herbert

[2019-12-05 21:08] luciansmith commented on #579
Thanks for the clarification!  It sounds like my guess was wrong: it was
__s0 that's the species, and ic_DNA_p70S6kinase1_1  that's the parameter.
That makes other things clearer.

After some experimentation, this is what I discovered:

First, you are correct that you can call
'model["init("ic_DNA_p70S6kinase1_1 ")] = 5' without causing an error, but
that this doesn't do anything.  This is a bug i

[2019-12-05 21:27] luciansmith opened #580 "rr["init(parameter)"] behaves oddly"
The functionality of setting the initial value of a parameter is odd, and probably slightly broken.  According to Herbert, he thought it didn't work at all.  But it does, but doesn't behave as you might expect.

Here's my very simple setup.  The model is:

p0=5;
s0=p0;
J0: ->s0; 1;

First, it's not listed in the 'keys' of the model:
In[62]: rr.keys()
Out[62]:
['s0',
 '[s0]',
 'default_compartment'

[2019-12-05 22:17] luciansmith commented on #580
Also, if you set init(species), the value changes instantly.  From a different model:

rr = roadrunner.RoadRunner("rr_test.xml")
rr.s0
Out[86]: 3.0

rr["init(s0)"] = 10
rr.s0
Out[88]: 10.0

if we want to allow init(param) to work, it should behave the same.

[2019-12-06 00:28] hsauro commented on #580
Once we have new people in place in the new year this is something we
should look at.

Herbert

On Thu, Dec 5, 2019 at 1:27 PM Lucian Smith <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-12-06 00:35] hsauro commented on #579
Not sure if your code will work:

model = roadrunner.RoadRunner("filename.xml")
model["ic_DNA_p70S6kinase1_1'] = 5
model.reset()
model.simulate(0, 10, 100)
model.plot()

As far as I remember reset loads the floating species values with the
values stored in the init_x variables. We need Andy here to comment, not
sure if he gets these emails.

Herbert

On Thu, Dec 5, 2019 at 1:09 PM Lucian Smith <no

[2019-12-06 01:00] luciansmith commented on #579
I made a test model and checked, to make sure.  The following program illustrates what's going on, using the attached file.
[rr_test.xml.txt](https://github.com/sys-bio/roadrunner/files/3929838/rr_test.xml.txt)

import roadrunner
rr = roadrunner.RoadRunner("rr_test.xml.txt")
rr.timeCourseSelections = ['time', 's0', 'p0']
rr.simulate(0, 10, 100)
rr.plot()

rr = roadrunner.RoadRunner("rr_test.xml.tx

[2019-12-06 01:03] luciansmith commented on #579
(This illustrates why roadrunner is refusing to set "init(s0)": it's already set to be an initial assignment.  'reset' runs that initial assignment.)

[2019-12-06 01:17] hsauro opened #581 "New api for adding models generates bad sbml"
If you create a model using the new api it doesn’t create correct sbml. The sbml validator will flag it as invalid sbml. The reason is that the listofmodifiers section is missing from reactions. The listofmodifers should list species that are present in the kinetic law but are neither reactants or products. Note, you’re not allowed to have an empty  Only include one if there are modifiers

[2019-12-09 14:17] Karrenbelt opened #582 "python3.8 pip package"
could roadrunner be made pip installable in python 3.7 and 3.8?

[2019-12-09 16:24] hsauro commented on #582
I believe there is a 3.7 version now available via pip. I'm ccing the
author for him to confirm. If there isn't one now there will definitely be
one before the end of this month.

Herbert Sauro

On Mon, Dec 9, 2019 at 6:18 AM Zarathustra <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://

[2019-12-10 14:38] matthiaskoenig commented on #582
Yes, the py37 version is available from pip (at least for linux, not sure about other OS).

[2019-12-10 14:41] matthiaskoenig commented on #582
Strangly, I am getting `libroadrunner-1.6.0` for py3.7, but only `libroadrunner-1.5.4` for py3.6. It would be great if the same libroadrunner versions exist on all python versions.

[2019-12-10 16:40] hsauro commented on #582
I guess we could produce a new 3.6 as well.

Herbert

On Tue, Dec 10, 2019 at 6:41 AM Matthias König <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-12-10 18:20] hsauro commented on #582
I think colab only accepts 3.6 so it probably should also produce a 3.6.

There will be another update another around Christmas.

Herbett

On Tue, Dec 10, 2019 at 8:36 AM Herbert M Sauro <hsauro@uw.edu> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-12-18 22:26] andrewbriand commented on #573
It appears for the first model (BIOMD0000000446.txt) that the way libroadrunner attempts to cache loaded values during LLVM IR generation causes LLVM errors like the following:
[code]
In other words, %n has not necessarily been assigned when %multmp64 is assigned. I believe this is because roadrunner has cached the llvm::Value corresponding to %n.

Stopping roadrunner from caching these values (by

[2019-12-18 22:52] andrewbriand commented on #573
BIOMD0000000789.txt appears to be invalid SBML, I get the following two errors when validating it:
[code]

[2019-12-20 23:34] andrewbriand commented on #581
Do you have an example script where this occurs? In my own testing roadrunner does output a listOfModifiers when a reaction is added whose rate law includes species that are not products or reactants.

[2019-12-23 17:52] hsauro commented on #581
I'm going to try creating the bug at end today (23rd)

H

On Fri, Dec 20, 2019 at 3:34 PM Andrew Briand <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-12-23 18:50] hsauro commented on #581
Actually I don't have access to the new API to try it out. There isn't yet
a spyder install for me to use. All I can give you is some jula code that
Jin used that resulted in the bad sbml, Note also issue #575, that needs to
be fixed as well.

# There is a bug that prevents them creating a new sbml without first
having a minimal sbml loaded first, error #575
sbmlFile = "minimal.xml"
f = open(sbmlF

[2019-12-23 20:25] hsauro commented on #581
We managed to copy Jin Xu roadrunner binaries to a new windows machine and we'll see if we can reproduce the bug on the machine.

[2019-12-23 20:56] Basie12 opened #583 "Can't create new model using model creation API"
Using the following code I get the error message:

return _roadrunner.RoadRunner_getSBML(self, level, version)

RuntimeError: A model needs to be loaded before one can use this method

What do I need to do to create a valid model?

import roadrunner
import tellurium as te
r = roadrunner.RoadRunner()

r.addCompartment('c1', 1.0, False)
r.addParameter('k1', 1.2, False)
r.addParameter('k2', 1.2, Fals

[2019-12-23 21:12] Basie12 opened #584 "Using make model api produces incorrect units for model"
The following script produces bad SBML with respect to units:

Note that we have to load roadrunner with an empty xml file otherwise we can't produce any model.  See earlier bug issue.

import roadrunner
import tellurium as te
r = roadrunner.RoadRunner('empty.xml')

r.addCompartment('c1', 1.0, False)

r.addParameter('k1', 1.2, False)
r.addParameter('k2', 1.2, False)

# This line produces bad sbml,

[2019-12-23 21:13] Basie12 opened #585 "Typo in docs, eg addSpecies, the boolean flag is incorrectly spelt"
See docs on addSpecies and other model making API

r.addSpecies("s1", "compartment", 0.1, "concentration", false)

The Boolean flag should be False not false.

[2019-12-23 21:49] hsauro commented on #585
Currently being fixed...

[2019-12-23 21:51] hsauro commented on #581
It appears making a model via the python interface produces correct sbml (except for the units issue and requirng a dummy model to get started, see other issues). Investigating further.

[2019-12-23 21:59] hsauro commented on #581
We reproduced the bug, it only happens if you use the C_API dll.

[2019-12-24 02:45] andrewbriand commented on #583
I believe the issue here is that the model was never generated. In order for this to occur, the forceRegenerate flag needs to be set to true on the last model editing action. So changing the script to the following should work:

import roadrunner
import tellurium as te
r = roadrunner.RoadRunner()

r.addCompartment('c1', 1.0, False)
r.addParameter('k1', 1.2, False)
r.addParameter('k2', 1.2, False)

[2019-12-24 04:24] hsauro commented on #583
Ah that’s what it was.

H

On Mon, Dec 23, 2019 at 6:46 PM Andrew Briand <notifications@github.com>
wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2019-12-24 04:51] andrewbriand commented on #584
The substanceUnits flag of the addSpecies function simply sets the substanceUnits attribute of that species' representation in SBML. Its use case would be for modifying existing SBML models, unless we decide to add functions to allow users to define their own units through libroadrunner.

I will add an exception that prevents users from specifying substanceUnits that are not in the model and try t

[2019-12-24 05:16] hsauro commented on #584
Can you provide an example script that generates a working sbml model, we
can include it in the doc as an example We did one today that had 3
species, and 2 reactions. The first reaction had a rate law of k1*S1 and
the second one had a rate law of k2*S2/S1.

The second rate law should result in a listofmodifiers section in the
resulting sbml, it works when done from python but we noticed it don’t

[2020-03-17 13:04] vgalisson opened #590 "Unable to pip install libroadrunner on Jetson Nano"
Hi,

I'm unable to install `libroadrunner` on Jetson Nano, with default NVIDIA L4T OS in a python3.5 virtualenv.

When I do `pip install libroadrunner`, I get
[code]
I had the same issue with `tenuml`and `tesbml` and I was able to install them by installing `python-libnuml` and `python-libsbml` but can't find the equivalent for `libroadrunner`.

Thanks in advance for the help.

[2020-03-17 13:26] fbergmann commented on #590
I don't think prebuilt binaries are available for arm processors.

[2020-03-17 15:43] hsauro commented on #590
We don’t currently don’t have binaries for the arm processor. We might have
something later this year.

Herbert Sauro

On Tue, Mar 17, 2020 at 6:09 AM Victor <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-03-18 08:34] vgalisson commented on #590
thanks for the replies, I will have to find a workaround then.

[2020-03-18 08:34] #590 closed, assigned to nobody

[2020-03-18 16:14] hsauro commented on #590
We'll look into it at our end, as I am also keen on getting an ARM
distribution.

Herbert Sauro

On Wed, Mar 18, 2020 at 1:35 AM Victor <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/

[2020-03-26 00:38] opurcell opened #591 "Zero values upon changing order of magitude of initial conditions"
Hi,

I have run into an issue with using initial conditions below a certain order of magnitude. I have attached a very small test SBML file that I am using, although I am setting all kinetic parameter values and initial conditions after loading as part of my pipeline so they are not accurately defined in it. The kinetic parameters are typical for their type, between 10E7 and 10E-5. When using init

[2020-03-26 00:56] hsauro commented on #591
How are you calling libroadrunner, from Python or some other application?

If you have any python code that runs this, that would be useful to try
out. I suspect it has something to do with the tolerance settings on the
solver.

On Wed, Mar 25, 2020 at 5:38 PM opurcell <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.

[2020-03-26 19:22] opurcell commented on #591
Thanks for the help and the quick response - it makes using libroadrunner much more feasible. I made a small python file with a test case to post but I couldn't reproduce the problem. Turns out it was a simple error. I am setting the initial conditions inside my code and using 'exec('%s = %f' % (string, value))' to generate the 'model.__sX = value' statement. %f by default doesn't have enough prec

[2020-03-26 19:22] #591 closed, assigned to nobody

[2020-03-26 19:36] hsauro commented on #591
Glad to hear you sorted it out.

Herbert

On Thu, Mar 26, 2020 at 12:24 PM opurcell <notifications@github.com> wrote:

--
Herbert Sauro, Professor
University of Washington, Bioengineering
206-685-2119, www.sys-bio.org
hsauro@uw.edu
Books: http://books.analogmachine.org/